@model CBBW.Areas.Security.ViewModel.CTVApprovalVM
@{

}
<div class="row newTable">
    <div class="col-md-12">
        <div class="heading_text_btn mb-3 mt-4">
            <!-- <div class="leftButton">
                <button type="submit" class="btn btn-primary"
                    onclick="window.location.href='tours_rules.html';">Tour Rules</button>
                <button type="submit" class="btn btn-secondary m-2"
                    onclick="window.location.href='ta_da_rules.html';">TA
                    & DA
                    Rules</button>
                <button type="submit" class="btn btn-success"
                    onclick="window.location.href='local_vehicle_schedule_details_entry.html';">Local Vehicle
                    Schedule</button>
            </div> -->

            <div class="leftButton">
                <button type="submit" class="btn btn-primary me-2" onclick="window.location.href='vehicle_trip_schedule_approval_list.html';">
                    <i data-feather="arrow-left-circle"></i>
                    Back
                </button>
                <button type="submit" class="btn btn-secondary me-2">
                    <i data-feather="upload"></i>
                    Submit
                </button>
                <button type="submit" class="btn btn-white">
                    <i data-feather="x-circle"></i>
                    Clear
                </button>
            </div>
            <h2 style="text-align: right;">“Company Transport” Vehicle Trip Schedule – APPROVAL</h2>
        </div>
    </div>


    <div class="col-md-12 mb-4">
        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-2 upper-tab-buttons">
                <!-- <button type="button" class="btn btn-primary me-2"
                    onclick="window.location.href='tours_rules.html';">Local
                    Tour Rules
                </button>

                <button type="button" class="btn btn-primary me-2"
                    onclick="window.location.href='ta_da_rules.html';">Other
                    TA & DA Rules
                </button>

                <button type="button" class="btn btn-primary"
                    onclick="window.location.href='local_vehicle_schedule_details_entry.html';">Other
                    Local Vehicle Schedule
                </button> -->

                <button type="button" class="btn btn-primary me-2" onclick="window.location.href='add_tours_rules_view_approval.html';">
                    Tour
                    Rules
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.location.href='#';">
                    TA & DA
                    Rules
                </button>

                <button type="button" class="btn btn-primary" onclick="window.location.href='#';">
                    Local Vehicle
                    Schedule
                </button>

            </div>
        </div>


        <div class="card mb-4 mt-4">
            <div class="card-body approvalForm">
                <form class="form-sample form-inline row ms-auto">
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Ref. Company Transport Vehicle Trip Schedule – ENTRY Note No :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(m => m.NoteNo,
                                       new SelectList(Model.ListofNoteNumbers, "NoteNo", "NoteNo"), "Select a note",
                                       htmlAttributes: new
                                       {
                                           @class = "form-select pointer canclear"
                                       })

                        </div>

                        <label class="col-form-label col-md-1">
                            Date  :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@DateTime.Today.ToString("dd-MM-yyyy")" disabled>
                        </div>
                        <label class="col-form-label col-md-1">
                            Time  :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@DateTime.Today.ToString("hh:mm tt")" disabled>
                        </div>

                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Center Code & Name  :
                        </label>
                        <div class="col-md-6">
                            <input id="txtCenterCodenName" type="text" class="form-control" value="01 / Nizamabad" disabled>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            For The Month & Year  :
                        </label>
                        <div class="col-md-3">
                            <input id="txtForTheMonthYear" type="text" class="form-control" value="Sept 2022" disabled>
                        </div>
                        <label class="col-form-label col-md-1">
                            From Date  :
                        </label>
                        <div class="col-md-2">
                            <input id="txtFromDate" type="text" class="form-control" value="16/09/2022" disabled>
                        </div>
                        <label class="col-form-label col-md-1">
                            To Date  :
                        </label>
                        <div class="col-md-2">
                            <input id="txtToDate" type="text" class="form-control" value="30/09/2022" disabled>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Vehicle No.  :
                        </label>
                        <div class="col-md-3">
                            <input id="txtVehicleNo" type="text" class="form-control" value="Vehicle Number 1" disabled>
                        </div>
                        <label class="col-form-label col-md-1">
                            Vehicle Type  :
                        </label>
                        <div class="col-md-2">
                            <input id="txtVehicleType" type="text" class="form-control" value="SUV" disabled>
                        </div>
                        <label class="col-form-label col-md-1">
                            Model Name  :
                        </label>
                        <div class="col-md-2">
                            <input id="txtModelName" type="text" class="form-control" value="Bolero" disabled>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <label class="col-form-label col-md-3">
                            Driver No. & Name  :
                        </label>
                        <div class="col-md-6">
                            <input id="txtDriverNonName" type="text" class="form-control" disabled>
                        </div>
                    </div>

                </form>
            </div>
        </div>


        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-2">
                <button type="button" class="btn btn-primary me-2" onclick="window.location.href='local_vehicle_schedule_details_approval.html';">
                    Local
                    Vehicle Schedule - Date Wise
                    Vehicle Trip Details Entry
                </button>

                <button type="button" class="btn btn-primary" onclick="window.location.href='other_trip_schedule_details_approval.html';">
                    Other
                    Trip Schedule - Date Wise Vehicle
                    Trip Details Entry
                </button>
            </div>
        </div>
        <div class="bgColor bg-transparent border-0">
            <ul style="list-style:none; display: flex; align-items: center; justify-content: center; margin: 0;">
                <li style="font-size: 18px;">
                    The Entry Is Done As Per Policy &amp; As Required:
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example" disabled>
                            <option>-</option>
                            <option selected="" value="1">Yes</option>
                            <option value="1">No</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-body approvalForm">
                @*<form class="form-sample form-inline row ms-auto">*@
                <div class="row mt-3">
                    <label class="col-form-label col-md-3">
                        Approved :
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => m.IsApproved,
                                   new[] {
                                    new SelectListItem { Text = "Yes", Value = "true" },
                                    new SelectListItem { Text = "No", Value = "false" } }, "-",
                                   htmlAttributes: new
                                   {
                                       @class = "form-select pointer canclear"
                                   })

                    </div>
                    <label class="col-form-label col-md-2">
                        Date &amp; Time Approved :
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.DateTimeofApproval, "{0:dd-MMM-yyyy hh:mm:ss tt}",
                           htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })
                    </div>
                    <label class="col-form-label col-md-2">
                        Reason If Not Approved :
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.DisapprovalReason,
                           htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })
                    </div>

                </div>
                @*</form>*@


            </div>
        </div>



    </div>
</div>

@section headers{
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }
    </style>

}
@section scripts{
    <script src="~/UIContent/JS/CustomLayout.js"></script>
    <script src="~/UIContent/JS/CustomePage/CTVApproval.js"></script>
}