@using CBBW.BOL.CTV;
@model TripScheduleHdr
@{
    ViewBag.Title = "CTV Edit Note";
}

<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Vehicleno)
        @Html.HiddenFor(m => m.NoteNo)
        @Html.HiddenFor(m => m.CenterCode)
        @Html.HiddenFor(m => m.CenterName)
        @Html.HiddenFor(m => m.CentreCodenName)
        @Html.HiddenFor(m => m.FortheMonth)
        @Html.HiddenFor(m => m.FortheYear)
        @Html.HiddenFor(m => m.FortheMonthnYear)
        @Html.HiddenFor(m => m.FromDate)
        @Html.HiddenFor(m => m.ToDate)
        @Html.HiddenFor(m => m.VehicleType)
        @Html.HiddenFor(m => m.ModelName)
        @Html.HiddenFor(m => m.DriverNo)
        @Html.HiddenFor(m => m.DriverName)
        @Html.HiddenFor(m => m.DriverNonName)
        @Html.HiddenFor(m => m.TripPurpose)
        @Html.HiddenFor(m => m.IsOTSSaved)
        <div class="col-md-12">
            <div class="heading_text_btn mb-3 mt-4">
                <div class="leftButton">
                    <button id="btnBack" type="button" class="btn btn-primary me-2"
                            onclick="BackButtonClicked()">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="submit" name="Submit" value="Edit"
                            class="btn btn-secondary me-2" disabled="disabled"
                            @*onclick="window.location.href='vehicle_trip_schedule.html';"*@>
                        <i data-feather="upload"></i>
                        Submit
                    </button>
                    <button type="button" id="btnClear" onclick="btnClearClicked()"
                            class="btn btn-white">
                        <i data-feather="x-circle"></i>
                        Clear
                    </button>
                </div>
                <h2 style="text-align: right;">“Company Transport” Vehicle Trip Schedule - EDIT</h2>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-2 upper-tab-buttons">
                    <button type="submit" name="Submit" value="TourRule" class="btn btn-primary me-2">
                        @*onclick="window.location.href='@Url.Action("Index", "TourRule",
                            new { Area = "Security" })';">*@
                        Tour
                        Rules
                    </button>

                    <button type="submit" name="Submit" value="TADARules" class="btn btn-primary me-2">
                        @*onclick="window.location.href='@Url.Action("ViewRedirection", "TADARules",
                            new { Area = "Security",CBUID=1 })';"*@
                        TA & DA
                        Rules
                    </button>

                    <button type="submit" name="Submit" value="LVTSChMat" class="btn btn-primary"
                            @*onclick="window.location.href='#';"*@>
                        Local Vehicle
                        Schedule
                    </button>

                </div>
            </div>
            <div class="card mb-4 mt-4">
                <div class="card-body formInputWidth">
                    @*<form class="form-sample form-inline row ms-auto">*@
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            Note No. :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.NoteNo, htmlAttributes: new { @class = "form-control", disabled = "disabled", id = "Noteno2" })
                            @*<input type="text" class="form-control" value="200001-CTV-20220930-00001" disabled>*@
                        </div>
                        <label class="col-form-label col-md-2">
                            Date :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBox("EntryDate2", DateTime.Today.ToString("dd/MM/yyyy"),
                               htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            @*<input type="text" class="form-control" value="30/09/2022" disabled>*@
                        </div>
                        <label class="col-form-label col-md-2">
                            Time :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBox("EntryTime2", DateTime.Now.ToString("hh:mm tt"),
                               htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row g-3 align-items-center">

                                <label class="col-form-label col-md-2">Center Code & Name : </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.CentreCodenName, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            For The Month & Year :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.FortheMonthnYear,
                           htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <label class="col-form-label col-md-2">
                            From Date :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}",
                           htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <label class="col-form-label col-md-2">
                            To Date :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}",
                           htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row g-3 align-items-center">

                                <label class="col-form-label col-md-2">Vehicle No. : </label>

                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Vehicleno,
                                    htmlAttributes: new
                                         {
                                             @class = "form-control",
                                        disabled = "disabled",id="vno"
                                         })
                                </div>
                                <!--<div class="col-md-6">
                                    <div id="divError" class="alert alert-danger alert-dismissible fade show inVisible">-->
                                @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
                                <!--<label id="lblError">asd</label>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            Vehicle Type :
                        </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.VehicleType,
                           htmlAttributes: new { ID = "VehicleTypeDisplay", @class = "form-control canclear", disabled = "disabled" })
                        </div>
                        <label class="col-form-label col-md-2">
                            Model Name :
                        </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.ModelName,
                           htmlAttributes: new { ID = "ModelNameDisplay", @class = "form-control canclear", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row g-3 align-items-center">

                                <label class="col-form-label col-md-2">Driver No. & Name : </label>

                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.DriverNonName,
                                    htmlAttributes: new { ID = "DriverNonNameDisplay", @class = "form-control canclear", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            Approved :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.IsApproved,
                           htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })

                        </div>
                        <label class="col-form-label col-md-2">
                            Date & Time Approved :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.ApprovedDateTime,
                           htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })

                        </div>
                        <label class="col-form-label col-md-2">
                            Reason If Not Approved :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.ReasonForDisApproval,
                           htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })

                        </div>

                    </div>



                    @*</form>*@

                </div>

            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <button id="btnLVT" type="submit" name="Submit" value="LVT"
                            class="btn btn-primary me-2"
                            @*onclick="window.location.href='local_vehicle_schedule_details_entry.html';"*@>
                        Local
                        Vehicle Schedule - Date Wise
                        Vehicle Trip Details Entry
                    </button>
                    <button id="btnOVT" type="submit" name="Submit" value="OVT"
                            class="btn btn-primary"
                            @*onclick="window.location.href='other_trip_schedule_details_entry.html';"*@>
                        Other
                        Trip Schedule - Date Wise Vehicle
                        Trip Details Entry
                    </button>
                </div>

                <div class="row" style="padding:0px">
                    <div class="col-6">
                        <div id="divErrorLVS" class="alert alert-danger alert-dismissible fade show inVisible">
                            @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
                            <label id="lblErrorLVS"></label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="divErrorOTS" class="alert alert-danger alert-dismissible fade show inVisible">
                            @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
                            <label id="lblErrorOTS"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgColor mt-4 bg-transparent border-0">
                <ul style="list-style:none; display: flex; align-items: center; justify-content: center; margin: 0;">
                    <li style="font-size: 18px;">
                        The Entry Is Done As Per Policy &amp; As Required:
                        <select id="submitConfirmation" onchange="ValidateControl()"
                                style="width:110px"
                                class="form-select canclear pointer is-invalid"
                                aria-label="Default select example">
                            <option selected value="">-</option>
                            <option value="1">Yes</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
@section headers
    {
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {
            //var mymsg = '@ViewBag.ErrMsg';
            if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
            if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/CTV/ScheduleLists";
                        window.location.href = url;
                    }
                }
            };
        });
    </script>
    <script>
        function ValidateControl() {
            var target = ValidateControl.caller.arguments[0].target;
            var targetid = $(target).attr('id');
            var isvalid = validatectrl(targetid, $(target).val());
            if (isvalid) {
                $(target).removeClass('is-invalid').addClass('is-valid');
            } else {
                $(target).removeClass('is-valid').addClass('is-invalid');
            }
            activateSubmitBtn();
        };
        function validatectrl(targetid, value) {
            var isvalid = false;
            switch (targetid) {
                case "submitConfirmation":
                    if (value == 1) { isvalid = true; }
                    break;
                case "DIC":
                    if (value == 1) { isvalid = true; }
                    break;

            }
            return isvalid;
        };
        function activateSubmitBtn() {
            var isactive = false;
            //alert($('.is-invalid').length);
            var btnSubmit = $('#btnSubmit');
            if ($('.is-invalid').length > 0) {
            }
            else {
                if ($('#IsOTSSaved').val() == 1) {
                    isactive = true;
                }
            }
            if (isactive) {
                btnSubmit.removeAttr('disabled');
            } else {
                btnSubmit.attr('disabled', 'disabled');
            }
        };
        function btnClearClicked() {
            $('#submitConfirmation').val('').removeClass('is-valid').addClass('is-invalid');
            $('#IsOTSSaved').val('0');
            activateSubmitBtn();
        };
        function BackButtonClicked() {
            var url = "/Security/CTV/ScheduleLists";
            if ($('#IsOTSSaved').val() == 1) {
                Swal.fire({
                    title: 'Confirmation',
                    text: 'Are you sure to go back?',
                    icon: 'question',
                    customClass: 'swal-wide',
                    //buttons: {
                    //    confirm: 'Ok'
                    //},
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                    showCancelButton: true,
                }).then(callback);
                function callback(result) {
                    if (result.value) {

                        window.location.href = url;
                    }
                }
            } else {
                //var url = "/Security/CTV/EditNote";
                window.location.href = url;
            }
        };
    </script>
    <script>
        $(document).ready(function () {
            var isapp = $('#IsApproved');
            var appdatetime = $('#ApprovedDateTime');
            if (isapp.val() == 'False') { isapp.val('No') }
            else { $('#ReasonForDisApproval').val(''); }
            if (appdatetime.val() == '01-01-0001 00:00:00') { appdatetime.val('') }
        });
    </script>
}
