@using System.Globalization;
@using CBBW.BOL.BIL;
@model TADABillGeneration
@{
    Layout = null;
}



<div class="col-md-12">
    <div class="heading_text_btn2 d-block mt-4 pt-3">
        <h2 class="text-left">Approved Expenses Detail:   </h2>
    </div>
</div>
<div class="col-md-12 mt-4" id="AllData">
    <div class="card" >
        <div class="card-body">
            <div class="table-responsive btnalign" id="record1_div">
                <table class="table table-bordered w-100" id="table">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle;">Subject </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Eligible Daily Allowance Amount   </th>
                            <th scope="col" style="text-align: center; vertical-align: middle; width: 14%;">T.A Amount  </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Local Conveyance Amount </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Lodging Expenses Amount</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total Expenses</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                Reasons If Less Amount Approved
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">
                                Claimed
                            </th>
                            <td id="AEDMax" class="text-center">
                               @Model.EDAllowance
                            </td>
                            <td id="ATAMax" class="text-center">
                               @Model.TAAmount
                            </td>
                            <td id="ALocMax" class="text-center">
                                @Model.LocalConveyance
                            </td>
                            <td  id="ALodMax" class="text-center">
                                @Model.Lodging
                            </td>
                            <td class="text-center">
                               @Model.TotalExpenses
                            </td>
                            <td class="text-center">
                                NA
                            </td>

                        </tr>
                        <tr id="first-table-tr">
                            <th scope="row">
                                Approved

                            </th>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.AEDAmount, new {@class = "form-control only-numeric", @onchange = "TotalExp();", @onkeypress = "return isNumber(event);", autocomplete = "off", onkeyup = "AEDAmount(this);" })
                                    <div class="qty_inc_dec">
                                        <div id="AED" class="increment" onclick="AEDincrementQty()">
                                         
                                            <i data-feather="chevron-up">
                                               </i>
                                        </div>
                                        <div class="decrement first-btn" onclick="decrementQty(this);">
                                                <i data-feather="chevron-down">
                                                   
                                                </i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ATAAmount, new {@class = "form-control number", @onchange = "TotalExp();", @onkeypress = "return isNumber(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="ATA" class="increment second-btn" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up ">
                                                
                                            </i>
                                        </i><i class="decrement second-btn" onclick="decrementQty(this)">
                                                <i data-feather="chevron-down">
                                                </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ALocAmount, new { @class = "form-control number", @onchange = "TotalExp();", @onkeypress = "return isNumber(event)" })
                                    <div id="errmsg"></div>
                                    <div class="qty_inc_dec">
                                        <i id="ALoc" class="increment third-btn" onclick="AEDincrementQty()">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement third-btn" onclick="decrementQty(this);">
                                                <i data-feather="chevron-down">
                                                </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ALodAmount, new {@class = "form-control number", onchange = "TotalExp();", @onkeypress = "return isNumber(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="ALod" class="increment four-btn" onclick="AEDincrementQty()">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement four-btn" onclick="decrementQty(this);">
                                                <i data-feather="chevron-down">
                                                </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                @Html.TextBoxFor(x => x.ATotalAmount, new { @minlength = 0, @class = "form-control",  @readonly = "readonly" })
                            </td>
                            <td class="text-center">
                                @Html.TextAreaFor(x => x.AReamrk, new {@class = "form-control" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-2">


                    <button type="button" id="TPDBtn"
                            onclick="TPDBtnClicked()"
                            class="btn btn-primary me-2">
                        Deductions From DA Detail
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mt-4 mb-2">
                    <div class="card-body alert alert-success text-dark approvalForm">
                        <div class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-form-label">
                                    <label>Approved :</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="IsApproves" data-name="IsApproves" data-name-text="IsApprove"
                                            onchange="ValidateControl()"
                                            class="form-select is-invalid clear"
                                            aria-label="Default select example">
                                        <option selected value="-1"> -</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-form-label">
                                    <label>Date &amp; Time Of Approval :</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="@DateTime.Today.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) @DateTime.Now.ToString("hh:mm tt")" disabled>
                                </div>
                                <div class="col-md-2 col-form-label">
                                    <label>Reason If not Approved :</label>
                                </div>
                                <div class="col-md-2">
                                    <textarea maxlength="100" id="ApproveReason" onchange="ValidateControl()" data-name="ApproveReason" class="form-control is-invalid clear" cols="10" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center">
                @*<button type="submit" name="Submit" value="Save" class="btn btn-green mt-2  me-2">
            <i data-feather="check-circle"></i>
            Save
        </button>*@
                <button type="button" id="SubmitBtn" disabled onclick="SaveDetails();" class="btn btn-green mt-2  me-2">
                    <i data-feather="check-circle"></i>
                    Save
                </button>
            </div>
        </div>
    </div>

</div>
