@using System.Globalization;
@using CBBW.BOL.BIL;
@model TADABillGeneration
@{
    Layout = null;
}



<div class="col-md-12">
    <div class="heading_text_btn2 d-block mt-4 pt-3">
        <h2 class="text-left">Approved Expenses Detail:   </h2>
    </div>
</div>
<div class="col-md-12 mt-4" id="AllData">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive btnalign" id="record1_div">
                <table class="table table-bordered w-100" id="table">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle;">Subject </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Eligible Daily Allowance Amount   </th>
                            <th scope="col" style="text-align: center; vertical-align: middle; width: 14%;">T.A Amount  </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Local Conveyance Amount </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Lodging Expenses Amount</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total Expenses</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                Reasons If Less Amount Approved
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Claimed
                            </th>
                            <td class="text-center">
                                @Model.EDAllowance
                            </td>
                            <td class="text-center">
                                @Model.TAAmount
                            </td>
                            <td class="text-center">
                                @Model.LocalConveyance
                            </td>
                            <td class="text-center">
                                @Model.Lodging
                            </td>
                            <td class="text-center">
                                @Model.TotalExpenses
                            </td>
                            <td class="text-center">
                                NA
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">
                                Approved
                            </th>
                            <td id="EEDMax" class="text-center">
                                @Model.AEDAmount
                            </td>
                            <td id="ETAMax" class="text-center">
                                @Model.ATAAmount
                            </td>
                            <td id="ELocMax" class="text-center">
                                @Model.ALocAmount
                            </td>
                            <td id="ELodMax" class="text-center">
                                @Model.ALodAmount
                            </td>
                            <td class="text-center">
                                @Model.ATotalAmount
                            </td>
                            <td class="text-center">
                                @Model.AReamrk
                            </td>

                        </tr>
                        <tr id="first-table-tr">
                            <th scope="row">
                                EDIT By I.A

                            </th>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.EEDAmount, new {@id= "EED", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="EED" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement first-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ETAAmount, new {@id= "ETA", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="ETA" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement second-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ELocAmount, new {@id= "ELoc", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="ELoc" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement third-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ELodAmount, new {@id= "ELod", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="ELod" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">
                                                
                                            </i>
                                        </i><i class="decrement four-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                @Html.TextBoxFor(x => x.ETotalAmount, new { @minlength = "0", @class = "form-control", @readonly = "readonly" })
                            </td>
                            <td class="text-center">
                                @Html.TextAreaFor(x => x.EReamrk, new { @class = "form-control",@onkeypress = "keypressCountWord(this);" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" id="TDBtn" class="btn btn-primary me-2" onclick="TDBtnClicked()">
                        Travelling  Details
                    </button>
                    <button type="button" id="TPDBtn"
                            onclick="TPDBtnClicked()"
                            class="btn btn-primary me-2">
                        Deductions From DA Detail
                    </button>
                </div>
            </div>

            <div class="text-center">
                <button type="button" id="SubmitBtn" disabled onclick="SaveDetails();" class="btn btn-green mt-2  me-2">
                    <i data-feather="check-circle"></i>
                    Save
                </button>
            </div>
        </div>
    </div>

</div>

