@using System.Globalization;
@using CBBW.BOL.BIL;
@model TADABillGeneration
@{
    Layout = null;
}
<style>
    .qty_inc_dec .increment{
        position:relative;
    }
        .qty_inc_dec .increment::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            content: "\f106";
            font: normal normal normal 21px/1 FontAwesome;
        }
    .qty_inc_dec .decrement{
        position:relative;
    }
        .qty_inc_dec .decrement::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            content: "\f107";
            font: normal normal normal 21px/1 FontAwesome;
        }
    .save-button {
        position: relative;
        padding: 4px 19px 4px 33px;
    }

        .save-button::after {
            position: absolute;
            top: 3px;
            right: 21px;
            width: 100%;
            content: "\f046";
            font: normal normal normal 21px/1 FontAwesome;
        }
</style>


<div class="col-md-12">
    <div class="heading_text_btn2 d-block mt-4 pt-3">
        <h2 class="text-left">Approved Expenses Detail:   </h2>
    </div>
</div>
<div class="col-md-12 mt-4" id="AllData">
 
    <div class="card">
        <div class="card-body">
            <div class="table-responsive btnalign" id="record1_div">
                <table class="table table-bordered w-100" id="table">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle;">Subject </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Eligible Daily Allowance Amount   </th>
                            <th scope="col" style="text-align: center; vertical-align: middle; width: 14%;">T.A Amount  </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Local Conveyance Amount </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Lodging Expenses Amount</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Total Expenses</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                Reasons If Less Amount Approved
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Claimed
                            </th>
                            <td class="text-center">
                                @Model.EDAllowance
                            </td>
                            <td class="text-center">
                                @Model.TAAmount
                            </td>
                            <td class="text-center">
                                @Model.LocalConveyance
                            </td>
                            <td class="text-center">
                                @Model.Lodging
                            </td>
                            <td class="text-center">
                                @Model.TotalExpenses
                            </td>
                            <td class="text-center">
                                NA
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">
                                Approved
                            </th>
                            <td id="EEDMax" class="text-center">
                                @Model.AEDAmount
                            </td>
                            <td id="ETAMax" class="text-center">
                                @Model.ATAAmount
                            </td>
                            <td id="ELocMax" class="text-center">
                                @Model.ALocAmount
                            </td>
                            <td id="ELodMax" class="text-center">
                                @Model.ALodAmount
                            </td>
                            <td class="text-center">
                                @Model.ATotalAmount
                            </td>
                            <td class="text-center">
                                @Model.AReamrk
                            </td>

                        </tr>
                        <tr id="first-table-tr">
                            <th scope="row">
                                EDIT By I.A

                            </th>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.EEDAmount, new { @id = "EED", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="ED" class="increment" onclick="AEDincrementQty();">

                                        </i><i class="decrement first-btn" onclick="decrementQty(this);">

                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ETAAmount, new { @id = "ETA", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="TA" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement second-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ELocAmount, new { @id = "ELoc", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="Loc" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">
                                            </i>
                                        </i><i class="decrement third-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="qty mx-auto">
                                    @Html.TextBoxFor(x => x.ELodAmount, new { @id = "ELod", @class = "form-control", autocomplete = "off", onkeyup = "return isNumber(event);", onkeypress = "return numbervalidate(event)" })
                                    <div class="qty_inc_dec">
                                        <i id="Lod" class="increment" onclick="AEDincrementQty();">
                                            <i data-feather="chevron-up">

                                            </i>
                                        </i><i class="decrement four-btn" onclick="decrementQty(this);">
                                            <i data-feather="chevron-down">
                                            </i>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                @Html.TextBoxFor(x => x.ETotalAmount, new { @minlength = "0", @class = "form-control", @readonly = "readonly" })
                            </td>
                            <td class="text-center">
                                @Html.TextAreaFor(x => x.EReamrk, new { @oncopy = "return false", @onpaste = "return false", @class = "form-control", @onkeypress = "keypressCountWord(this);" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" id="TDBtn" class="btn btn-primary me-2" onclick="TDBtnClicked()">
                        Travelling  Details
                    </button>
                    <button type="button" id="TPDBtn"
                            onclick="TPDBtnClicked()"
                            class="btn btn-primary me-2">
                        Deductions From DA Detail
                    </button>
                </div>
            </div><br /><br />


            <div class="col-md-12">
                <div class="table-responsive newTable " id="DADection">
                    <table class="table table-bordered w-100 btnalign " id="">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Department  Code & Name
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="25%">
                                    Requisition No.  & Date
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Prepared By No. & Name
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Requisition Amount
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Amount Paid
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">Remarks  </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @Html.HiddenFor(x => x.RequisitionDatestr)
                                @Html.HiddenFor(x => x.RequisitionDatestrDisplay)
                                @Html.HiddenFor(x => x.ATotalAmount)
                                @Html.HiddenFor(x => x.PreparedEmpNo, new { @id = "PreparedEmpNos" })
                                <td class="text-center">
                                    @Html.DropDownListFor(model => model.DeptCode, new SelectList(Model.Deptlist, "ID", "DisplayText"), "Select", htmlAttributes: new { @class = "form-select pointer is-invalid", @onchange = "GetDeptEmployee();ValidateControl();" })
                                </td>
                                <td class="text-center">
                                    <div class="d-flex">
                                        @Html.TextBoxFor(x => x.RequisitionNo, new { @class = "form-control is-invalid", @onchange = "ValidateControl()", @onkeypress = "return isNumber(event);" })
                                        <div class="position-relative pointer w-300 ms-2">
                                            @Html.TextBoxFor(x => x.RequisitionDate, new { @type = "date", @min = (Model.RequisitionDateMin), @max = (Model.RequisitionDateMax), @class = "form-control pointer is-invalid", onchange = "changeDateFormat(this);ValidateControl();" })
                                            <label class="datelabel pointer" style="width:80px" id="RequisitionDatelbl">Select date</label>
                                        </div>
                                    </div>


                                </td>
                                <td class="text-center">
                                    @Html.DropDownListFor(model => model.PreparedEmpNo, new SelectList("", "ID", "DisplayText"), "Select", htmlAttributes: new { @class = "form-select pointer is-invalid", @onchange = "ValidateControl()" })
                                </td>
                                <td class="text-center">
                                    @Html.TextBoxFor(x => x.RequisitionAmt, new { @Value =(Model.ATotalAmount),@class = "form-control numbers is-invalid", @onchange = "ValidateControl()", autocomplete = "off", onkeyup = "return isPytmFormDA(event);", onkeypress = "return numbervalidate(event)", @readonly = "readonly" })
                                </td>
                                <td class="text-center" id="DisplayETotalAmount">
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.Remark, new {@oncopy = "return false",@onpaste = "return false",  @class = "form-control", @onchange = "ValidateControl()", @onblur = "keypressCountWord(this);" })
                                </td>
                            </tr>


                        </tbody>
                    </table>



                </div>

                </div>
                <div class="text-center">
                    <button type="button" id="SubmitBtn" disabled onclick="SaveDetails();" class="save-button btn btn-green mt-2  me-2">
                        <i data-feather="check-circle"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>

</div>

