@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.BIL;
@model DaDetailsVM
@{
    Layout = null;
}
<style>
    .w-300 {
        width: 315px;
    }
</style>


<div class="col-md-12">
    <div class="heading_text_btn2 d-block mb-2 mt-2">
        <h2 class="text-center">Deductions From DA Detail:</h2>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="col-md-12 pt-3">
        <div class="card">
            <div class="card-body newTable">
                <div class="table-responsive">
                    <table class="table table-bordered w-100 btnalign " id="table">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Tour Date
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Hours Spent
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    DA Amount
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Deducted Amount
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Eligible DA Amount

                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    DA Deduction Reasons

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.DADetailslist)
                                {
                                    <tr>

                                        <td class="text-center">
                                            @item.ActualTourInDatestr
                                        </td>
                                        <td class="text-center">
                                            @item.TotalHours  Hours
                                        </td>
                                        <td class="text-center">
                                            @item.DAAmount
                                        </td>
                                        <td class="text-center">
                                            @item.DADeducted
                                        </td>
                                        <td class="text-center">
                                            @item.EAmount
                                        </td>
                                        <td class="text-center">
                                            @if (item.TotalHours > 0 && item.TotalHours >= item.HalfDayHours && item.TotalHours < item.FullDayHours)
                                            {
                                                <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default" readonly data-toggle="tooltip" data-placement="bottom" title=" Half Day  DA Deduction as per Rule  ">  Half Day  DA Deduction as per Rule  </textarea>
                                            }
                                            else if (item.TotalHours < item.HalfDayHours)
                                            {
                                                <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default" readonly data-toggle="tooltip" data-placement="bottom" title="Complete Day DA Deducted As Per Rule"> Complete Day DA Deducted As Per Rule</textarea>
                                            }
                                            else if (item.TotalHours >= item.FullDayHours && item.TotalHours > 0)
                                            {
                                                <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default" readonly data-toggle="tooltip" data-placement="bottom" title=" "> -</textarea>
                                            }
                                        </td>


                                    </tr>
                                }
                                <tr>
                                    <td class="text-center" colspan="2">
                                        Total Amounts:
                                    </td>
                                    <td class="text-center">
                                        @Model.TotalDA
                                    </td>
                                    <td class="text-center">
                                        @Model.TotalDaDect
                                    </td>
                                    <td class="text-center">
                                        @Model.TotalElg
                                    </td>
                                    <td class="text-center">
                                        &nbsp;
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
            @*@using (Html.BeginForm("SetDeductionFromData", "BIL", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.TadabollGen.NoteNumber)
                @Html.HiddenFor(x => x.TadabollGen.RefNoteNumber)
                @Html.HiddenFor(x => x.TadabollGen.RequisitionDatestr)
                @Html.HiddenFor(x => x.TadabollGen.RequisitionDatestrDisplay)
                @Html.HiddenFor(x => x.TadabollGen.ETotalAmount)
                @Html.HiddenFor(x => x.TadabollGen.ATotalAmount)
                @Html.HiddenFor(x => x.TadabollGen.PreparedEmpNo, new { @id = "PreparedEmpNo" })
                <div>
                    <div class="table-responsive newTable" id="DADection">
                        <table class="table table-bordered w-100 btnalign " id="">
                            <thead>
                                <tr>
                                    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                        Department  Code & Name
                                    </th>
                                    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="25%">
                                        Requisition No.  & Date
                                    </th>
                                    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                        Prepared By No. & Name
                                    </th>
                                    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                        Requisition Amount
                                    </th>
                                    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                        Amount Paid
                                    </th>
                                    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">Remarks  </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        @Html.DropDownListFor(model => model.TadabollGen.DeptCode, new SelectList(Model.Deptlist, "ID", "DisplayText"), "Select", htmlAttributes: new { @class = "form-select pointer is-invalid", @onchange = "GetDeptEmployee();ValidateControl();" })
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex">
                                            @Html.TextBoxFor(x => x.TadabollGen.RequisitionNo, new { @class = "form-control is-invalid", @onchange = "ValidateControl()", @onkeypress = "return isNumber(event);" })
                                            <div class="position-relative pointer w-300 ms-2">
                                                @Html.TextBoxFor(x => x.TadabollGen.RequisitionDate, new { @type = "date", @min = (Model.TadabollGen.RequisitionDateMin), @max = (Model.TadabollGen.RequisitionDateMax), @class = "form-control pointer is-invalid", onchange = "changeDateFormat(this);ValidateControl();" })
                                                <label class="datelabel pointer" style="width:80px" id="TadabollGen_RequisitionDatelbl">Select date</label>
                                            </div>
                                        </div>


                                    </td>
                                    <td class="text-center">
                                        @Html.DropDownListFor(model => model.TadabollGen.PreparedEmpNo, new SelectList("", "ID", "DisplayText"), "Select", htmlAttributes: new { @class = "form-select pointer is-invalid", @onchange = "ValidateControl()" })
                                    </td>
                                    <td class="text-center">
                                        @Html.TextBoxFor(x => x.TadabollGen.RequisitionAmt, new { @class = "form-control numbers is-invalid", @onchange = "ValidateControl()", autocomplete = "off", onkeyup = "return isPytmFormDA(event);", onkeypress = "return numbervalidate(event)" })
                                    </td>
                                    <td class="text-center">
                                        @Model.TadabollGen.ETotalAmount
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(x => x.TadabollGen.Remark, new { @class = "form-control", @onchange = "ValidateControl()", @onkeypress = "keypressCountWord(this);" })
                                    </td>
                                </tr>


                            </tbody>
                        </table>



                    </div>
                    <div class="text-center">
                        <button type="button" id="DFAbtnSubmit" disabled onclick="SaveRequisitionDetails();" class="btn btn-green mt-2  me-2">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                    </div>
                </div>




            }*@
        </div>
    </div>
</div>

