@using System.Globalization;
@using CBBW.BOL.BIL;
@model TADABillGeneration
@{

}

<div class="">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.NoteNumber)
        @Html.HiddenFor(x => x.RefNoteNumber)
        @Html.HiddenFor(x => x.EmployeeNo)
        @Html.HiddenFor(x=>x.SubmitCount)
        <div class="row newTable">
            <div class="fixedElement">
                <div class="col-md-12">
                    <div class="heading_text_btn mb-3 mt-4">
                        <div class="leftButton">
                            <button type="button" id="btnBacks" class="btn btn-primary me-2">
                                <i data-feather="arrow-left-circle"></i>
                                Back
                            </button>
                            <button type="button"  id="BtnSubmit" disabled class="btn btn-secondary me-2" onclick="FinalSubmit();">
                                <i data-feather="upload"></i>
                                Submit
                            </button>
                            <button type="button" id="clrbtn" class="btn btn-white">
                                <i data-feather="x-circle"></i>
                                Clear
                            </button>
                        </div>
                        <h2>TA & DA Bill Generation - APPROVAL </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center pt-2 pb-2">
                    <div class="upper-tab-buttons text-center">
                        <button type="button" class="btn btn-primary me-2" onclick="window.location.href='#';">
                            To Check  “Tour Rules”   Click Here
                        </button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='#';">
                            To Check “TA & DA Rules”   Click Here
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="col-md-12 mt-4 pt-3">
                    <div class="table-responsive max-content btnalign">
                        <table class="table table-bordered w-100" id="BILTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="vertical-align: middle;">SL.No.</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;"></th>
                                    <th scope="col" rowspan="2" style="background: pink;color: #000;">Action</th>
                                    <th scope="col" style="vertical-align: middle;">Ref. Bill No. & Date   </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Center Code & Name</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Person Type</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Employee No. & Name  </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Designation Code & Name </th>
                                    <!-- <th scope="col" style="text-align: center; vertical-align: middle;"> Ref. E.P Note No. & Date</th> -->
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Tour From Date & Time  </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Tour To Date & Time  </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">No. Of Days On Tour </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Purpose Of Visit </th>

                                </tr>
                            </thead>
                            <tbody id="tbody1">

                                <tr id="0" class="add-row">
                                    <th scope="row" class="text-center">1</th>
                                    <td class="text-center">
                                        <div class="form-check ms-3">
                                            <input class="form-check-input alterID CheckList" id="CheckList" disabled onchange="VisibleRows(); changeColor(this);" type="radio" name="thing">
                                        </div>
                                    </td>
                                    <td>
                                        <span class="actionBtn d-block">
                                            <button id="AddBtn" type="button" disabled
                                                    class="btn primaryLink alterID cloneBtn addBtn"
                                                    onclick="AddClonebtn()"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="Add">
                                                <i data-feather="plus"></i>
                                            </button>
                                            <button id="DeleteBtn" type="button"
                                                    class="btn secondaryLink inVisible alterID cloneBtn removeBtn"
                                                    onclick="removeClonebtn()"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="Delete">
                                                <i data-feather="x"></i>
                                            </button>
                                        </span>
                                    </td>
                                    <td>
  
                                        <select class="form-select max-content-input is-invalid alterID inValidTag xPerson"
                                                data-name="NoteNumbers"
                                                aria-label="Default select example"
                                                onchange="ChangeNoteNumber(); ValidateCloneRowCtrl();"
                                                id="NoteNumbers">
                                        </select>

                                    </td>

                                    <td id="EmployeeCodes" data-name="EmployeeCodes"
                                        class="text-center alterID  inVisible"> </td>
                                    <td id="RefNoteNumbers" data-name="RefNoteNumbers"
                                        class="text-center alterID  inVisible"> </td>

                                    <td id="CenterCodeName" data-name="CenterCodeName"
                                        class="text-center alterID "> </td>
                                    <td id="PersonTypetxt" data-name="PersonTypetxt"
                                        class="text-center alterID "> </td>

                                    <td id="EmployeeCodeName" data-name="EmployeeCodeName"
                                        class="text-center alterID "> </td>

                                    <td id="DesigCodeName" data-name="DesigCodeName"
                                        class="text-center alterID "> </td>
                                    <td id="TourFromDate" data-name="TourFromDate"
                                        class="text-center alterID "> </td>

                                    <td id="TourToDate" data-name="TourToDate"
                                        class="text-center alterID htmlVal"> </td>

                                    <td id="NoOfDays" data-name="NoOfDays"
                                        class="text-center alterID "> </td>
                                    <td class="text-center">
                                        <textarea name="PurposeOfVisit" id="PurposeOfVisit" class="form-control pointer-default" cols="20" rows="2" data-toggle="tooltip" data-placement="bottom" title="" readonly=""></textarea>
                                    </td>


                                </tr>
                            </tbody>
                            <tbody id="tbody2"></tbody>
                        </table>
                    </div>
                </div>
                <div id="ExpensesDetailsDiv" class="inVisible">
                </div>

                <div class="col-md-12 mb-4">
                    <div class="bgColor mt-4 bg-transparent content border-green text-left">
                        <ul style="list-style:none;">
                            <li style="font-size: 16px;">
                                The Details Displayed & Entered Are As Per Rule & Policy Of The Company. Hence Entered & Saved The Transaction As Required:
                                <input type="text" class="form-control content border-green width-85 pointer-none" value="Yes" disabled="">
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    }
    <div class="modal modal-previous-details fade" id="TPDModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">TA & DA Bill Generation - APPROVAL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="TPDModalDiv">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section headers
{
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }

        .Active {
            background-color: #ddf1dc;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/BIL/BILApprovalEntry.js"></script>
    <script>
        if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
        if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',

                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        $('#SubmitCount').val(0);
                        var Active = GetInActiveInDD('EmployeeNo');
                        if (Active) {
                            $('#SubmitBtn').makeEnabled();
                        } else {
                            $('#SubmitBtn').makeDisabled();
                        }
                    }
                }

        };
         if ('@ViewBag.FinalMsg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.FinalMsg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',

                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/BIL/ApprovalIndex";
                        window.location.href = url;
                    }
                }

            };
    </script>
    <script>
        $('.numberonly').keypress(function (e) {

            var charCode = (e.which) ? e.which : event.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9]/g))

                return false;

        });
    </script>
    <script>
        function changeColor(e) {
            var allElements = document.querySelectorAll(".selected-row");
            for (i = 0; i < allElements.length; i++) {
                allElements[i].classList.remove('selected-row');
            }
            let ele = e.parentElement.parentElement.parentElement;
            ele.classList.add("selected-row");
        }
    </script>


}
