@using System.Globalization;
@using CBBW.BOL.BIL;
@model TADABillGeneration
@{

}

<div class="">
    @using (Html.BeginForm("Create", "BIL", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.EmpNo)
        @Html.HiddenFor(x => x.RefEntryDate)
        @Html.HiddenFor(x => x.TourFromDate)
        @Html.HiddenFor(x => x.TourToDate)
        @Html.HiddenFor(x => x.EmployeeCodeName)
        @Html.HiddenFor(x => x.SubmitCount)
        @Html.HiddenFor(x => x.TourFromTime)
        @Html.HiddenFor(x => x.TourToTime)
        @Html.HiddenFor(x => x.IsVehicleProvided)
        @Html.HiddenFor(x => x.TADADenied)


        <div class="row newTable">
            <div class="fixedElement">
                <div class="col-md-12">
                    <div class="heading_text_btn mb-3 mt-4">
                        <div class="leftButton">
                            <button type="button" id="btnBacks" class="btn btn-primary me-2">
                                <i data-feather="arrow-left-circle"></i>
                                Back
                            </button>
                            <button type="submit" disabled id="SubmitBtn" name="Submit" value="Final" class="btn btn-secondary me-2">
                                <i data-feather="upload"></i>
                                Submit
                            </button>
                            <button type="button" class="btn btn-white" onclick="window.location.href='/Security/BIL/Create';">
                                <i data-feather="x-circle"></i>
                                Clear
                            </button>
                        </div>
                        <h2>TA & DA Bill Generation – ENTRY    </h2>
                        <div class="rightButton">
                            <button type="submit" class="btn btn-white inVisible" onclick="window.location.href='#';">
                                <i data-feather="printer"></i>
                                Print / View
                            </button>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-md-12">
                <div class="text-center pt-2 pb-2">
                    <div class="upper-tab-buttons text-center">
                        <button type="button" class="btn btn-primary me-2" id="btnTourRule">
                            To Check  “Tour Rules”   Click Here
                        </button>
                        <button type="button" class="btn btn-primary" onclick="window.open('/Security/TADARules/ViewRedirection?CBUID=1');">
                            To Check “TA & DA Rules”   Click Here
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4" id="AllData">
                <div class="card mt-4">
                    <div class="card-body approvalForm">
                        <div class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center ">
                                <label id="lblNoteDesc" class="col-form-label col-md-4">Ref. Tour Information & Feed Back Details Note no.</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.RefNoteNumber,
new SelectList(ViewBag.RNotelist, "NoteNumber", "NoteNumber"),
"Select Note Number",
htmlAttributes: new
{
    @class = "form-select pointer",
    id = "RefNoteNumber"
})
                                </div>
                                <div class="col-md-4">


                                    <div>
                                        <div class="row">
                                            <label class="col-form-label col-md-2">
                                                Date  :
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.RefEntryDatestr, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <label class="col-form-label col-md-2">
                                                Time  :
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.RefEntryTime, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 mb-4">
                    <div class="card-body approvalForm">
                        <div class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center ">
                                <div class="col-md-2 col-form-label">
                                    <label>Employee Code & Name:</label>
                                </div>
                                <div class="col-md-4">

                                    @Html.DropDownListFor(model => model.EmployeeNo, new SelectList("", "Value", "Text"), "Select", htmlAttributes: new { @class = "form-select pointer" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 mb-4">
                    <div class="card-body approvalForm">
                        <div class="form-sample form-inline row ms-auto">
                            <div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>Bill No.:  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.NoteNumber, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-1 col-form-label">
                                        <label>Date:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" value="@DateTime.Today.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" disabled>
                                    </div>
                                    <div class="col-md-1 col-form-label">
                                        <label>Time:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" value="@DateTime.Now.ToString("hh:mm tt")" disabled>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>Person Type:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.PersonTypetxt, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>Centre Code & Name:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.CenterCodeName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                </div>

                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>Designation Code & Name:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.DesigCodeName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>Daily Allowance Amount:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.DAAmount, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>DA Deducted Due To Non Compliance:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.DADeducted, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>Eligible Daily Allowance:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.EDAllowance, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>T.A Amount:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @*<input type="hidden" id="TAAmountMax" />*@
                                        <input type="hidden" id="LocalConveyanceMax" />
                                        <input type="hidden" id="LodgingMax" />
                                        @Html.TextBoxFor(x => x.TAAmount,
                                       new
                                       {
                                           @min = "0",
                                           @class = "form-control",
                                           onkeyup = "TotalExpance();",
                                           onkeypress = "return numbervalidate(event)"

                                       })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>Local Conveyance:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.LocalConveyance,
                                       new
                                       {
                                           @min = "0",
                                           @class = "form-control",
                                           onkeyup = "return Calculations(event);",
                                           onkeypress = "return numbervalidate(event)"
                                       })

                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-labeal">
                                        <label>Lodging:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.Lodging,
                                       new
                                       {
                                           @min = "0",
                                           @class = "form-control",
                                           onkeyup = "return Calculations(event);",
                                           onkeypress = "return numbervalidate(event)"
                                       })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>Total Expenses:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TotalExpenses, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>Tour From Date & Time:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TourFromDateNTime, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>To Date & Time:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TourToDateNTime, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-md-2 col-form-label">
                                        <label>No. Of Days On Tour:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.NoOfDays, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 col-form-label">
                                        <label>Purpose Of Visit:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.PurposeOfVisit, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-4 mb-4">
                            <div class="card-body  alert alert-danger text-dark approvalForm">
                                <div class="form-sample form-inline row ms-auto">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-2 col-form-label">
                                            <label>Approved :</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="" disabled="">
                                        </div>
                                        <div class="col-md-2 col-form-label">
                                            <label>Date &amp; Time Of Approval :</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="" disabled="">
                                        </div>
                                        <div class="col-md-2 col-form-label">
                                            <label>Reason If Not Approved :</label>
                                        </div>
                                        <div class="col-md-2">
                                            <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default" readonly>  </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="d-flex justify-content-center mt-4">
                                @*<button disabled id="Deducted" type="submit" name="Submit" value="DAD" class="btn btn-primary me-2">
                                        Deductions From DA Detail
                                    </button>*@

                                <button type="button" disabled id="Deducted"
                                        onclick="TPDBtnClicked()"
                                        class="btn btn-primary me-2">
                                    Deductions From DA Detail
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 p-3">
                        <div class="bgColor mt-4 bg-transparent content border-red text-left">
                            <ul style="list-style:none;">
                                <li style="font-size: 16px;">
                                    The Details Displayed & Entered Are As Per Rule & Policy Of The Company. Hence Entered & Saved The Transaction As Required:
                                    <select style="width: 10%;" disabled onchange="ValidateControl();" class="form-select content border-red is-invalid" aria-label="Default select example" id="Policy">
                                        <option selected value="-1">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>

                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center mb-4">
                        <button disabled id="Save" type="submit" name="Submit" value="Save" class="btn btn-green mt-3 me-2">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>


        </div>


    }

    <div class="modal modal-previous-details fade" id="TPDModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">TA & DA Bill Generation - APPROVAL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="TPDModalDiv">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section headers
{
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }
        .Active {
            background-color: #ddf1dc;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/BIL/BILEntry.js"></script>
    <script>
        if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
        if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',

                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        $('#SubmitBtn').makeEnabled();
                        //$('#SubmitCount').val(0);
                        //var Active = GetInActiveInDD('EmployeeNo');
                        //if (Active) {
                        //    $('#SubmitBtn').makeEnabled();
                        //} else {
                        //    $('#SubmitBtn').makeDisable();
                        //}
                    }
                }
           
        };
         if ('@ViewBag.FinalMsg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.FinalMsg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',

                }).then(callback);
             function callback(result) {
                        var url = "/Security/BIL/Index";
                        window.location.href = url;
                }
            
            };
    </script>

    
    <script>
        $('#btnBacks').click(function () {
            var url = "/Security/BIL/Index";
            if ($('#NoteNumber').val() != "") {
                Swal.fire({
                    title: 'Confirmation Message',
                    text: "Are You Sure Want to Go Back?",
                    icon: 'question',
                    customClass: 'swal-wide',
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                    showCancelButton: true,
                }).then(callback);
                function callback(result) {
                    if (result.value) {

                        window.location.href = url;
                    }

                }
            } else {

                window.location.href = url;
            };
        });
        $(document).ready(function () {
            $('#btnTourRule').click(function () {
                var url = "/Security/TourRule/ViewRedirection?CBUID=1";
                window.open(url);
            });
        });
    </script>
}