@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.ETS;
@model ETSHeaderEntryVM
@{
    ViewBag.Title = "Employees Travelling Schedule Details – Approval (FOR NZB STAFF)";

}


<div class="">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.NoteNumber)
        @Html.HiddenFor(m => m.CanDelete)
        @Html.HiddenFor(m => m.CBUID)
        @Html.HiddenFor(m => m.etsHeader.AttachFile)
        @Html.HiddenFor(m => m.etsHeader.CenterCodeName)
        @Html.HiddenFor(m => m.HeaderText)
        @Html.HiddenFor(m => m.etsHeader.RatifiedTime)


        <div class="row newTable">
            <div class="fixedElement">
                <div class="col-md-12">
                    <div class="heading_text_btn mb-3 mt-4">
                        <div class="leftButton">
                            <button type="button" id="btnBack" class="btn btn-primary me-2">
                                <i data-feather="arrow-left-circle"></i>
                                Back
                            </button>
                            @if (Model.CanDelete == 1)
                            {
                                <button id="btnDelete" type="submit" name="Submit" value="Delete"
                                        class="btn btn-primary me-2">
                                    <i data-feather="trash-2"></i>
                                    Delete
                                </button>
                            }
                        </div>
                        <h2>Employees Travelling Schedule Details –@Model.HeaderText (FOR NZB STAFF)</h2>
                    </div>
                </div>


            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="text-left pt-2 pb-2">
                    <button id="btnViewDoc" type="button" class="btn btn-light-green">
                        To Check Attached “Travelling Request Form”
                        Click Here
                    </button>
                </div>
                <div class="text-right pt-2 pb-2">
                    <div class="upper-tab-buttons">
                        <button type="button" class="btn btn-primary me-2" id="btnTourRule">
                            To Check  “Tour Rules”   Click Here
                        </button>
                        <button type="button" class="btn btn-primary " onclick="window.open('/Security/TADARules/ViewRedirection?CBUID=1');">
                            To Check “TA & DA Rules”   Click Here
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="card mb-4 mt-4">
                    <div class="card-body approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center mb-4">
                                <label class="col-form-label col-md-2">
                                    Note No. :
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" value="@Model.etsHeader.NoteNumber" disabled>
                                </div>
                                <label class="col-form-label col-md-1">
                                    Date  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="@Model.etsHeader.EntryDateDisplay" disabled>
                                </div>
                                <label class="col-form-label col-md-1">
                                    Time  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="@Model.etsHeader.EntryTime" disabled>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center mb-4">
                                <label class="col-form-label col-md-2">
                                    Center Code & Name  :
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" value="@Model.etsHeader.CenterCodeName" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card mb-4 mt-4">
                    <div id="Ratificate" class="card-body  alert alert-danger text-dark approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-form-label">
                                    <label>Ratified :</label>
                                </div>
                                <div class="col-md-2">



                                    <input type="text" class="form-control ApproveCtrl" value="@Model.etsHeader.IsRatifieds" disabled="">
                                </div>
                                <div class="col-md-2 col-form-label">
                                    <label>Date & Time Of  Ratification :</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="@Model.etsHeader.RatifiedDatestr @Model.etsHeader.RatifiedTime" disabled="">
                                </div>
                                <div class="col-md-2 col-form-label">
                                    <label>Reason If Not Ratified :</label>
                                </div>
                                <div class="col-md-2">
                                    <textarea name="" id="" cols="10" rows="2" class="form-control pointer-default" readonly>@Model.etsHeader.RatifiedReason</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 mt-4 pt-3">
                    <div class="heading_text_btn2 d-block mb-4">
                        <h2>
                            Travelling Person - Details
                        </h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive btnalign">
                                <table class="table table-bordered w-100" id="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="vertical-align: middle;">SL.No.</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                                Person Type
                                            </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">Employee No. & Name</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                                Designation Code & Name
                                            </th>
                                            <!-- <th scope="col" style="text-align: center; vertical-align: middle;"> Is He Back With Vehicle</th> -->
                                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                                Eligible Company Vehicle Type
                                            </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                                T.A & D.A Denied
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.PersonDtls.Count > 0)
                                            {
                                                var sl = 1;
                                                foreach (var item in Model.PersonDtls)
                                                {
                                                    <tr>
                                                        <th scope="row" class="text-left">@sl</th>
                                                        <td class="text-center">
                                                            @item.PersonTypeName

                                                        </td>
                                                        <td class="text-center">
                                                            @item.EmployeeNonName


                                                        </td>
                                                        <td class="text-center">
                                                            @item.DesignationCodenName

                                                        </td>

                                                        <td class="text-center">
                                                            @item.EligibleVehicleTypeName

                                                        </td>

                                                        @if (item.TADADenieds)
                                                        {
                                                            <td class="text-center">
                                                                Yes
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center">
                                                                No
                                                            </td>

                                                        }



                                                    </tr>
                                                    sl++;
                                                }
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" value="DTD" name="submit" class="btn btn-primary me-2">
                            Travelling Details
                        </button>
                    </div>
                </div>
                <div class="bgColor mt-4 bg-transparent text-left border-green">
                    <ul style="list-style:none;">
                        <li style="font-size: 16px;">
                            It Is Ensured That This Tour Is Prepared As Tour Category “Other Place” & In Factual It Is Taking Place The Same Way As Is selected:

                            <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                        </li>
                        <li style="font-size: 16px;">
                            It Is Ensured That This Person Is Carrying Laptop As Provided To Him. The Same Has Been Confirmed (as per leave rules):
                            <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                        </li>
                        <li style="font-size: 16px;">
                            The Entry Is Done As Per Policy & As Required:
                            <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                        </li>
                    </ul>
                </div>
                <div class="bgColor mt-4 bg-transparent text-left">
                    <ul style="list-style:none;">
                        <li style="font-size: 16px;">
                            Tour Is Approved / Rejected After Written Information & Consent Of COO. When Ever Required, VB Document Shall Be Produced:
                            <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                        </li>
                    </ul>
                </div>
                <div class="card mt-4 mb-4">
                    <div class="card-body alert alert-success approvalForm text-dark ">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-form-label">
                                <label>Approved :</label>
                            </div>
                            <div class="col-md-2">
                                    <input type="text" class="form-control width-85 pointer-none" value="@(Model.etsHeader.IsApproved == true?"Yes":"No")" disabled="">
                     
                            </div>
                            <div class="col-md-2 col-form-label">
                                <label>Date &amp; Time Of Approval :</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="@Model.etsHeader.ApproveDatestr @Model.etsHeader.ApproveTime" disabled>
                            </div>
                            <div class="col-md-2 col-form-label">
                                <label>Reason If Not Approved :</label>
                            </div>

                            <div class="col-md-2">
                                <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default" readonly data-toggle="tooltip" data-placement="bottom">   @Model.etsHeader.ApprovedReason</textarea>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    }
</div>


@section headers
{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/mySLUCtrl.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script>
        $(document).ready(function () {


            $('#btnViewDoc').click(function () {
                var docfilename = $('#etsHeader_AttachFile').val();
                var filepath = "/Upload/Forms/" + docfilename;
                if (docfilename.length > 2) { OpenWindow(filepath); }
                else {
                    Swal.fire({
                        title: 'Information',
                        text: "No Document Found For This Note",
                        icon: 'warning',
                        customClass: 'swal-wide',
                        buttons: {
                            //cancel: 'Cancel',
                            confirm: 'Ok'
                        },
                        //cancelButtonClass: 'btn-cancel',
                        confirmButtonColor: '#2527a2',
                    });
                }
            });
        });
    </script>
    <script>
         $(document).ready(function () {
            //var mymsg = '@ViewBag.ErrMsg';
            if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed To Submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
            if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/ETS/ETSNoteApproveList";
                        window.location.href = url;
                    }
                }
            };
            @*if ('@ViewBag.BtnActive' != '') {
                $('#BackBtnActive').val(1);
            };
            alert('@ViewBag.BtnActive');*@
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#btnBack').click(function () {
                var url = "/Security/ETS/ETSNoteApproveList";
                window.location.href = url;
            });
        });
        $(document).ready(function () {
            $('#btnTourRule').click(function () {
                var url = "/Security/TourRule/ViewRedirection?CBUID=1";
                window.open(url);
            });
        });
    </script>
}
