@using CBBW.BOL.TFD
@model List<TFDNoteList>
@{
    ViewBag.Title = "Tour Information & Feed Back Details - Approval ";
}

<div class="">
    <div class="row newTable">
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 mt-4">
                    <div class="leftButton">
                        <button type="submit" class="btn btn-primary me-2" onclick="window.location.href='/Security/TFD/ApprovalCreate';">
                            <i data-feather="plus-circle"></i>
                            Add
                        </button>
                    </div>
                    <h2>@ViewBag.Title </h2>
                </div>
            </div>
        </div>

        <div class="table-responsive">

            <table id="tblmgp" class="table w-100 table-bordered btnalign mt-4">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2" colspan="1"> SL.No.</th>
                        <th scope="col" rowspan="1" colspan="1">Ref Note No.</th>
                        <th scope="col" rowspan="1" colspan="1">Ref Date</th>
                        <th scope="col" rowspan="1" colspan="1">Note No</th>
                        <th scope="col" rowspan="1" colspan="1">Date</th>
                        <th scope="col" rowspan="1" colspan="1">Center Code & Name</th>
                        <th scope="col" rowspan="1" colspan="1">Employee Code & Name</th>
                        <th scope="col" rowspan="2" colspan="1" style="background: pink;color: #000;">Action</th>
                    </tr>
                    <tr>
                        <th scope="col" rowspan="1" colspan="1">
                            <div class="form-group">
                                <input id="filterRefNoteno" type="text" class="form-control tblSearch" placeholder="Search...">
                            </div>
                        </th>
                        <th scope="col" rowspan="1" colspan="1">
                            <div class="form-group">
                                <input id="filterRefDate" type="text" class="form-control tblSearch" placeholder="Search...">
                            </div>
                        </th>
                        <th scope="col" rowspan="1" colspan="1">
                            <div class="form-group">
                                <input id="filterNoteno" type="text" class="form-control tblSearch" placeholder="Search...">
                            </div>
                        </th>
                        <th scope="col" rowspan="1" colspan="1">
                            <div class="form-group">
                                <input id="filterDate" type="text" class="form-control tblSearch" placeholder="Search...">
                            </div>
                        </th>
                        <th scope="col" rowspan="1" colspan="1">
                            <div class="form-group">
                                <input id="filterCenterCN" type="text" class="form-control tblSearch" placeholder="Search...">
                            </div>
                        </th>
                        <th scope="col" rowspan="1" colspan="1">
                            <div class="form-group">
                                <input id="filterEmployeeCN" type="text" class="form-control tblSearch" placeholder="Search...">
                            </div>
                        </th>
                    </tr>
                </thead>

                
                <tbody>
                    <tr></tr>
                    @*@if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RowNumber</td>
                        <td>@item.NoteNumber</td>
                        <td>@item.EntryDateDisplay</td>
                        <td>@item.CenterCodeName</td>

                        <td>
                            <span class="actionBtn">
                                <button type="button" class="btn primaryLink" value="btn" data-toggle="tooltip" data-placement="top"
                                        title="Details">
                                    <i data-feather="eye"></i>
                                </button>

                            </span>
                        </td>
                    </tr>

                }
            }*@

                </tbody>
            </table>


        </div>






    </div>
</div>


@section headers
    {

}
@section scripts{
    <script>
        $(document).ready(function () {
            var dtinstance = $('#tblmgp').DataTable({
                columns: [
                    { 'data': 'RowNumber' },
                    { 'data': 'RefNoteNumber' },
                    { 'data': 'EntEntryDateDisplay' },
                    { 'data': 'NoteNumber' },
                    { 'data': 'EntryDateDisplay' },
                    { 'data': 'CenterCodeName' },
                    { 'data': 'AuthEmployeeName' },


                    {
                        'data': 'NoteNumber', render: function (data, type, row, meta) {
                            //var viewBtn = '<button type="button" class="btn primaryLink" data-toggle="tooltip" data-placement="top"> <i data-feather="eye"></i></button>';
                            var viewBtn = '<button type="button" id="' + row.NoteNumber + '" data-btn="V" onclick="FnViewNote(this)" class="btn primaryLink" data-toggle="tooltip" data-placement="top" title="Details"> <svg xmlns=http://www.w3.org/2000/svg width=24 height=24 viewBox="0 0 24 24" fill=none stroke=currentColor stroke-width=2 stroke-linecap=round stroke-linejoin=round class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx=12 cy=12 r=3></circle></svg></button>';
                            var deleteBtn = '<button type="button" id="' + row.NoteNumber + '" data-btn="D" onclick="FnViewNote(this)" class="btn secondaryLink" data-toggle="tooltip" data-placement="top" title="Remove" data-placement="top" title="" data-bs-original-title="Pending"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></button>';
                            var mbtns = '<span class="actionBtn d-block">';
                            mbtns = mbtns + viewBtn;
                            if (row.CanDelete) { mbtns = mbtns + deleteBtn; }
                            mbtns = mbtns + '</span>';
                            return type === 'display' ? mbtns : data;
                        }
                    },
                ],
                bServerSide: true,
                sAjaxSource: '/Security/TFD/GetApprovalforListPage',
                "pagingType": "input"
            });
            $('.tblSearch').on('keyup change', function () {
                dtinstance.search(this.value).draw();
            });
            $('.tblSearch').on('click', function (e) {
                e.stopPropagation();
            });
        });

        function FnViewNote(ctrl) {
            var notenumber = $(ctrl).attr('id');
            var btnType = $(ctrl).attr('data-btn');
            var destinationurlD = '/Security/TFD/ApprovalDetails?NoteNumber=' + notenumber + '&CanDelete=1&CBUID=0';
            var destinationurlV = '/Security/TFD/ApprovalDetails?NoteNumber=' + notenumber + '&CanDelete=0&CBUID=0';
            if (btnType == 'D') { window.location.href = destinationurlD; }
            if (btnType == 'V') { window.location.href = destinationurlV; }


        };


            //function GetDetailsPage(ctrl) {
            //    var targetid = $(ctrl).attr("id");
            //    var targetval = $(ctrl).attr('data-value');
            //    var url = '/Security/ETS/Details?NoteNumber=' + targetid;
            //    window.location.href = url;
            //};
    </script>
}