@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.TFD;
@model TFDHdrVM
@{

}

<div class="container">
    @using (Html.BeginForm("Details", "TFD", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.tfdHdr.NoteNumber)
        @*@Html.HiddenFor(x => x.NoteNumber)*@
        @Html.HiddenFor(x => x.tfdHdr.AuthEmployeeCode)
        @Html.HiddenFor(m => m.CanDelete)
        @Html.HiddenFor(m => m.CBUID)
        @Html.HiddenFor(m=>m.tfdHdr.ApprovalTime)
        <div class="row newTable">
            <div class="fixedElement">
                <div class="col-md-12">
                    <div class="heading_text_btn mb-3 mt-4">
                        <div class="leftButton">
                            <button type="button" onclick="BackUrls();" id="btnBacks" class="btn btn-primary me-2">
                                <i data-feather="arrow-left-circle"></i>
                                Back
                            </button>
                            @if (Model.CanDelete == 1)
                            {
                                <button id="btnDelete" type="submit" name="Submit" value="Delete"
                                        class="btn btn-primary me-2">
                                    <i data-feather="trash-2"></i>
                                    Delete
                                </button>
                            }

                        </div>
                        <h2>Tour Information & Feed Back Details - ENTRY </h2>
                    </div>
                </div>


            </div>


            <div class="col-md-12 mb-4" id="AllDiv">
                <div class="card mt-4">
                    <div class="card-body approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center mb-4">
                                <label class="col-form-label col-md-4">
                                    <div id="NZB_staff1">
                                        Ref. Employees Travelling  Schedule Details – ENTRY  Note No.:
                                    </div>

                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.tfdHdr.RefNoteNumber, new { @class = "form-control", @readonly = "readonly", id = "NoteNumber" })
                                </div>
                                <div class="col-md-4">
                                    <div id="NZB_staff">
                                        <div class="row">


                                            <label class="col-form-label col-md-2">
                                                Date  :
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.tfdHdr.EntEntryDate, new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                            <label class="col-form-label col-md-2">
                                                Time  :
                                            </label>

                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.tfdHdr.EntEntryTime, new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card mt-4 mb-4">
                    <div class="card-body approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center mb-4">
                                <div class="col-md-2 col-form-label">
                                    <label>Note No.:</label>
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.tfdHdr.NoteNumber, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                                <div class="col-md-1 col-form-label">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.tfdHdr.EntryDatestr, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-1 col-form-label">
                                    <label>Time:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.tfdHdr.EntryTime, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row d-flex align-items-center mb-4">
                                <div class="col-md-2 col-form-label">
                                    <label>Feed Back By Employee No. & Name: </label>
                                </div>
                                <div class="col-md-3">

                                    @Html.TextBoxFor(x => x.tfdHdr.AuthEmployeeName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row d-flex align-items-center mb-4">
                                <div class="col-md-2 col-form-label">
                                    <label>Tour From Date:</label>
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.tfdHdr.TourFromDate, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                                <div class="col-md-1 col-form-label">
                                    <label>Tour To Date:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.tfdHdr.TourToDate, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                                <div class="col-md-1 col-form-label">
                                    <label>Purpose Of Visit :</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextAreaFor(x => x.tfdHdr.PurposeOfVisit, new { @class = "form-control", @readonly = "readonly" })


                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="card mt-4 mb-4">
                    <div class="card-body  alert alert-success text-dark approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-form-label">
                                    <label>Approved :</label>
                                </div>
                                <div class="col-md-2">
                                    @if (Model.tfdHdr.ApprovalTime != null)
                                    {
                                        if (Model.tfdHdr.IsApproved == true)
                                        {
                                            <input type="text" class="form-control" value="Yes" disabled="">
                                        }
                                        else if (Model.tfdHdr.IsApproved == false)
                                        {
                                            <input type="text" class="form-control" value="No" disabled="">
                                        }


                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" value="-" disabled="">
                                    }

                                </div>
                                <div class="col-md-2 col-form-label">
                                    <label>Date &amp; Time Of Approval :</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="@Model.tfdHdr.ApprovalDTstr @Model.tfdHdr.ApprovalTime" disabled="">
                                </div>
                                <div class="col-md-2 col-form-label">
                                    <label>Reason If Not Approved :</label>
                                </div>
                                <div class="col-md-2">
                                    <textarea name="" id="" cols="30" rows="2" readonly class="form-control">@Model.tfdHdr.Remark</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 mt-4 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive  btnalign">
                                <div id="TPDiv" class="inVisible">
                                </div>
                                <div id="TourDiv" class="inVisible">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" id="TourFB" name="Submit" disabled value="FBD" class="btn btn-primary me-2">
                            Tour Feed Back Details
                        </button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bgColor mt-4 bg-transparent content border-red text-left">
                        <ul style="list-style:none;">
                            <li style="font-size: 16px;">
                                The “Tour Feed Back Details” Are Entered With The Best Of Knowledge, The Details Entered Are Correct & As Required:
                                <select disabled class="form-select  content border-red" aria-label="Default select example" id="Required">
                                    <option selected="" value="1">Yes</option>


                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section headers
{
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/TFD/TFDDetails.js"></script>
    <script>
        function BackUrls() {
            var url = "/Security/TFD/Index";
            var urlbk = url.replace(/&amp;/g, '&');
            window.location.href = urlbk;
        };
    </script>
    <script>
        if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
        if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/TFD/Index";
                        window.location.href = url;
                    }
                }
            };
    </script>

    <script>
        function VisibleRows(EmpNo) {
            var targetCtrl = $(VisibleRows.caller.arguments[0].target);
            var mID = targetCtrl.attr('id');
            var PType = $('#PersonType_' + mID).html();
            var EmployeeNo = $('#AuthEmployeeCode_' + mID).html();
            // var PName = $('#PersonName_' + mID).html();
            var PersonCentre = $('#PersonCentre_' + mID).html();
            var NoteNo;
            var ApprovalTime = $('#tfdHdr_ApprovalTime').val();
            if (ApprovalTime == "") {
                NoteNo = $('#NoteNumber').val();
            } else {
                NoteNo = $('#tfdHdr_NoteNumber').val();
            }
            

            var TourDetailsDiv = $('#TourDiv');
            TourDetailsDiv.removeClass('inVisible');

            var dataSourceURL = '/TFD/DateWiseTourView?NoteNumbers=' + $.trim(NoteNo) + '&PersonType=' + $.trim(PType) + '&EmployeeNo=' + $.trim(EmployeeNo) + '&PersonCentre=' + $.trim(PersonCentre) + '&ApprovalTime=' + ApprovalTime;
            $.ajax({
                url: dataSourceURL,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    TourDetailsDiv.html(result);
                },
                error: function (xhr, status) {
                    TourDetailsDiv.html(xhr.responseText);
                }
            })
        };
    </script>
    
}