@{
    ViewBag.Title = "Home Page";
}

<div style="padding:20px">
    <h1>Home Page</h1>
    <br/>
    <table style="border:1px solid black" cellpadding="10">
        <tr>
            <td style="border:1px solid black">
                Tours Rules
            </td>
            <td style="border:1px solid black">
                @Html.ActionLink("Rules - Tours Rules", "Index", "TourRule", new { area = "Security" }, null)
            </td>
        </tr>
        <tr>
            @*  *@
            <td style="border:1px solid black">
                TA DA Rules
            </td>
            <td style="border:1px solid black">
                @Html.ActionLink("Rules - TA DA Rules", "Index", "TADARules", new { area = "Security" }, null)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black">
                CTV Trip Schedule - Login <br/>(Log in should be other than the username - praveen)
            </td>
            <td style="border:1px solid black">
                @Html.ActionLink("CTV Trip Schedule - Login", "Index", "CTV", new { area = "Security" }, null)
            </td>
        </tr>
        @*<tr>
            <td style="border:1px solid black">
                CTV Trip Schedule - Add
            </td>
            <td style="border:1px solid black">
                @Html.ActionLink("CTV Trip Schedule", "Create", "CTV", new { area = "Security" }, null)
            </td>
        </tr>*@
        <tr>
            <td style="border:1px solid black">
                CTV Trip Schedule - Approval <br/>(Taking Default Login of user name - praveen)
            </td>
            <td style="border:1px solid black">
                @Html.ActionLink("CTV Trip Schedule - Approval", "ApprovalLists", "CTV", new { area = "Security" }, null)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black">
                Material Gatepass (Under QA)
            </td>
            <td style="border:1px solid black">
                @Html.ActionLink("Material GatePass", "Index", "MaterialGatePass", new { area = "Security" }, null)
            </td>
        </tr>
    </table>
</div>