@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.EntryII;
@model DCDetailsVM
<div class="heading_text_btn2 d-block mb-3">
    <h2 class="text-center">Reference DC Details</h2>
</div>
<div class="table-responsive newTable">
    <table class="table table-bordered btnalign" id="table">
        <thead>
            <tr>
                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                    Ref. Note No.
                </th>
                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                    Date
                </th>
                <th style="text-align: center; vertical-align: middle;" scope="col">
                    From Location Code & Name
                </th>
                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                    To Location Code & Name
                </th>
                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Remarks </th>
                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;background: pink;color: #000;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model.DCNoteDetailsFromEntryII != null && Model.DCNoteDetailsFromEntryII.Count > 0) 
            {
                foreach(var item in Model.DCNoteDetailsFromEntryII) 
                {
            <tr>
                <td class="text-center">
                    <select class="form-select" aria-label="Default select example">
                        <option value="0">Select DC Note</option>
                        @if (Model.DCNoteList != null)
                        {
                            foreach (var opt in Model.DCNoteList)
                            {
                                <option value="@opt.NoteNumber">@opt.NoteNumber</option>
                            }
                        }
                    </select>
                </td>
                <td class="text-center">
                    @item.NoteDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                </td>
                <td class="text-center">@item.FromLocationCodeName</td>
                <td class="text-center">@item.ToLocationCodeName</td>
                <td class="text-center">
                    <textarea name="" id="" cols="20" rows="2" disabled
                              class="form-control pointer-default">
                            @item.NoteRemarks
                            </textarea>
                </td>
                <td class="text-center">
                    <span class="actionBtn d-block">
                        <a href="#div_A">
                            <button type="button id="@item.NoteNumber"
                                    class="btn primaryLink"
                                    onclick="GetItemDetails(this)"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Details">
                                <i data-feather="eye"></i>
                            </button>
                        </a>
                    </span>
                </td>
            </tr>
                }
            }
            
                </tbody>
            </table>
        </div>

