@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.EntryII;
@model LWInnerPageVM

@Html.BeginForm()
{
@Html.HiddenFor(m => m.NoteNumber)
@Html.HiddenFor(m => m.DefaultPersonID)
@Html.HiddenFor(m => m.IsOffline)
<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12" style="position: relative;">
            <div class="heading_text_btn mb-4 mt-4">
                <div class="leftButton">
                    <button type="submit" class="btn btn-primary me-2" onclick="window.location.href='ETD_vehicle_allotment_entry_2_location_wise_add.html';">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="button" name="Submit"
                            value="Save"
                            class="btn btn-secondary me-2">
                        <i data-feather="check-circle"></i>
                        Save
                    </button>
                </div>
                <h2>Employee’s Travelling Details & Vehicle Allotment – ENTRY (II) </h2>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="heading_text_btn2 d-block mb-3">
            <h2> Location Wise Vehicle & Travelling Person IN & OUT Details:</h2>
        </div>
        <div class="heading_text_btn2 d-block mb-4">
            <h2 class="text-center">
                Date wise Vehicle IN & OUT Details
            </h2>
        </div>
        <div class="card">
            <div class="card-body">
                @*<form class="form-sample form-inline row ms-auto">*@
                    <div class="row d-flex align-items-center mb-3">
                        <div class="col-md-2 col-form-label">
                            <label>Driver Name :</label>
                        </div>
                        <div class="col-md-6 text-left">
                            <input type="text" class="form-control" value=" Md. Ismail" disabled="">
                        </div>
                    </div>
                @*</form>*@
                <div class="table-responsive">
                    <table class="table table-bordered w-100" id="">
                        <thead>
                            <tr>
                                <th colspan="3" style="text-align: center; vertical-align: middle;" scope="col">
                                    Vehicle Details
                                </th>
                                <th colspan="4" style="text-align: center; vertical-align: middle;" scope="col">
                                    Actual Tour IN
                                </th>
                                <th colspan="4" style="text-align: center; vertical-align: middle;" scope="col">
                                    Actual Tour OUT
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="10%">Remarks</th>
                            </tr>
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="5%">Vehicle No. </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="5%">Vehicle Type</th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Model Name
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                    RFID Card No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Date</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Time</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">KM IN</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                    RFID Card No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Date</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Time</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">
                                    KM OUT
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    TS01
                                </td>
                                <td class="text-center">SUV </td>
                                <td class="text-center">Bolero </td>
                                <td class="text-center">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">RFID001</option>
                                        <option value="2">RFID006</option>
                                        <option value="3">RFID009</option>
                                        <option value="4">NA</option>
                                    </select>
                                </td>
                                <td class="text-center">02/01/2023</td>
                                <td class="text-center">09:00 AM</td>
                                <td class="text-center">
                                    12400
                                </td>
                                <td class="text-center">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">RFID001</option>
                                        <option value="2">RFID006</option>
                                        <option value="3">RFID009</option>
                                        <option value="4">NA</option>
                                    </select>
                                </td>
                                <td class="text-center">05/01/2023 </td>
                                <td class="text-center">3:15 PM</td>
                                <td class="text-center">
                                    12400
                                </td>

                                <td class="text-center">
                                    <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default">   </textarea>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive mt-2">
                    <table class="table table-bordered w-100" id="">
                        <thead>
                            <tr>
                                <th colspan="3" style="text-align: center; vertical-align: middle;" scope="col">
                                    Vehicle Details
                                </th>
                                <th colspan="4" style="text-align: center; vertical-align: middle;" scope="col">
                                    Actual Tour IN
                                </th>
                                <th colspan="4" style="text-align: center; vertical-align: middle;" scope="col">
                                    Actual Tour OUT
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="25%">Remarks</th>
                            </tr>
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="5%">Vehicle No. </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="5%">Vehicle Type</th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Model Name
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                    RFID Card No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Date</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="25%">Time</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">KM IN</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                    RFID Card No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Date</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="25%">Time</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">
                                    KM OUT
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    TS01
                                </td>
                                <td class="text-center">SUV </td>
                                <td class="text-center">Bolero </td>
                                <td class="text-center">
                                    NA
                                </td>
                                <td class="text-center">
                                    <div class="position-relative pointer">
                                        <input type="date" class="form-control pointer" id="customDate">
                                        <label id="customDatelbl" class="datelabel pointer">Select Date</label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="input-group date pointer position-static placeholder-dark">
                                        <input id="" type="text" class="form-control timePicker" placeholder="Select Time">
                                    </div>
                                </td>
                                <td class="text-center">
                                    12350
                                </td>
                                <td class="text-center">
                                    NA
                                </td>
                                <td class="text-center">
                                    <div class="position-relative pointer">
                                        <input type="date" class="form-control pointer" id="customDate1">
                                        <label id="customDate1lbl" class="datelabel pointer">Select Date</label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="input-group date pointer position-static placeholder-dark">
                                        <input id="" type="text" class="form-control timePicker" placeholder="Select Time">
                                    </div>
                                </td>
                                <td class="text-center">
                                    12350
                                </td>
                                <td class="text-center">
                                    <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default" data-placement="bottom" title="Test">  </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mt-4">
    <div class="heading_text_btn2 d-block mb-3">
        <h2 class="text-center">
            Date Wise Travelling Person IN & OUT Details
        </h2>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="col-md-12">
                <div id="item-wise-table">
                    <div class="table-responsive newTable">
                        <table class="table table-bordered btnalign" id="TPTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        &nbsp;
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Sl No.
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Person Type
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col">
                                        Employee No. & Name
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Designation Code & Name
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Employee Center Code & name </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Authorised Person </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Vehicle Provided
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PersonDetails != null && Model.PersonDetails.Count > 0)
                                {
                                    int SL = 1;
                                    foreach (var item in Model.PersonDetails)
                                    {
                                        <tr id="tr_@item.PersonID">
                                            <th class="text-center">
                                                <div class="form-check ms-3">
                                                    <input class="form-check-input" type="radio"
                                                           value='valuable' name="x" id="@item.PersonID"
                                                           onchange="TPSelected()">
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonType">
                                                    @item.PersonType
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonID">
                                                    @item.PersonID
                                                </div>
                                                <div class="inVisible htmlVal" data-name="DesignationCode">
                                                    @item.DesignationCode
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonCenterCode">
                                                    @item.PersonCenterCode
                                                </div>
                                                <div class="inVisible htmlVal" data-name="TADADenied">
                                                    @item.TADADenied
                                                </div>
                                                <div class="inVisible htmlVal" data-name="Isdriver">
                                                    @item.Isdriver
                                                </div>
                                                <div class="inVisible htmlVal" data-name="IsVehicleProvided">
                                                    @item.IsVehicleProvided
                                                </div>
                                            </th>
                                            <th scope="row" class="text-center"> @SL</th>
                                            <th scope="row" class="text-center htmlVal" data-name="PersonTypeText">@item.PersonTypeText</th>
                                            <th scope="row" class="text-center htmlVal" data-name="PersonIdnName"> @item.PersonIdnName </th>
                                            <td class="text-center htmlVal" data-name="DesignationCodenName"> @item.DesignationCodenName</td>
                                            <td class="text-center htmlVal" data-name="PersonCenterName">@item.PersonCenterName</td>
                                            <td class="text-center htmlVal" data-name="AuthorisedEmpNoName">@item.AuthorisedEmpNoName</td>
                                            <td class="text-center ">@(item.IsVehicleProvided?"Yes":"No")</td>
                                        </tr>
                                        SL += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive max-content" id="record1_div">
                    <div class="newTable">
                        <table id="TPDtlTable" class="table table-bordered btnalign table-height" disabled>
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="3">
                                        Tour Destination Details
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        Scheduled Tour From Date
                                    </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        Required Tour IN
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        Night Stay Early Morning Punch
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2"> Actual Tour IN </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        Scheduled Tour To Date
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        Actual Tour OUT
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        Night Stay Late Night Punch
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2" width="10%">
                                        Status
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">
                                        Tour Category
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Center Code & Name</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Branch Code & Name </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; " width="124px">Time</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; " width="124px">Time</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; " width="124px">Time</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PersonDateWiseDetails != null && Model.PersonDateWiseDetails.Count > 0)
                                {
                                    int SL = 1;
                                    foreach (var item in Model.PersonDateWiseDetails)
                                    {
                                        <tr class="@("M_"+item.PersonID) ">
                                            <th scope="row" class="text-center htmlVal" data-name="DWTourCategoryNames">@item.DWTourCategoryNames</th>
                                            <td class="text-center htmlVal" data-name="DWTourCenterNames">@item.DWTourCenterNames</td>
                                            <td class="text-center htmlVal" data-name="DWBranchNames">@(item.DWBranchNames==null?"NA": item.DWBranchNames)</td>
                                            <td class="text-center htmlVal" data-name="DWFromDate">@item.SchFromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                            <td class="text-center htmlVal" data-name="RequiredTourInDate">@item.RequiredTourInDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                            <td class="text-center htmlVal" data-name="RequiredTourInTime">@item.RequiredTourInTime.ToString("hh:mm tt")</td>
                                            <td class="text-center htmlVal" data-name="EMPunchStatus">@item.EMPunchStatus</td>
                                            <td class="text-center htmlVal" data-name="ActualTourInDate">@item.ActualTourInDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                            <td class="text-center">
                                                <div id="VATI_@SL" class="@(Model.IsOffline?"inVisible":"") htmlVal" data-name="ActualTourInTime">
                                                    @(item.ActualTourInTime.Hour>0?item.ActualTourInTime.ToString("hh:mm tt"):"-")
                                                </div>
                                                <div class="input-group date pointer position-static placeholder-dark @(Model.IsOffline?"":"inVisible")">
                                                    <input id="ATI_@SL" type="text" class="form-control timePicker"
                                                           value="@item.ActualTourInTime.ToString("hh:mm:ss tt").Trim()"
                                                           onblur="ATIBlured()"
                                                           placeholder="Select Time">
                                                </div>
                                            </td>
                                            <td class="text-center htmlVal" data-name="DWToDate">@item.SchToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                            <td class="text-center htmlVal" data-name="ActualTourOutDate">@item.ActualTourOutDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                            <td class="text-center">
                                                <div id="VATI_@SL" class="@(Model.IsOffline?"inVisible":"") htmlVal" data-name="ActualTourOutTime">
                                                    @(item.ActualTourOutTime.Hour>0?item.ActualTourOutTime.ToString("hh:mm tt"):"-")
                                                </div>
                                                <div class="input-group date pointer position-static placeholder-dark @(Model.IsOffline?"":"inVisible")">
                                                    <input id="ATI_@SL" type="text" class="form-control timePicker"
                                                           value="@item.ActualTourOutTime.ToString("hh:mm:ss tt").Trim()"
                                                           onblur="ATIBlured()"
                                                           placeholder="Select Time">
                                                </div>
                                            </td>
                                            <td class="text-center htmlVal" data-name="LNPunchStatus">@item.LNPunchStatus</td>
                                            <td class="text-center">
                                                <div>
                                                    @(item.TourStatus==1 ? "Completed" : "Continue")
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonID">
                                                    @item.PersonID
                                                </div>
                                                <div class="inVisible htmlVal" data-name="DWTourCategoryIds">
                                                    @item.DWTourCategoryIds
                                                </div>
                                                <div class="inVisible htmlVal" data-name="DWTourCenterCodeIds">
                                                    @item.DWTourCenterCodeIds
                                                </div>
                                                <div class="inVisible htmlVal" data-name="DWBranchCodes">
                                                    @item.DWBranchCodes
                                                </div>
                                                <div class="inVisible htmlVal" data-name="TourStatus">
                                                    @item.TourStatus
                                                </div>                                                
                                            </td>
                                        </tr>
                                        SL += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="bgColor mt-4 bg-transparent content border-red text-left">
                <ul style="list-style:none;">
                    <li style="font-size: 16px;">
                        The “Location Wise Travelling Person & Vehicle Details Entered And Displayed Are Correct & As Required:
                        <select class="form-select content border-red" aria-label="Default select example" id="paragraphSpaceOPtion">
                            <option selected="">-</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer end -->
</div>


}
@section headers
{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/EntryII/EntrIIInnerLW.js"></script>
    <script>
        if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
        if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/EntryI/Index";
                        window.location.href = url;
                    }
                }
            };
    </script>
    <script>
        $(document).ready(function () {
            var iDiv = $('#VIOViewDiv');
            var dataSourceURL = '/EntryII/VIODetails?NoteNumber=1';
            $.ajax({
                url: dataSourceURL,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    iDiv.html(result);
                },
                error: function (xhr, status) {

                }
            })
        });
    </script>
    <script>
        var firstOpen = true;
        var time;
        $('.timePicker').datetimepicker({
            useCurrent: false,
            format: "hh:mm A"
        }).on('dp.show', function () {
            if (firstOpen) {
                time = moment().startOf('day');
                firstOpen = false;
            } else {
                time = "01:00 PM"
            }
            $(this).data('DateTimePicker').date(time);
        });
    </script>
}