@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.EntryII;
@model MLInnerPageVM

@Html.HiddenFor(m => m.NoteNumber)
@Html.HiddenFor(m => m.DefaultPersonID)
@Html.HiddenFor(m => m.IsOffline)
@Html.HiddenFor(m => m.SchFromDate)
@Html.HiddenFor(m => m.SchToDate)
<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12" style="position: relative;">
            <div class="heading_text_btn mb-4 mt-4">
                <div class="leftButton">
                    <button type="submit" class="btn btn-primary me-2" onclick="window.location.href='ETD_vehicle_allotment_entry_2_main_location_add.html';">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="button" name="Submit"
                            value="Save"
                            class="btn btn-secondary me-2">
                        <i data-feather="check-circle"></i>
                        Save
                    </button>
                </div>
                <h2>Employee’s Travelling Details & Vehicle Allotment – ENTRY (II) </h2>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="heading_text_btn2 d-block mb-3">
            <h2> Main Location Vehicle & Travelling Person OUT & IN Details:</h2>
        </div>
        <div class="heading_text_btn2 d-block mb-4">
            <h2 class="text-center">Vehicle OUT & IN Details </h2>
        </div>
        <div class="card">
            <div class="card-body">
                @*<form class="form-sample form-inline row ms-auto">*@
                <div class="row d-flex align-items-center mb-3">
                    <div class="col-md-2 col-form-label">
                        <label>Vehicle Provided :</label>
                    </div>
                    <div class="col-md-6 text-left">
                        <input type="text" class="form-control" value="@(Model.IsVehicleProvided?"Yes":"No")" disabled="">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-3">
                    <div class="col-md-2 col-form-label">
                        <label>Driver Name :</label>
                    </div>
                    <div class="col-md-6 text-left">
                        <input type="text" class="form-control" value="@Model.VehicleDetails.DriverName" disabled="">
                    </div>
                </div>
                @*</form>*@
                <div class="table-responsive max-content">
                    <table class="table table-bordered w-100" id="VDTable">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="5%">Vehicle No. </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="5%">Vehicle Type</th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                    Model Name
                                </th>
                                <th colspan="5" style="text-align: center; vertical-align: middle;" scope="col">
                                    Actual Tour OUT
                                </th>
                                <th colspan="6" style="text-align: center; vertical-align: middle;" scope="col">
                                    Actual Tour IN
                                </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="10%">Remarks</th>
                            </tr>
                            <tr>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                    RFID Card No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Date</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Time</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">KM Out</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">
                                    Carrying Material Out?
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                    RFID Card No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Date</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">Time</th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">
                                    Required KM IN
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" width="8%">
                                    Actual KM In
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;">
                                    Carrying Material In Note No.
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model.VehicleDetails != null)
                            {
                                <tr>
                                    <td class="text-center htmlVal" data-name="VehicleNumber">@Model.VehicleDetails.VehicleNumber</td>
                                    <td class="text-center htmlVal" data-name="VehicleType">@Model.VehicleDetails.VehicleType </td>
                                    <td class="text-center htmlVal" data-name="ModelName">@Model.VehicleDetails.ModelName </td>
                                    <td class="text-center">
                                        <div id="RFIDOutDiv" class="inVisible htmlVal" data-name="OutRFIDCard"></div>
                                        @Html.DropDownListFor(m => m.RFIDCardOut,
                                                new SelectList(Model.RFIDCardList, "RFIDCardNo", "RFIDCardNo"), "NA",
                                                htmlAttributes: new
                                                {
                                                    @class = "form-select pointer is-invalid",
                                                    onchange = "RFIDOutChanged()"
                                                })
                                    </td>
                                    <td class="text-center htmlVal" data-name="ActualTourOutDate">@Model.SchFromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                    <td class="text-center">
                                        <div id="VTourOutTimeCtrl" class="htmlVal" data-name="ActualTourOutTime">-</div>
                                        <div>
                                            <input id="TourOutTimeCtrl" type="text"
                                                   class="form-control timePicker"
                                                   onblur="TimeInCtrlBlured()"
                                                   placeholder="Select Time">
                                        </div>
                                    </td>
                                    <td class="text-center htmlVal" data-name="KMOut">@Model.VehicleDetails.KMOut</td>
                                    <td class="text-center htmlVal" data-name="IsCarryingMaterialOut">@(Model.VehicleDetails.MaterialStatus==1?"Yes":"No")</td>
                                    <td class="text-center">
                                        <div id="RFIDInDiv" class="inVisible htmlVal" data-name="InRFIDCard"></div>
                                        @Html.DropDownListFor(m => m.RFIDCardIn,
                                                new SelectList(Model.RFIDCardList, "RFIDCardNo", "RFIDCardNo"), "NA",
                                                htmlAttributes: new
                                                {
                                                    @class = "form-select pointer is-invalid",
                                                    onchange = "RFIDInChanged()"
                                                })
                                    </td>
                                    <td class="text-center htmlVal" data-name="ActualTourInDate">@Model.SchToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                    <td class="text-center">
                                        <div id="VTourInTimeCtrl" class="htmlVal" data-name="ActualTourInTime">-</div>
                                        <div>
                                            <input id="TourInTimeCtrl" type="text" class="form-control timePicker"
                                                   onblur="TimeInCtrlBlured()"
                                                   placeholder="Select Time">
                                        </div>
                                    </td>
                                    <td class="text-center htmlVal" data-name="RequiredKMIn">@Model.RequiredKMIn</td>
                                    <td class="text-center">
                                        <div class="qty">
                                            <input data-name="KMIn" type="text" name="qty" maxlength="12" value="@(Math.Round(Model.RequiredKMIn*1.15,0))" title="" class="input-text">
                                            <div class="qty_inc_dec">
                                                <i class="increment" onclick="incrementQty()">
                                                    <i data-feather="chevron-up"></i>
                                                </i><i class="decrement" onclick="decrementQty()">
                                                    <i data-feather="chevron-down"></i>
                                                </i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center htmlVal" data-name="IsCarryingMaterialIn">@(Model.VehicleDetails.MaterialStatus==1?"Yes":"No") </td>
                                    <td class="text-center">
                                        <textarea data-name="VRemarks" name="" id=""
                                                  cols="20" rows="2"
                                                  class="form-control pointer-default"></textarea>
                                        <div class="inVisible htmlVal" data-name="DriverID">@Model.VehicleDetails.DriverNumber</div>
                                        <div class="inVisible htmlVal" data-name="DriverName">@Model.VehicleDetails.DriverName</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <div class="heading_text_btn2 d-block mb-3">
        <h2 class="text-center">Travelling Person Out & In Details </h2>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="col-md-12">
                <div id="item-wise-table">
                    <div class="table-responsive newTable">
                        <table class="table table-bordered btnalign" id="TPTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        &nbsp;
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Sl No.
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Person Type
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col">
                                        Employee No. & Name
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Designation Code & Name
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Employee Center Code & name </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Authorised Person </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Tour Category </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TPDetails != null && Model.TPDetails.Count > 0)
                                {
                                    int SL = 1;
                                    foreach (var item in Model.TPDetails)
                                    {
                                        <tr id="tr_@item.PersonID">
                                            <th class="text-center">
                                                <div class="form-check ms-3">
                                                    <input class="form-check-input" type="radio"
                                                           value='valuable' name="x" id="@item.PersonID"
                                                           onchange="TPSelected()">
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonType">
                                                    @item.PersonType
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonID">
                                                    @item.PersonID
                                                </div>
                                                <div class="inVisible htmlVal" data-name="DesignationCode">
                                                    @item.DesignationCode
                                                </div>
                                                <div class="inVisible htmlVal" data-name="PersonCenterCode">
                                                    @item.PersonCenterCode
                                                </div>
                                                <div class="inVisible htmlVal" data-name="TADADenied">
                                                    @item.TADADenied
                                                </div>
                                                <div class="inVisible htmlVal" data-name="Isdriver">
                                                    @item.Isdriver
                                                </div>
                                                <div class="inVisible htmlVal" data-name="IsVehicleProvided">
                                                    @item.IsVehicleProvided
                                                </div>
                                            </th>
                                            <th scope="row" class="text-center"> @SL</th>
                                            <th scope="row" class="text-center htmlVal" data-name="PersonTypeText">@item.PersonTypeText</th>
                                            <th scope="row" class="text-center htmlVal" data-name="PersonIdnName"> @item.PersonIdnName </th>
                                            <td class="text-center htmlVal" data-name="DesignationCodenName"> @item.DesignationCodenName</td>
                                            <td class="text-center htmlVal" data-name="PersonCenterName">@item.PersonCenterName</td>
                                            <td class="text-center htmlVal" data-name="AuthorisedEmpNoName">@item.AuthorisedEmpNoName</td>
                                            <td class="text-center htmlVal">@item.TourCategoryText</td>
                                        </tr>
                                        SL += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="record1_div">
                    <div class="table-responsive newTable">
                        <table class="table table-bordered btnalign" id="TPDtlTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2"> Scheduled Tour Start </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        Actual Tour OUT
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        Scheduled Tour End Date
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        Required Tour IN
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2"> Actual Tour IN </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2" width="12%">
                                        Status
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">Time</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">Time</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">Time</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TPDetails != null && Model.TPDetails.Count > 0)
                                {
                                    int SL = 1;
                                    foreach (var item in Model.TPDetails)
                                    {
                                        <tr id="@("M_"+item.PersonID)">
                                            <th scope="row" class="text-center htmlVal" data-name="DWFromDate">@(item.SchFromDate.Year==1?"-":item.SchFromDate.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture))</th>
                                            <td class="text-center htmlVal" data-name="SchFromTime">@item.SchFromTime</td>
                                            <td class="text-center htmlVal" data-name="ActualTourOutDate">@(item.ActualTourOutDate.Year==1?"-": item.ActualTourOutDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))</td>
                                            <td class="text-center">
                                                <div id="VATO_@SL" class="@(Model.IsOffline?"inVisible":"") htmlVal" data-name="ActualTourOutTime">
                                                    @(item.ActualTourOutTime.Hour>0?item.ActualTourOutTime.ToString("hh:mm tt"):"-")
                                                </div>
                                                <div class="input-group date pointer position-static placeholder-dark @(Model.IsOffline?"":"inVisible")">
                                                    <input id="ATO_@SL" type="text" class="form-control timePicker"
                                                           value="@item.ActualTourOutTime.ToString("hh:mm:ss tt").Trim()"
                                                           onblur="ATIBlured()"
                                                           placeholder="Select Time">
                                                </div>
                                                @*@(item.ActualTourOutTime.Hour==0?"-": item.ActualTourOutTime.ToString("hh:mm tt"))*@
                                            </td>
                                            <td class="text-center htmlVal" data-name="DWToDate">@(item.SchToDate.Year==1?"-":item.SchToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))</td>
                                            <td class="text-center htmlVal" data-name="RequiredTourInDate">@(item.RequiredTourInDate.Year==1?"-": item.RequiredTourInDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))</td>
                                            <td class="text-center htmlVal" data-name="RequiredTourInTime">@(item.RequiredTourInTime.Hour==0?"-": item.RequiredTourInTime.ToString("hh:mm tt"))</td>
                                            <td class="text-center htmlVal" data-name="ActualTourInDate">@(item.ActualTourInDate.Year==1?"-": item.ActualTourInDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))</td>
                                            <td class="text-center">
                                                <div id="VATI_@SL" class="@(Model.IsOffline?"inVisible":"") htmlVal" data-name="ActualTourInTime">
                                                    @(item.ActualTourInTime.Hour>0?item.ActualTourInTime.ToString("hh:mm tt"):"-")
                                                </div>
                                                <div class="input-group date pointer position-static placeholder-dark @(Model.IsOffline?"":"inVisible")">
                                                    <input id="ATI_@SL" type="text" class="form-control timePicker"
                                                           value="@item.ActualTourInTime.ToString("hh:mm:ss tt").Trim()"
                                                           onblur="ATIBlured()"
                                                           placeholder="Select Time">
                                                </div>
                                                @*@(item.ActualTourInTime.Hour==0?"-": item.ActualTourInTime.ToString("hh:mm tt"))*@
                                            </td>
                                            <td class="text-center">
                                                @(item.TourStatus==1?"Completed":"Continue")
                                                <div class="inVisible htmlVal" data-name="PersonID">
                                                    @item.PersonID
                                                </div>
                                                <div class="inVisible htmlVal" data-name="TourStatus">
                                                    @item.TourStatus
                                                </div>
                                            </td>
                                        </tr>
                                        SL += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="heading_text_btn2 d-block mb-3">
        <h2 class="text-center">Material Out Details </h2>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="col-md-12">

                <div class="heading_text_btn2 d-block mb-3">
                    <h2 class="text-center">Reference DC Details</h2>
                </div>
                <div class="table-responsive newTable">
                    <table class="table table-bordered btnalign inVisible" id="table">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                    Ref. Note No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                    Date
                                </th>
                                <th style="text-align: center; vertical-align: middle;" scope="col">
                                    From Location Code & Name
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                    To Location Code & Name
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Remarks </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;background: pink;color: #000;">
                                    Action

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">MT001</option>
                                        <option value="2">MT002</option>
                                        <option value="3">MT003</option>
                                        <option value="4">MT004</option>
                                    </select>
                                </th>
                                <th class="text-center">
                                    01/01/2023
                                </th>
                                <th class="text-center">
                                    01/Nizambad
                                </th>
                                <th class="text-center"> 06/ Koratla</th>
                                <td class="text-center">
                                    <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default">   </textarea>
                                </td>
                                <td class="text-center">
                                    <span class="actionBtn d-block">
                                        <a href="#div_A">
                                            <button type="button" class="btn primaryLink" onclick="Content_A(); Hide_Content_B();" data-toggle="tooltip" data-placement="top"
                                                    title="Details">
                                                <i data-feather="eye"></i>
                                            </button>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">MT001</option>
                                        <option value="2">MT002</option>
                                        <option value="3">MT003</option>
                                        <option value="4">MT004</option>
                                    </select>
                                </th>
                                <th class="text-center">
                                    01/01/2023
                                </th>
                                <th class="text-center">
                                    01/Nizambad
                                </th>
                                <th class="text-center"> 06/ Koratla</th>
                                <td class="text-center">
                                    <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default">   </textarea>
                                </td>
                                <td class="text-center">
                                    <span class="actionBtn d-block">
                                        <a href="#div_B">
                                            <button type="button" class="btn primaryLink" onclick="Content_B(); Hide_Content_A();" data-toggle="tooltip" data-placement="top"
                                                    title="Pending">
                                                <i data-feather="eye"></i>
                                            </button>
                                        </a>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>



                </div>
                <div class="heading_text_btn2 d-block mb-3">
                    <h2 class="text-center">
                        Item wise Details
                    </h2>
                </div>

                <div class="table-responsive newTable inVisible">
                    <div id="div_A">
                        <table class="table table-bordered btnalign">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Type

                                    </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Code & Name

                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        UOM
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        DC Quantity
                                    </th>

                                </tr>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">BAGs</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">KGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">Tobacco</th>
                                    <td class="text-center">
                                        3234 / Karim
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        25
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">Leaf</th>

                                    <td class="text-center">
                                        1566 / Bangla
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        50
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div id="div_B">
                        <table class="table table-bordered btnalign">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Type

                                    </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Code & Name

                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        UOM
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        DC Quantity
                                    </th>

                                </tr>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">BAGs</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">KGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">Paper</th>
                                    <td class="text-center">
                                        3234 / Karim
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        85
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">Glue</th>

                                    <td class="text-center">
                                        1566 / Bangla
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        70
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="heading_text_btn2 d-block mb-3">
        <h2 class="text-center">Material In Details </h2>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="col-md-12">
                <div class="heading_text_btn2 d-block mb-3">
                    <h2 class="text-center">Reference DC Details</h2>
                </div>
                <div class="table-responsive newTable">
                    <table class="table table-bordered btnalign inVisible" id="table1">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                    Ref. Note No.
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                    Date
                                </th>
                                <th style="text-align: center; vertical-align: middle;" scope="col">
                                    From Location Code & Name
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                    To Location Code & Name
                                </th>
                                <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">Remarks </th>
                                <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;background: pink;color: #000;">
                                    Action

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">MT001</option>
                                        <option value="2">MT002</option>
                                        <option value="3">MT003</option>
                                        <option value="4">MT004</option>
                                    </select>
                                </th>
                                <th class="text-center">
                                    01/01/2023
                                </th>
                                <th class="text-center"> 06/ Koratla</th>
                                <th class="text-center">
                                    01/Nizambad
                                </th>

                                <td class="text-center">
                                    <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default">   </textarea>
                                </td>
                                <td class="text-center">
                                    <span class="actionBtn d-block">
                                        <a href="#div_C">
                                            <button type="button" class="btn primaryLink" onclick="Content_C(); Hide_Content_D();" data-toggle="tooltip" data-placement="top"
                                                    title="Pending">
                                                <i data-feather="eye"></i>
                                            </button>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">MT001</option>
                                        <option value="2">MT002</option>
                                        <option value="3">MT003</option>
                                        <option value="4">MT004</option>
                                    </select>
                                </th>
                                <th class="text-center">
                                    01/01/2023
                                </th>
                                <th class="text-center"> 06/ Koratla</th>
                                <th class="text-center">
                                    01/Nizambad
                                </th>

                                <td class="text-center">
                                    <textarea name="" id="" cols="20" rows="2" class="form-control pointer-default">   </textarea>
                                </td>
                                <td class="text-center">
                                    <span class="actionBtn d-block">
                                        <a href="#div_D">
                                            <button type="button" class="btn primaryLink" onclick="Content_D(); Hide_Content_C();" data-toggle="tooltip" data-placement="top"
                                                    title="Pending">
                                                <i data-feather="eye"></i>
                                            </button>
                                        </a>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>



                </div>
                <div class="heading_text_btn2 d-block mb-3">
                    <h2 class="text-center">
                        Item wise Details
                    </h2>
                </div>

                <div class="table-responsive newTable">
                    <div id="div_C">
                        <table class="table table-bordered btnalign inVisible">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Type

                                    </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Code & Name

                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        UOM
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        DC Quantity
                                    </th>

                                </tr>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">BAGs</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">KGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">Tobacco</th>
                                    <td class="text-center">
                                        3234 / Karim
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        25
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">Leaf</th>

                                    <td class="text-center">
                                        1566 / Bangla
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        50
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div id="div_D">
                        <table class="table table-bordered btnalign inVisible">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Type

                                    </th>

                                    <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                        Item Code & Name

                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" scope="col" rowspan="2">
                                        UOM
                                    </th>
                                    <th scope="col" style="text-align: center; vertical-align: middle;" colspan="2">
                                        DC Quantity
                                    </th>

                                </tr>
                                <tr>
                                    <th scope="col" style="text-align: center; vertical-align: middle;">BAGs</th>
                                    <th scope="col" style="text-align: center; vertical-align: middle; ">KGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">Paper</th>
                                    <td class="text-center">
                                        3234 / Karim
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        56
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">Glue</th>

                                    <td class="text-center">
                                        1566 / Bangla
                                    </td>

                                    <td class="text-center">
                                        KG
                                    </td>
                                    <td class="text-center">
                                        60
                                    </td>
                                    <td class="text-center">
                                        NA
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>
@section headers
{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/EntryII/EntrIIInnerML.js"></script>
    <script>
        if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
        if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/EntryII/Index";
                        window.location.href = url;
                    }
                }
            };
    </script>
    <script>
            //$(document).ready(function () {
            //    var iDiv = $('#VIOViewDiv');
            //    var dataSourceURL = '/EntryII/VIODetails?NoteNumber=1';
            //    $.ajax({
            //        url: dataSourceURL,
            //        contentType: 'application/html; charset=utf-8',
            //        type: 'GET',
            //        dataType: 'html',
            //        success: function (result) {
            //            iDiv.html(result);
            //        },
            //        error: function (xhr, status) {

            //        }
            //    })
            //});
    </script>
}