@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.EHG;
@model EHGNotApprovalVM
@{

}
<div class="row newTable">
    @using (Html.BeginForm())
    {        
        <div class="fixedElement">
            <div class="col-md-12">
                <div class="heading_text_btn mb-3 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="submit" class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>                        
                    </div>
                    <h2>Employee’s Travelling Details & Vehicle Allotment (By HG) – APPROVAL </h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center pt-2 pb-2">
                <button type="submit" class="btn btn-light-green">
                    To Check Attached “Travelling Request Form”
                    Click Here
                </button>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card mb-4 mt-4">
                <div class="card-body approvalForm">
                    @*<form class="form-sample form-inline row ms-auto">*@
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Note No. :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(m => m.NoteList,
                                new SelectList(Model.NoteNumber, "NoteNumber", "NoteNumber"),
                                "Select Vehicle Type To Be Allotted",
                                htmlAttributes: new
                                {
                                    @class = "form-select pointer"
                                })
                        </div>
                        <label class="col-form-label col-md-1">
                            Date  :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@DateTime.Today.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)" disabled>
                        </div>
                        <label class="col-form-label col-md-1">
                            Time  :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@DateTime.Now.ToString("hh:mm tt")" disabled>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Center Code & Name  :
                        </label>
                        <div class="col-md-6">
                            <input id="CentreCodenNameInput" type="text" class="form-control" value="" disabled>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Vehicle Type To Be Allotted   :
                        </label>
                        <div class="col-md-6">
                            <input id="VehicleTypeInput" type="text" class="form-control" value="" disabled>
                        </div>
                    </div>
                    <div id="for_LV" style="display:block;">
                        <div class="row d-flex  align-items-center mb-4 mr-15">
                            <label class="col-form-label col-md-3">
                                Tour “Purpose Of Allotment"  :
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="@Model.HeaderData.POAText" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex  align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Carrying Out Any Material  :
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="@(Model.HeaderData.MaterialStatus==1?"Yes":"No")" disabled>
                        </div>
                    </div>
                    <div class="row d-flex  align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Initiated This Doc. On The Instruction Of  :
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="@Model.HeaderData.InstructorName" disabled>
                        </div>
                    </div>
                    <div class="row d-flex  align-items-center mb-4">
                        <label class="col-form-label col-md-3">
                            Informed & Received Verbal Permission From DIC – Admin, T&S  :
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="@Model.HeaderData.InitiatorCodenName" disabled>

                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
            <div id="ViewApprovDiv" class="card mt-4 mb-4">
                <div class="card-body">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-form-label">
                            <label>Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@Model.HeaderData.IsApproved" disabled>
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Date &amp; Time Of Approval :</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@(Model.HeaderData.AppDateTime.ToString("dd/MM/yyyy hh:mm tt",CultureInfo.InvariantCulture).Substring(0,10)=="01/01/0001"?"":Model.HeaderData.AppDateTime.ToString("dd/MM/yyyy hh:mm tt",CultureInfo.InvariantCulture))" disabled="">
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Reason If Not Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <textarea name="" id="" cols="10" rows="2" class="form-control" disabled>@(@Model.HeaderData.IsApproved?"":Model.HeaderData.ReasonForDisApproval)</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4 pt-3" id="for_management">
                <div class="heading_text_btn2 d-block mb-4">
                    <h2>
                        Travelling Person Details: For Management
                    </h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive max-content">
                            <table class="table table-bordered w-100" id="table">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                            Person Type
                                        </th>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">Employee No. & Name</th>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                            Designation Code & Name
                                        </th>
                                        <th scope="col" colspan="2" style="text-align: center; vertical-align: middle;">
                                            Scheduled Tour From
                                        </th>
                                        <th scope="col" colspan="2" style="text-align: center; vertical-align: middle;"> Actual Tour OUT </th>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">Scheduled Tour To Date </th>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="12%">
                                            Purpose Of Visit
                                        </th>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">T.A & D.A Denied </th>
                                        <th scope="col" colspan="2" style="text-align: center; vertical-align: middle;">
                                            Required Tour IN
                                        </th>
                                        <th scope="col" colspan="2" style="text-align: center; vertical-align: middle;"> Actual Tour IN </th>
                                        <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                            Status
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Date</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="9%">Time</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Date</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Time</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Date</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Time</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Date</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="6%">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.TPDetails != null && Model.TPDetails.Count > 0)
                                    {
                                        foreach (var item in Model.TPDetails)
                                        {
                                            <tr>
                                                <th scope="row" class="text-center">Driver</th>
                                                <td class="text-center">
                                                    @item.EmployeeNonName
                                                </td>
                                                <td class="text-center">@item.DesignationCodenName </td>
                                                <td class="text-center">
                                                    @item.FromDateStrDisplay
                                                </td>

                                                <td class="text-center">
                                                    @item.FromTime
                                                </td>
                                                <td class="text-center">
                                                    @(item.ActualTourOutDate.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)=="01/01/0001"?"": item.ActualTourOutDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))
                                                </td>
                                                <td class="text-center">
                                                    @item.ActualTourOutTime
                                                </td>
                                                <td class="text-center">
                                                    @item.ToDateStrDisplay
                                                </td>
                                                <td class="text-center">
                                                    <textarea name="" class="form-control pointer" cols="20" rows="2" data-toggle="tooltip" data-placement="bottom" title="" data-bs-original-title="@item.PurposeOfVisit">@item.PurposeOfVisit</textarea>
                                                </td>
                                                <td class="text-center">
                                                    @(item.TADADenied?"Yes":"No")
                                                </td>
                                                <td class="text-center">
                                                    @(item.RequiredTourInDate.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)=="01/01/0001"?"": item.RequiredTourInDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))
                                                </td>
                                                <td class="text-center">
                                                    @item.RequiredTourInTime
                                                </td>
                                                <td class="text-center">
                                                    @(item.ActualTourInDate.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)=="01/01/0001"?"": item.ActualTourInDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))
                                                </td>
                                                <td class="text-center">
                                                    @item.ActualTourInTime
                                                </td>
                                                <td class="text-center">
                                                    Continue
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 mb-3">
                    <div class="card-body approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center">
                                <div class="col-form-label col-md-3">
                                    <label>Authorized Employee No. & Name :</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" value="@Model.HeaderData.AuthorisedEmployeeName" disabled="">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div id="for_office">
                <div class="col-md-12 mt-4 pt-3">
                    <div class="heading_text_btn2 d-block mb-4">
                        <h2> Travelling Person Details: For Office Work </h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered w-100 btnalign" id="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                                SL.No.
                                            </th>
                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                                Person Type
                                            </th>
                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">Employee No. & Name</th>
                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">
                                                Designation Code & Name
                                            </th>
                                            <th scope="col" colspan="2" style="text-align: center; vertical-align: middle;">
                                                Scheduled Tour From
                                            </th>
                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">Scheduled Tour To Date </th>

                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;" width="12%">
                                                Purpose Of Visit
                                            </th>
                                            <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle;">T.A & D.A Denied </th>

                                        </tr>
                                        <tr>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="9%">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TPDetails != null && Model.TPDetails.Count > 0)
                                        {
                                            int slno = 1;
                                            foreach (var item in Model.TPDetails)
                                            {
                                                <tr>
                                                    <th scope="row">@slno</th>
                                                    <th class="text-center">
                                                        @item.PersonTypeText
                                                    </th>
                                                    <td class="text-center">
                                                        @item.EmployeeNonName
                                                    </td>
                                                    <td class="text-center">@item.DesignationCodenName </td>
                                                    <td class="text-center">
                                                        @item.FromDateStrDisplay
                                                    </td>

                                                    <td class="text-center">
                                                        @item.FromTime
                                                    </td>
                                                    <td class="text-center">
                                                        @item.ToDateStrDisplay
                                                    </td>
                                                    <td class="text-center">
                                                        <textarea name="" class="form-control pointer" cols="20" rows="2" data-toggle="tooltip" data-placement="bottom" title="" data-bs-original-title="@item.PurposeOfVisit" aria-describedby="tooltip996206">@item.PurposeOfVisit</textarea>
                                                    </td>
                                                    <td class="text-center">
                                                        @(item.TADADenied?"Yes":"No")
                                                    </td>
                                                </tr>
                                                slno += 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4 mb-3">
                        <div class="card-body approvalForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-form-label col-md-3">
                                    <label>Authorized Employee No. & Name :</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" value="@Model.HeaderData.AuthorisedEmployeeName" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" name="Submit" value="DWT"
                                class="btn btn-primary me-2">
                            Date Wise Tour Details - Entry
                        </button>
                        <button type="submit" name="Submit" value="VAD"
                                class="btn btn-primary">
                            Vehicle Allotment Details
                        </button>
                    </div>
                </div>
            </div>
            <div id="ApprovalOptionLi" class="bgColor mt-4 bg-transparent text-left">
                <ul style="list-style:none;">
                    <li style="font-size: 16px;">
                        The Entry Is Done As Per Policy & As Required:
                        <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                    </li>
                    <li style="font-size: 16px;">
                        Checked Tour Details & Vehicle Allotment With The “Initiated This Doc. With The Instruction Of” Person. Hence Satisfied & Approved:
                        <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                    </li>
                </ul>
            </div>
            <div id="ViewOptionLi" class="bgColor mt-4 bg-transparent text-center">
                <ul style="list-style:none;">
                    <li style="font-size: 16px;">
                        The Entry Is Done As Per Policy & As Required:
                        <input type="text" class="form-control width-85 pointer-none" value="Yes" disabled="">
                    </li>
                </ul>
            </div>
            <div id="ApprovDiv" class="card mt-4 mb-4">
                <div class="card-body">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-form-label">
                            <label>Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@Model.HeaderData.IsApproved" disabled>
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Date &amp; Time Of Approval :</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@(Model.HeaderData.AppDateTime.ToString("dd/MM/yyyy hh:mm tt",CultureInfo.InvariantCulture).Substring(0,10)=="01/01/0001"?"":Model.HeaderData.AppDateTime.ToString("dd/MM/yyyy hh:mm tt",CultureInfo.InvariantCulture))" disabled="">
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Reason If Not Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <textarea name="" id="" cols="10" rows="2" class="form-control" disabled>@(@Model.HeaderData.IsApproved?"":Model.HeaderData.ReasonForDisApproval)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
