@using CBBW.Areas.Security.ViewModel.EHG;
@model EHGHeaderEntryVM
@{

}
<div id="mMsg"></div>
<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ehgHeader.NoteNumber)
        @Html.HiddenFor(m => m.ehgHeader.CenterCode)
        @Html.HiddenFor(m => m.FromdateForMang)
        @Html.HiddenFor(m => m.ToDateForMang)
        @Html.HiddenFor(m => m.FromdateStr)
        @Html.HiddenFor(m => m.TodateStr)
        @Html.HiddenFor(m => m.FromdateStrForDisplay)
        @Html.HiddenFor(m => m.DWBackBtnActive)
        @Html.HiddenFor(m => m.DWSubmitBtnActive)
        <div class="fixedElement">
            <div class="col-md-12">
                <div class="heading_text_btn mb-3 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="button"
                                @*onclick="window.location.href='.html';"*@
                                class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button id="btnSubmit" type="button" class="btn btn-secondary me-2"
                                onclick="trialBtnClick()" disabled
                                @*onclick="window.location.href='abc.html';"*@>
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.location.href='/Security/EHG/ClearBtnClicked?PageID=1';"
                                class="btn btn-white">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>Employee’s Travelling Details & Vehicle Allotment (By HG) – ENTRY </h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="heading_text_btn2 d-block mb-2 pt-2">
                <h2 class="text-center"> Date Wise Tour Details Entry: </h2>
            </div>
        </div>
        <div class="col-md-12 mb-4" id="HdrDiv">
            <div class="col-md-12 pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered w-100 btnalign" id="table1">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Sl.No. </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">
                                            Scheduled Tour From Date
                                        </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Scheduled Tour To Date </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Tour Category</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">
                                            Center Code & Name
                                        </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;background-color: pink;color:#000;">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody1">
                                    <tr id="0" class="add-row">
                                        <th scope="row">1</th>
                                        <td id="FromDateLbl" data-name="Fromdate"
                                            class="text-center alterID htmlVal rDate">
                                        </td>
                                        <td class="text-center">
                                            <div class="position-relative pointer">
                                                <input id="ToDate" type="date" data-name="ToDate"
                                                       onchange="ValidateCloneRowCtrl()"
                                                       max="@Model.TodateStr"
                                                       min="@Model.FromdateStr"
                                                       class="form-control pointer is-invalid alterID CustomDateFormatCloneRow todt valid">
                                                <label id="lblToDate" style="width:110px"
                                                       class="datelabel pointer alterID rDate">Select Date</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group">
                                                <select id="TourCategory" data-name="TourCatCodes" data-name-text="TourCatText"
                                                        onchange="ChangeCashCadingSourceInCloaning('CenterCode', '/Security/CTV/GetToLocationsFromType?TypeIDs=2&m=')"
                                                        class="form-select is-invalid alterID clonemultiselect"
                                                        aria-label="Default select example">
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group">
                                                <select id="CenterCode" data-name="CenterCodes" data-name-text="CenterNames"
                                                        onchange="ValidateCloneRowCtrl()"
                                                        class="form-select alterID is-invalid clonemultiselect"
                                                        aria-label="Default select example">
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="actionBtn">
                                                <button id="AddBtn" type="button"
                                                        class="btn primaryLink alterID cloneBtn addBtn"
                                                        data-toggle="tooltip"
                                                        onclick="addCloneBtnClick()"
                                                        data-placement="top" title="Add">
                                                    <i data-feather="plus"></i>
                                                </button>

                                                <button id="DeleteBtn" type="button"
                                                        class="btn secondaryLink inVisible alterID cloneBtn removeBtn"
                                                        onclick="RemoveBtnClicked()"
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="Delete">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody id="tbody2">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section headers
    {

}
@section scripts{

    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/EHGDateWiseTourDtl.js"></script>
    <script>
        function trialBtnClick() {
            var notenumber = $('#ehgHeader_NoteNumber').val();
            var schrecords = getRecordsFromTableV2('table1');
            var x = '{"NoteNumber":"' + notenumber+'","DateWiseList":' + schrecords + '}';
            $.ajax({
                method: 'POST',
                url: '/EHG/SetDateWiseTourDtls',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: x,
                success: function (data) {
                    $(data).each(function (index, item) {
                        if (item.bResponseBool == true) {
                            var url = "/Security/EHG/Create";
                            window.location.href = url;
                        } else {
                            Swal.fire({
                                title: 'Confirmation',
                                text: 'Failed To Save Date Wise Tour Details.',
                                icon: 'question',
                                customClass: 'swal-wide',
                                buttons: {
                                    confirm: 'Ok'
                                },
                                confirmButtonColor: '#2527a2',
                            });
                        }
                    });
                },
            });
        };
    </script>
    <script>

    </script>

}
