@using CBBW.Areas.Security.ViewModel.RBACUser;
@model AddUserVM
@{

}
@Html.HiddenFor(m => m.IsBackDenied)
<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12" style="position: relative;">
            <div class="heading_text_btn mb-4 ">
                <div class="leftButton">
                    <button type="button" class="btn btn-primary me-2"
                            onclick="NormalBackBtnClicked('/Security/UserManagement/Index')">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button type="submit" class="btn btn-secondary me-2" onclick="window.location.href='user_mngmt_listing.html';">
                        <i data-feather="upload"></i>
                        Submit
                    </button>
                    <button type="button" onclick="ClearBtnClicked('/Security/UserManagement/AddUser?isClear=1')"
                            class="btn btn-white">
                        <i data-feather="x-circle"></i>
                        Clear
                    </button>
                </div>
                <h2>User Management – Add  </h2>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="card mt-4">
            <div class="card-body">
                @*<form class="form-sample form-inline row ms-auto">*@
                <div class="SLUSection SLUContainer">
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            Employee No. & Name :
                        </label>
                        <div class="col-md-4">
                            <select class="form-select SLUCtrl is-invalid" aria-label="Default select example"
                                    id="EmployeeNumber">
                                <option value=""> Select Employee</option>
                                @if (Model.EmployeeList != null && Model.EmployeeList.Count > 0)
                                {
                                    foreach (var item in Model.EmployeeList)
                                    {
                                        <option data-desg="@item.Designation" value="@item.EmployeeNumber"> @item.EmployeeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <label class="col-form-label col-md-2">
                            Designation :
                        </label>
                        <div class="col-md-4">
                            <div style="display:block;">
                                <input id="EmpDesg" type="text" class="form-control" value="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            User Name :
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control SLUCtrl is-invalid"
                                   title="User Name Should Be Alpha Numeric Without Space."
                                   id="UserName">
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            Password :
                        </label>
                        <div class="col-md-4 position-relative">
                            <input type="password" class="input-field form-control SLUCtrl is-invalid"
                                   title="Password Should Atleast 6 Characters Containing Atleast One Uppercase, One Lowercase, One Digit & One Special Character "
                                   name=" password" value="" id="NewPassword">
                            <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <label class="col-form-label col-md-2">
                            Confirm  Password :
                        </label>
                        <div class="col-md-4 position-relative">
                            <input type="password"
                                   class="input-field form-control SLUCtrl is-invalid"
                                   title="Password Should Atleast 6 Characters Containing Atleast One Uppercase, One Lowercase, One Digit & One Special Character "
                                   name="Confirm password" value="" id="CnfPassword">
                            <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input float-none SLUCtrl" type="checkbox" id="check1" name="option1" value="something">
                                <label for="" class="ps-2">Is-Active</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="SLUSection">
                    <div class="row d-flex align-items-center mt-4">
                        <div class="table-responsive btnalign">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Role</th>
                                        <th>Location Type & Name</th>
                                        <th>Location Code & Name</th>
                                        <th>Effective From Date</th>
                                        <th>Effective To Date</th>
                                        <th style="background: pink;color: #000;">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="table_body">
                                    <tr class="">
                                        <td onclick="toastDiv()">
                                            <div id="selectDiv1">
                                                <select id="Role_0" multiple="multiple" 
                                                        class="form-select ApplyMultiSelectWithSelectAll SLUCtrl" 
                                                        aria-label="Default select example">                                                    
                                                    @if(Model.RoleList!=null && Model.RoleList.Count > 0) 
                                                    {
                                                        foreach(var item in Model.RoleList) 
                                                        {
                                                            <option value="@item.RoleId">@item.RoleName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td width="15%">
                                            <div id="selectDiv2">
                                                <select multiple="multiple" id="LocationCode_0" 
                                                        class="form-select example-getting-started1 SLUCtrl" 
                                                        aria-label="Default select example">
                                                    <option value="1"> 01 / Center</option>
                                                    <option value="2"> 03 / Admin Office</option>
                                                    <option value="3"> 04 / Mfg. Office</option>
                                                    <option value="4"> 02 / Godown</option>
                                                    <option value="5"> 05 / Branch</option>
                                                </select>
                                            </div>

                                        </td>
                                        <td>
                                            <div id="selectDiv3">
                                                <select multiple="multiple" class="form-select example-getting-started1 SLUCtrl" aria-label="Default select example" id="multiselect3">
                                                    <option value="1"> 01 / Puranipet</option>
                                                    <option value="2"> 01 / Nizamabad</option>
                                                    <option value="3"> 01 / Koratla</option>
                                                    <option value="4"> 01 / Raipur</option>
                                                    <option value="5"> 01 / Jaipur  </option>
                                                    <option value="6"> 01 / Puranipet </option>
                                                    <option value="7"> 01 / Koratla </option>
                                                    <option value="8"> 01 / Raipur </option>
                                                    <option value="9"> 01 / Puranipet </option>
                                                    <option value="10"> 01 / Nizamabad </option>
                                                </select>
                                            </div>

                                        </td>
                                        <td>
                                            <div class="position-relative pointer">
                                                <input type="date" class="form-control pointer is-invalid valid SLUCtrl" onchange="changeDateFormat(this)" id="date1">
                                                <label class="datelabel pointer">Select Date </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="position-relative pointer">
                                                <input type="date" class="form-control pointer is-invalid valid SLUCtrl" onchange="changeDateFormat(this)" id="date2">
                                                <label class="datelabel pointer">Select Date </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="actionBtn">
                                                <button type="button" class="btn secondaryLink" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i data-feather="x" onclick="remove_tr(this)"></i>
                                                </button>
                                                <button type="button" class="btn primaryLink" data-toggle="tooltip" data-placement="top" title="Add">
                                                    <i data-feather="plus" onclick="create_tr('table_body')"></i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="toast show" id="toast">
                                <div class="toast-header">
                                    Permission for Below Pages
                                    <button type="button" onclick="closetoast()" class="btn-close close-btn" data-bs-dismiss="toast"></button>
                                </div>
                                <div class="toast-body">
                                    Tour Rule, TADA Rule, CTV Entry, CTV Approval etc...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    @*</form>*@
                </div>
            </div>
    </div>
</div>
@section headers
{
    <style>
        .hide {
            display: none;
        }

        .none {
            display: none;
        }

        .modal-lg,
        .modal-xl {
            max-width: 700px;
        }

        .datelabel {
            font-size: 14px !important;
        }

        .close-btn {
            position: absolute;
            right: 3%;
            top: 6px;
            color: black;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
        }

        #toast {
            position: relative;
            display: none;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/SLUCtrlsV2.js"></script>    
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
    <script src="~/UIContent/JS/CustomePage/RBACUser/AddUser.js"></script>
    <script>
        function changeSpan(e) {
            let valid = document.querySelectorAll(".valid");
            valid.forEach((e) => {
                if (e.classList.contains("valid") && e.type == "password") {
                    e.nextElementSibling.style.right = "10%"
                }
            })
        }
        changeSpan()
    </script>
    <script>
        $(window).scroll(function (e) {
            var $el = $('.fixedElement');
            var isPositionFixed = ($el.css('position') == 'fixed');
            if ($(this).scrollTop() > 200 && !isPositionFixed) {
                $el.css({
                    'position': 'sticky',
                    'top': '0px'
                });
            }
            if ($(this).scrollTop() < 200 && isPositionFixed) {
                $el.css({
                    'position': 'static',
                    'top': '0px'
                });
            }
        });
    </script>
    <script>
        let toggle_password = document.querySelectorAll(".toggle-password");
        toggle_password.forEach(element => {
            element.addEventListener("click", (e) => {
                if (e.currentTarget.previousElementSibling.type == "password") {
                    e.currentTarget.previousElementSibling.setAttribute("type", "text");
                    if (!(e.currentTarget.previousElementSibling.value == "")) {
                        e.currentTarget.classList.remove("fa-fw")
                        e.currentTarget.classList.add("fa-eye-slash")
                    }
                }
                else {
                    e.currentTarget.previousElementSibling.setAttribute("type", "password");
                    if (!(e.currentTarget.previousElementSibling.value == "")) {
                        e.currentTarget.classList.add("fa-fw")
                        e.currentTarget.classList.remove("fa-eye-slash")
                    }
                }
            })
        });

    </script>
}