@using CBBW.Areas.Security.ViewModel.RBACUser;
@model AddUserVM
@{

}
<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12">
            <div class="heading_text_btn mb-3 mt-4">
                <div class="leftButton">
                    <button type="button" class="btn btn-primary me-2" 
                            onclick="window.location.href='/Security/UserManagement/Index';">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="submit" class="btn btn-secondary me-2" 
                            onclick="window.location.href='user_mngmt_listing.html';">
                        <i data-feather="upload"></i>
                        Submit
                    </button>
                    <button type="button" onclick="ClearBtnClicked('/Security/UserManagement/AddUser')" 
                            class="btn btn-white">
                        <i data-feather="x-circle"></i>
                        Clear
                    </button>
                </div>
                <h2>User Management – Add  </h2>
            </div>
        </div>
    </div>
    <div id="HdrDiv" class="col-md-12 mb-4">
        <div class="card mt-4">
            <div class="card-body approvalForm">
                @*<form class="form-sample form-inline row ms-auto">*@
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            Employee No. & Name :
                        </label>
                        <div class="col-md-4">
                            <select id="EmployeeNumber" class="form-select is-invalid"
                                    aria-label="Default select example">
                                <option value="" selected> Select Employee</option>
                                @if (Model.EmployeeList != null && Model.EmployeeList.Count > 0)
                                {
                                    foreach (var item in Model.EmployeeList)
                                    {
                                        <option data-desc="@item.Designation" value="@item.EmployeeNumber">@item.EmployeeNumber / @item.EmployeeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <label class="col-form-label col-md-2">
                            Designation :
                        </label>
                        <div class="col-md-4">
                            <div>
                                <input id="EmpDesg" type="text" 
                                       class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            User Name :
                        </label>
                        <div class="col-md-4">
                            <input id="UserName" type="text" 
                                   class="form-control is-invalid"
                                   title="User Name Should Be Alpha Numeric Without Space.">
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            Password :
                        </label>
                        <div class="col-md-4 position-relative">
                            <input type="password" id="NewPassword" 
                                   class="input-field form-control is-invalid valid"
                                   name=" password" value=""
                                   title="Password Should Atleast 6 Characters Containing Atleast One Uppercase, One Lowercase, One Digit & One Special Character ">
                            <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <label class="col-form-label col-md-2">
                            Confirm  Password :
                        </label>
                        <div class="col-md-4 position-relative">
                            <input type="password" id="CnfPassword" 
                                   class="input-field form-control is-invalid valid"
                                   name="Confirm password" value=""
                                   title="Confirm Password Should Exactly The Same Password Given In Password Input Box">
                            <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-2">
                            Effective Date :
                        </label>
                        <div class="col-md-4">
                            <div class="position-relative pointer">
                                <input id="EffectiveDate" type="date" 
                                       min="@DateTime.Today.ToString("yyyy-MM-dd")"
                                       class="form-control pointer is-invalid"
                                       onchange="changeDateFormat(this)"
                                       title="Accept Today Or Future Dates">
                                <label id="lblEffectiveDate" style="width:100px"
                                       class="datelabel pointer">Select Date </label>
                            </div>
                        </div>
                        <div class="col-md-6 text-end">
                            <div class="form-check">
                                <input class="form-check-input float-none" type="checkbox" id="check1" name="option1" value="something">
                                <label for="" class="ps-2">Is-Active</label>
                            </div>
                        </div>

                    </div>

                    <div class="row d-flex align-items-center mt-4">
                        <div class="table-responsive btnalign">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="40%">Role</th>
                                        <th width="40%">Center Codes</th>
                                        <th width="20%" style="background: pink;color: #000;">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody1">
                                    <tr id="0" class="add-row">
                                        <td onclick="toastDiv()">
                                            <select id="ctrlRoles" onchange="RolesChanged()" 
                                                    class="form-select ApplyMultiSelectWithSelectAll alterID inValidTag is-invalid">
                                                @if(Model.RoleList!=null && Model.RoleList.Count > 0)
                                                {
                                                    foreach (var item in Model.RoleList) 
                                                    {
                                                        <option value="@item.RoleId">@item.RoleName</option>
                                                    }
                                                }
                                            </select>

                                        </td>
                                        <td width="15%">
                                            <select id="ctrlCentres" onchange="CentreChanged()" 
                                                    class="form-select ApplyMultiSelectWithSelectAll alterID inValidTag is-invalid">
                                                @if (Model.CentreList != null && Model.CentreList.Count > 0)
                                                {
                                                    foreach (var item in Model.CentreList)
                                                    {
                                                        <option value="@item.ID">@item.DisplayText</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <span class="actionBtn">
                                                <button id="trRemoveBtn" type="button" 
                                                        class="btn secondaryLink inVisible removeBtn cloneBtn " 
                                                        data-toggle="tooltip" data-placement="top" 
                                                        onclick="RowRemoveBtnWithEffectSubmitClicked('tbody2','btnSubmit','HdrDiv')"
                                                        title="Delete">
                                                    <i data-feather="x"></i>
                                                </button>
                                                <button id="trAddBtn" type="button" 
                                                        class="btn primaryLink addBtn cloneBtn" 
                                                        data-toggle="tooltip" data-placement="top"
                                                        onclick="RowAddBtnWithEffectSubmitClicked('tbody1','tbody2',true,true,true,'btnSubmit','HdrDiv')"
                                                        title="Add">
                                                    <i data-feather="plus"></i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody id="tbody2">

                                </tbody>
                            </table>
                            <div class="toast show" id="toast">
                                <div class="toast-header">
                                    Permission for Below Pages
                                    <button type="button" onclick="closetoast()" class="btn-close close-btn" data-bs-dismiss="toast"></button>
                                </div>
                                <div class="toast-body">
                                    Tour Rule, TADA Rule, CTV Entry, CTV approval etc...
                                </div>
                            </div>
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
    </div>
</div>
@section headers
{
    <style>
        .hide {
            display: none;
        }

        .none {
            display: none;
        }

        .modal-lg,
        .modal-xl {
            max-width: 700px;
        }

        .datelabel {
            font-size: 14px !important;
        }

        .close-btn {
            position: absolute;
            right: 3%;
            top: 6px;
            color: black;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
        }

        #toast {
            position: relative;
            display: none;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
    <script src="~/UIContent/JS/CustomePage/RBACUser/AddUser.js"></script>
    <script>
        function changeSpan(e) {
            let valid = document.querySelectorAll(".valid");
            valid.forEach((e) => {
                if (e.classList.contains("valid") && e.type == "password") {
                    e.nextElementSibling.style.right = "10%"
                }
            })
        }
        changeSpan()
    </script>
    <script>
        $(window).scroll(function (e) {
            var $el = $('.fixedElement');
            var isPositionFixed = ($el.css('position') == 'fixed');
            if ($(this).scrollTop() > 200 && !isPositionFixed) {
                $el.css({
                    'position': 'sticky',
                    'top': '0px'
                });
            }
            if ($(this).scrollTop() < 200 && isPositionFixed) {
                $el.css({
                    'position': 'static',
                    'top': '0px'
                });
            }
        });
    </script>
    <script>
        let toggle_password = document.querySelectorAll(".toggle-password");
        toggle_password.forEach(element => {
            element.addEventListener("click", (e) => {
                if (e.currentTarget.previousElementSibling.type == "password") {
                    e.currentTarget.previousElementSibling.setAttribute("type", "text");
                    if (!(e.currentTarget.previousElementSibling.value == "")) {
                        e.currentTarget.classList.remove("fa-fw")
                        e.currentTarget.classList.add("fa-eye-slash")
                    }
                }
                else {
                    e.currentTarget.previousElementSibling.setAttribute("type", "password");
                    if (!(e.currentTarget.previousElementSibling.value == "")) {
                        e.currentTarget.classList.add("fa-fw")
                        e.currentTarget.classList.remove("fa-eye-slash")
                    }
                }
            })
        });

    </script>
}