@using CBBW.Areas.Security.ViewModel.Rule;
@model TADARuleVM
@{
    ViewBag.Title = "TA & DA Parameters";
}
<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.IsTransBtn)
        @Html.HiddenFor(m => m.IsParamBtn)
        @Html.HiddenFor(m => m.TADARule.EffectiveDate)
        @Html.HiddenFor(m => m.TADARule.EffectiveDateDisplay)
        @Html.HiddenFor(m => m.TADARule.MinHoursForHalfDA)
        @Html.HiddenFor(m => m.TADARule.MinKmsForDA)
        @Html.HiddenFor(m => m.TADARule.LodgingExpOnCompAcco)
        @Html.HiddenFor(m => m.TADARule.LocalConvEligibility)
        @Html.HiddenFor(m => m.TADARule.DepuStaffDAEligibility)
        @Html.HiddenFor(m => m.TADARule.ExtraDAApplicability)
        @Html.HiddenFor(m => m.TADARule.CategoryIds)
        @Html.HiddenFor(m => m.TADARule.CategoryText)

        @Html.HiddenFor(m => m.TADARule.PublicTransIDs)
        @Html.HiddenFor(m => m.TADARule.PubTransClassIDs)
        @Html.HiddenFor(m => m.TADARule.CompanyTransIDs)

        <div class="col-md-12">
            <div class="fixedElement">
                <div class="col-md-12" style="position: relative;">
                    <div class="heading_text_btn mb-4 mt-4">
                        <div class="leftButton">
                            <button type="button" onclick="BackButtonClicked()"
                                    class="btn btn-primary me-2"
                                    @*onclick="window.location.href='@Url.Action("CreateRule", "TADARules", new { Area = "Security" })';"*@>
                                <i data-feather="arrow-left-circle"></i>
                                Back
                            </button>
                            <button type="submit" name="Submit" value="create"
                                    id="btnSubmit" disabled
                                    class="btn btn-secondary me-2">
                                <i data-feather="check-circle"></i>
                                Save
                            </button>
                            <button type="button" onclick="btnClearClicked()" class="btn btn-white">
                                <i data-feather="x-circle"></i>
                                Clear
                            </button>
                        </div>
                        <h2>TA & DA - RULES</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="heading_text_btn2 d-block mb-4">
                <h2>TA & DA Parameter :</h2>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    @*<form class="form-sample">*@
                    <div class="row d-flex align-items-center mb-3">
                        <label class="col-form-label col-md-3">
                            1. DA Per Day Is Actual Spent? :
                        </label>
                        <div class="col-md-6 form-group mb-2">
                            @Html.DropDownListFor(m => m.TADARule.IsDAActualSpend,
                               new[] {
                                   new SelectListItem { Text = "Yes", Value = "true" },
                                   new SelectListItem { Text = "No", Value = "false" } }, "-",
                               htmlAttributes: new
                               {
                                   @class = "form-select pointer isvalidate is-invalid",
                                   @onchange = "IsActualSpendChanged()"
                               })
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-3">
                        <label class="col-form-label col-md-3">
                            2. Lodging Expenses Allowed :
                        </label>
                        <div class="col-md-6 form-group mb-2">
                            @Html.DropDownListFor(m => m.TADARule.IsLodgingAllowed,
                               new[] {
                                   new SelectListItem { Text = "Yes", Value = "true" },
                                   new SelectListItem { Text = "No", Value = "false" } }, "-",
                               htmlAttributes: new
                               {
                                   @class = "form-select pointer isvalidate is-invalid",
                                   @onchange = "IsLodgingAllowedChanged()"
                               })
                        </div>
                    </div>

                    @*</form>*@
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="table-responsive" style="overflow-x:inherit;">

                <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Zone Code & Name</th>
                            <th scope="col">DA Per Day</th>
                            <th scope="col">Maximum Allowed Lodging Expenses</th>
                            <th scope="col">Maximum Allowed Local Conveyance Per Day</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                Metropolitan
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.Metro_DAPerDay,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control valGroup1 only-numeric",
                                               onkeyup = "validatecontrol()",
                                               title = "Value must be 0 - 9999"
                                           })
                                    </div>
                                </span>

                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.Metro_MaxLodgingExp,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup2",
                                               onkeyup = "validatecontrol()",
                                               title = "Value must be 0 - 9999"
                                           })
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.Metro_MaxLocalConv,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup3",
                                               onkeyup = "validatecontrol()",
                                               title = "Maximum Value - 999"
                                           })
                                    </div>
                                </span>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                City
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.City_DAPerDay,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup1",
                                               onkeyup = "validatecontrol()",
                                               title = "Value must be 0 - 9999"
                                           })
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.City_MaxLodgingExp,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup2",
                                               onkeyup = "validatecontrol()",
                                               title = "Value must be 0 - 9999"
                                           })
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.City_MaxLocalConv,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup3",
                                               onkeyup = "validatecontrol()",
                                               title = "Maximum Value - 500"
                                           })
                                    </div>
                                </span>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                Town
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.Town_DAPerDay,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup1",
                                               onkeyup = "validatecontrol()",
                                               title = "Value must be 0 - 9999"
                                           })
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.Town_MaxLodgingExp,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup2",
                                               onkeyup = "validatecontrol()",
                                               title = "Value must be 0 - 9999"
                                           })
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span class="d-flex justify-content-start align-items-center infoerror">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TADARule.Town_MaxLocalConv,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control pointer only-numeric valGroup3",
                                               onkeyup = "validatecontrol()",
                                               title = "Maximum value - 200"
                                           })
                                    </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*<div class="bgColor mt-4">
                <ul style="list-style: none; padding: 0; font-size:28px;">
                    <li>
                        Are You Sure The Details Entered Are Correct & As Required?
                        <select id="submitConfirmation"
                                class="form-select pointer"
                                aria-label="Default select example"
                                style="width:110px" onchange="submitConfirmationChanged()">
                            <option selected value="">-</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </li>
                </ul>
            </div>*@
        </div>
    }
</div>
@section headers
    {
    <link href="~/UIContent/CSS/Custom_ErrorToolTip.css" rel="stylesheet" />
    
}
@section scripts{
    <script src="~/UIContent/JS/jquery-3.6.0.min.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/TADARule/TADARuleParam.js"></script>
    @*<script src="~/UIContent/JS/CustomePage/SecurityRuleValidation.js"></script>*@
    @*<script>
            function btnClearClicked() {
                $('.isvalidate').each(function () {
                    thisctrl = $(this);
                    thisctrl.val('');
                    if (thisctrl.attr("disabled") == "disabled") { } else { thisctrl.removeClass('is-valid').addClass('is-invalid') }
                    /*$(this).removeClass('is-valid').addClass('is-invalid').val('');*/
                });
                $('#submitConfirmation').removeClass('is-valid').addClass('is-invalid').val('0');
                validateallcontrol();
            };
        </script>
        <script>
            $(document).ready(function () {
                var locconv = $('#IsLocalConvAllowed').val();

                $('.valGroup3').each(function () {
                    thisctrl = $(this);
                    if (locconv == "True") {
                        thisctrl.removeAttr("disabled").attr("placeholder", "Amount").removeClass('is-invalid').addClass('is-valid pointer');
                    } else {
                        thisctrl.attr("disabled", "disabled").attr("placeholder", "NA").removeClass('is-invalid pointer').addClass('is-valid').val("");
                    }
                });
                validatectrl("IsDAActualSpend", $('#IsDAActualSpend').val());
                validatectrl("IsLodgingAllowed", $('#IsLodgingAllowed').val());

            });
        </script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script>
            $('#submitConfirmation').change(function () {
                var cnf = $(this);
                if (cnf.val() == 0) {
                    cnf.removeClass('is-valid').addClass('is-invalid');
                    $('#btnSubmit').attr("disabled", "disabled");
                    //alert("Confirmation msg");
                    Swal.fire({
                        title: 'Warning',
                        text: "Select Yes to procceed.",
                        icon: 'warning',
                        customClass: 'swal-wide',
                        buttons: {
                            //cancel: 'Cancel',
                            confirm: 'Ok'
                        },
                        //cancelButtonClass: 'btn-cancel',
                        confirmButtonColor: '#2527a2',
                    });
                } else {
                    cnf.removeClass('is-invalid').addClass('is-valid');
                    $('#btnSubmit').removeAttr("disabled");
                };
            });
        </script>
        <script>
            $.fn.CustomDateFormat = function () {
                var that = this;
                var parentid = that.attr('id');
                var lblid = parentid + 'lbl';
                var dt = this.val();
                var e = dt;
                if (dt.indexOf('/') != -1) {
                    var e = dt.split('/').reverse().join('-');
                }
                else {
                    var e = dt.split('-').reverse().join('-');
                }
                $('#' + lblid).html(e);
                //that.addClass('is-valid').removeClass('is-invalid')
            };
            $(document).ready(function () {
                $('#EffectiveDate').change(function () {
                    $(this).CustomDateFormat();
                });
            });
        </script>*@
}
