@using CBBW.Areas.Security.ViewModel.Rule;
@model TADARuleVM
@{
    ViewBag.Title = "Transport Mode Details";
}
<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.IsTransBtn)
        @Html.HiddenFor(m => m.IsParamBtn)
        @Html.HiddenFor(m => m.TADARule.EffectiveDate)
        @Html.HiddenFor(m => m.TADARule.EffectiveDateDisplay)
        @Html.HiddenFor(m => m.TADARule.MinHoursForHalfDA)
        @Html.HiddenFor(m => m.TADARule.MinKmsForDA)
        @Html.HiddenFor(m => m.TADARule.LodgingExpOnCompAcco)
        @Html.HiddenFor(m => m.TADARule.LocalConvEligibility)
        @Html.HiddenFor(m => m.TADARule.DepuStaffDAEligibility)
        @Html.HiddenFor(m => m.TADARule.ExtraDAApplicability)
        @Html.HiddenFor(m => m.TADARule.CategoryIds)
        @Html.HiddenFor(m => m.TADARule.CategoryText)

        @Html.HiddenFor(m => m.TADARule.PublicTransIDs)
        @Html.HiddenFor(m => m.TADARule.PubTransClassIDs)
        @Html.HiddenFor(m => m.TADARule.CompanyTransIDs)

        @Html.HiddenFor(m => m.TADARule.IsDAActualSpend)
        @Html.HiddenFor(m => m.TADARule.IsLodgingAllowed)
        @Html.HiddenFor(m => m.TADARule.Metro_DAPerDay)
        @Html.HiddenFor(m => m.TADARule.City_DAPerDay)
        @Html.HiddenFor(m => m.TADARule.Town_DAPerDay)
        @Html.HiddenFor(m => m.TADARule.Metro_MaxLodgingExp)
        @Html.HiddenFor(m => m.TADARule.City_MaxLodgingExp)
        @Html.HiddenFor(m => m.TADARule.Town_MaxLodgingExp)
        @Html.HiddenFor(m => m.TADARule.Metro_MaxLocalConv)
        @Html.HiddenFor(m => m.TADARule.City_MaxLocalConv)
        @Html.HiddenFor(m => m.TADARule.Town_MaxLocalConv)
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 mt-4">
                    <div class="leftButton">
                        <button type="submit" name="Submit" value="back"
                                class="btn btn-primary me-2">
                            @*onclick="window.location.href='tours_ta_da.html';"*@
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button id="btnSubmit" disabled
                                type="submit" name="Submit" value="create"
                                class="btn btn-secondary me-2">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                        <button type="button" onclick="btnClearClicked()" class="btn btn-white">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>TA & DA - RULES</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="heading_text_btn2 mt-4 d-block">
                    <h2>Transport Mode – Details :​</h2>
                </div>
            </div>

            <div class="col-md-12">
                <div class="heading_text_btn3 mb-4 d-block">
                    <h2>A. Public Transport – Details ​</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive" style="overflow-x:inherit;">
                    <table id="Pubtran" class="table table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 180px;">Public Transport Type</th>
                                <th scope="col" style="width: 200px;">Class</th>
                                <th scope="col" style="width: 200px;">Eligible Class</th>
                                <th scope="col" style="width: 50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbody1">
                            <tr id="0" class="add-row">
                                <td>
                                    @*<select id="0_C" class="form-select pointer dycom alterID"
                                                aria-label="Default select example"
                                                onchange="comboChangeContext()">
                                        </select>*@
                                    <select id="PTC" class="form-select alterID inValidTag is-invalid ptcclass"
                                            aria-label="Default select example"
                                            onchange="PublicTransportChange()">
                                        <option value="0">Select type</option>
                                        <option value="1">Train</option>
                                        <option value="2">Bus</option>
                                        <option value="3">Air</option>
                                    </select>
                                </td>
                                <td>
                                    @*<div id="0_D">
                                        </div>*@
                                    <div class="selectBoxInfo alterID inVisible inVisibleTag" id="TrainDiv">
                                        <div class="form-check">
                                            <input class="form-check-input PTCOptions alterID" type="checkbox" onchange="PTChanged('trainoptions')"
                                                   id="optcheck1" name="trainoptions" value="1" data-name=" General">
                                            <label id="check1" class="form-check-label alterID"
                                                   for="optcheck1">General</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input PTCOptions alterID" onchange="PTChanged('trainoptions')"
                                                   id="optcheck2" name="trainoptions" value="2" data-name=" Sleeper Coach">
                                            <label id="check2" class="form-check-label alterID"
                                                   for="optcheck2">Sleeper Coach</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input PTCOptions alterID" onchange="PTChanged('trainoptions')"
                                                   id="optcheck3" name="trainoptions" value="3" data-name=" 3 Tier AC">
                                            <label id="check3" class="form-check-label alterID"
                                                   for="optcheck3">3 Tier AC</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input PTCOptions alterID" onchange="PTChanged('trainoptions')"
                                                   id="optcheck4" name="trainoptions" value="4" data-name=" 2 Tier AC">
                                            <label id="check4" class="form-check-label alterID"
                                                   for="optcheck4">2 Tier AC</label>
                                        </div>
                                    </div>
                                    <div class="selectBoxInfo mt-2 mb-2 alterID inVisibleTag inVisible" id="BusDiv">
                                        <div class="form-check">
                                            <input class="form-check-input alterID PTCOptions" type="checkbox" data-name=" Ordinary"
                                                   id="optcheck5" name="busoptions" value="5" onchange="PTChanged('busoptions')">
                                            <label id="check5" class="form-check-label alterID"
                                                   for="optcheck5">Ordinary</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input alterID PTCOptions" data-name=" Express"
                                                   id="optcheck6" name="busoptions" value="6" onchange="PTChanged('busoptions')">
                                            <label id="check6" class="form-check-label alterID"
                                                   for="optcheck6">Express</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input alterID PTCOptions" data-name=" Luxury"
                                                   id="optcheck7" name="busoptions" value="7" onchange="PTChanged('busoptions')">
                                            <label id="check7" class="form-check-label alterID"
                                                   for="optcheck7">Luxury</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input alterID PTCOptions" data-name=" Hi Tech"
                                                   id="optcheck8" name="busoptions" value="8" onchange="PTChanged('busoptions')">
                                            <label id="check8" class="form-check-label alterID"
                                                   for="optcheck8">Hi Tech</label>
                                        </div>
                                    </div>
                                    <div class="selectBoxInfo alterID inVisibleTag inVisible" id="AirDiv">
                                        <div class="form-check">
                                            <input class="form-check-input alterID PTCOptions" type="checkbox" data-name="Economy Class"
                                                   id="optcheck9" name="airoptions" value="9" onchange="PTChanged('airoptions')">
                                            <label id="check9" class="form-check-label alterID"
                                                   for="optcheck9">Economy Class</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="PubTranText" type="text" disabled
                                               class="form-control pubtrantxt alterID">
                                    </div>
                                </td>
                                <td>
                                    <span class="actionBtn">
                                        <button id="AddBtn" type="button"
                                                class="btn primaryLink alterID cloneBtn addBtn"
                                                title="Add" data-toggle="tooltip" data-placement="top"
                                                onclick="addCloneBtnClick()">
                                            <i data-feather="plus"></i>
                                        </button>
                                        &nbsp;&nbsp;
                                        <button id="DeleteBtn" type="button"
                                                class="btn secondaryLink inVisible alterID cloneBtn removeBtn"
                                                title="Remove" data-toggle="tooltip" data-placement="top"
                                                onclick="RemoveBtnClicked()">
                                            <i data-feather="x"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="tbody2"></tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12">
                <div class="heading_text_btn3 mb-4 mt-4 d-block">
                    <h2>B. Company Transport – Details</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive" style="overflow-x:inherit;">
                    <table class="table table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Vehicle Type</th>
                                <th scope="col">Eligible Vehicle Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="divmChkBox" class="selectBoxInfo">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onchange="CTChanged()"
                                                   id="optcheck100" name="ctoptions" value="1" data-name=" LV">
                                            <label id="check100" class="form-check-label" for="optcheck100">LV</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onchange="CTChanged()"
                                                   id="optcheck101" name="ctoptions" value="2" data-name=" 2 Wheeler">
                                            <label id="check101" class="form-check-label" for="optcheck101">2 Wheeler</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onchange="CTChanged()"
                                                   id="optcheck102" name="ctoptions" value="0" data-name=" NA">
                                            <label id="check102" class="form-check-label" for="optcheck102">NA</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="divChkBoxResult" type="text" disabled class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="mm">
        </div>
    }
</div>
@section headers
    {
    <style>
        .inVisible {
            display: none;
        }

        .hideControl {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
}
<script src="~/UIContent/JS/jquery-3.6.0.min.js"></script>
<script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
<script src="~/UIContent/JS/CustomePage/TADARule/TADATransModeUpdation.js"></script>
<script>

</script>
<script>
    //$(document).ready(function () {
    //    GetTransportTypes();
    //    getallmySelectedCheckBoxText();
    //    validateSubmit();
    //    $('.mychkbox').click(function () {
    //        getallmySelectedCheckBoxText();
    //        validateSubmit();
    //    });
    //});
</script>

