@using CBBW.Areas.Security.ViewModel.ETSEdit;
@model ETSEditCreateVM
@{
    ViewBag.Title = "Employees Travelling Schedule Details – EDIT";
}
<div id="IndEditDiv" class="inVisible">

</div>
<div class="row newTable" id="MainDiv">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.btnIndividualEdit)
        @Html.HiddenFor(m => m.btnTourEdit)
        @Html.HiddenFor(m => m.backbtnactive)
        @Html.HiddenFor(m => m.IsCancelled)
        @Html.HiddenFor(m => m.POA)
        @Html.HiddenFor(m => m.EPTour)
        <div class="fixedElement">
            <div class="col-md-12">
                <div class="heading_text_btn mb-3 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="button"
                                class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button id="SubmitBtn" type="submit" name="Submit" value="create" disabled
                                class="btn btn-secondary me-2">
                            <i data-feather="upload"></i>
                            Submit
                        </button>
                        <button type="button" class="btn btn-white"
                                onclick="window.location.href='/Security/ETSEdit/ClearBtnClicked';">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>Employees Travelling  Schedule Details – EDIT  </h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center  pt-2 pb-2">
                <div class="upper-tab-buttons">
                    <button type="submit" name="Submit" value="TourRule"
                            class="btn btn-primary me-2">
                        To Check  “Tour Rules”   Click Here
                    </button>
                    <button type="submit" name="Submit" value="TADARule"
                            class="btn btn-primary ">
                        To Check “TA & DA Rules”   Click Here
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card mb-4 mt-4">
                <div class="card-body approvalForm">
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-md-4">
                            <label id="lblNoteDesc" class="col-form-label">
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.NoteNumber,
                                            new SelectList(Model.ToBeEditNoteList, "NoteNumber", "NoteNumber"), "Select Ref. Note No.",
                                            htmlAttributes: new
                                            {
                                                @class = "form-select pointer is-invalid",
                                                onchange = "NotenumberChanged()"
                                            })  
                                    </div>
                                        <label class="col-form-label col-md-1">
                                            Date  :
                                        </label>
                                        <div class="col-md-2">
                                            <input id="NoteEntryDate" type="text" class="form-control" disabled>
                                        </div>
                                        <label class="col-form-label col-md-1">
                                            Time  :
                                        </label>
                                        <div class="col-md-2">
                                            <input id="NoteEntryTime" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div>
                        <div class="row d-flex align-items-center mb-4">
                            <label class="col-form-label col-md-2">Center Code & Name : </label>
                            <div class="col-md-6">
                                <input id="CentreCodenName" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-4 mr-15">
                            <label class="col-form-label col-md-2">Tour “Purpose Of Allotment” : </label>
                            <div class="col-md-6">
                                <input id="TripPurpose" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-4 mr-15">
                            <label class="col-form-label col-md-2">Is E.P Tour : </label>
                            <div class="col-md-6">
                                <input id="EPTourStatus" type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 mb-4">
                <div class="card-body alert alert-danger approvalForm text-dark ">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-form-label">
                            <label>Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <input id="AppStat" type="text" class="form-control" disabled="">
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Date &amp; Time Of Approval :</label>
                        </div>
                        <div class="col-md-2">
                            <input id="AppDateTime" type="text" class="form-control" disabled="">
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Reason If Not Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <textarea name="" id="AppReason" cols="10" rows="2" class="form-control" disabled></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card mb-4 mt-4">
                <div class="card-body approvalForm alert alert-danger text-dark">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-form-label">
                            <label>Ratified :</label>
                        </div>
                        <div class="col-md-2">
                            <input id="ratStat" type="text" class="form-control" disabled>
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Date & Time Of  Ratification :</label>
                        </div>
                        <div class="col-md-2">
                            <input id="RatDT" type="text" class="form-control" disabled="">
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Reason If Not Ratified :</label>
                        </div>
                        <div class="col-md-2">
                            <textarea name="" id="ratReason" cols="10" rows="2" class="form-control" disabled>-</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-4">
                    <button id="TourEditBtn" disabled
                            type="submit" name="Submit" value="TED"
                            class="btn btn-primary me-2">
                        Tour EDIT Details
                    </button>
                    <button id="IndEditBtn" disabled
                            type="submit" name="Submit" value="IED"
                            class="btn btn-primary me-2">
                        Individual EDIT Details
                    </button>
                </div>
            </div>
            <div class="bgColor mt-4 bg-transparent content border-red text-center">
                <ul style="list-style:none;">
                    <li style="font-size: 16px;">
                        The EDIT Is Done As Per Policy & As Required :
                        <select class="form-select content border-red is-invalid"
                                onchange="AsPerPolicyOptionChanged()"
                                aria-label="Default select example">
                            <option selected="">-</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
@section headers
{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/ETSEdit/ETSEditCreateJS.js"></script>
    <script>
        if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Failed to submit',
                    text: "@ViewBag.ErrMsg",
                    icon: 'warning',
                    customClass: 'swal-wide',
                    buttons: {
                        //cancel: 'Cancel',
                        confirm: 'Ok'
                    },
                    //cancelButtonClass: 'btn-cancel',
                    confirmButtonColor: '#2527a2',
                });
            };
        if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/ETSEdit/Index";
                        window.location.href = url;
                    }
                }
            };
    </script>
}