@using System.Globalization;
@using CBBW.Areas.Security.Helpers;
@using CBBW.Areas.Security.ViewModel.ETSEdit;
@model ETSEditCreateVM
@{

}
<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.NoteNumber)
        @Html.HiddenFor(m => m.IsExtensionAllowed)
        @Html.HiddenFor(m => m.ExtensionFromDate)
        @Html.HiddenFor(m => m.MaxSourceID)
        @Html.HiddenFor(m => m.backbtnactive)
        @Html.HiddenFor(m => m.SelectedPersonType)
        @Html.HiddenFor(m => m.SelectedPersonID)
        @Html.HiddenFor(m => m.SelectedPersonName)
        @Html.HiddenFor(m => m.IsCancelled)
        @Html.HiddenFor(m => m.EPTour)
        <div class="fixedElement">
            <div class="col-md-12">
                <div class="heading_text_btn mb-3 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="button" class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button type="button" id="btnSubmit" disabled
                                onclick="btnSubmitClicked()"
                                class="btn btn-secondary me-2">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-white"
                                onclick="window.location.href='/Security/ETSEdit/ClearBtnClicked?PageID=2';">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>Employees Travelling  Schedule Details – EDIT  </h2>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="heading_text_btn2 d-block mt-4">
                <h2 class="text-left"> Individual EDIT Details:</h2>
            </div>
            <div class="heading_text_btn2 d-block mb-2">
                <h2 class="text-center">Travelling Person – Details (I) </h2>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="col-md-12 pt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered w-100 btnalign " id="tblTravelingPersons">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center; vertical-align: middle; background-color: transparent;">&nbsp;</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">SL  No.</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Person Type </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="12%"> Employee No. & Name </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="14%">Designation Code & Name </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="13%">Center Code & Name </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">Eligible  Vehicle Type</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Ref. E.P Note No. & Date </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="9%">T.A & D.A Denied</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.TravelingPersonDetails != null)
                                    {
                                        int sl = 1;
                                        foreach (var item in Model.TravelingPersonDetails)
                                        {
                                            <tr class="@(item.Isdriver == 1?"sectionB":"")">
                                                <td class="text-center">
                                                    @if (item.Isdriver != 1)
                                                    {
                                                        <div class="form-check">
                                                            <input id="@sl" onchange="PersonSelectionChanged()" class="form-check-input" type="radio"
                                                                   value='valuable' name="thing">
                                                        </div>
                                                    }
                                                    <div id="PersonType_@sl" class="inVisible">
                                                        @item.PersonType
                                                    </div>
                                                    <div id="PersonID_@sl" class="inVisible">
                                                        @item.EmployeeNo
                                                    </div>
                                                </td>
                                                <td>
                                                    @sl
                                                </td>
                                                <td class="text-center">
                                                    @item.PersonTypeText
                                                </td>
                                                <td id="PersonName_@sl" class="text-center">
                                                    @item.EmployeeNonName
                                                </td>
                                                <td class="text-center">
                                                    @item.DesignationCodenName
                                                </td>
                                                <td class="text-center">
                                                    @item.CenterName
                                                </td>
                                                <td class="text-center">
                                                    @item.EligibleVehicleTypeName
                                                </td>
                                                <td class="text-center">
                                                    @(item.EPNoteDate.Year==1?"-":item.EPNoteNumber+" / "+ item.EPNoteDate.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture))
                                                </td>
                                                <td class="text-center">
                                                    @(item.TADADenied?"Yes":"No")
                                                </td>
                                            </tr>
                                            sl += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-3 mt-3 pb-3">
                    <div class="heading_text_btn2 d-block mb-2">
                        <h2 class="text-center">Date Wise Tour – Details (II) </h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 pt-3 pb-2 text-end">
                            <!-- Button trigger modal -->
                            <button id="ShowHistoryBtn" type="button"
                                    class="btn btn-primary"
                                    onclick="ShowHistoryBtnClicked()"
                                    @*data-bs-toggle="modal" data-bs-target="#HistoryModal"*@>
                                See Previous Details
                            </button>
                        </div>
                        <div id="mHdrDiv" class="row d-flex align-items-center">
                            <div class="col-form-label col-md-2">
                                <label>EDIT Required :</label>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.EditTag,
                                new SelectList(Model.IndividualEditTags, "ID", "DisplayText"),
                                htmlAttributes: new
                                {
                                    @class = "form-select pointer is-invalid",
                                    onchange = "EditTagChanged()"
                                })
                            </div>
                            <div class="col-form-label col-md-2">
                                <label>Reason For EDIT :</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextAreaFor(m => m.PurposeOfEdit,
                                   htmlAttributes: new
                                   {
                                       @class = "form-control is-invalid",
                                       onblur = "ValidatePurposeOfEdit()",
                                       title = "Maximum 20 Words Allowed"
                                   })
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal modal-previous-details fade" id="HistoryModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel">Employees Travelling  Schedule Details – EDIT </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="IndHistoryDiv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tour_cancel" class="inVisible">
                            <div id="TCPartialView">
                            </div>
                        </div>
                        <div id="other_edit" class="inVisible">
                            <div id="OEPartialView">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mOptionDiv" class="bgColor mt-4 bg-transparent content text-left border-red">
                    <ul style="list-style:none;">
                        <li style="font-size: 16px;">
                            It Is Ensured That This Tour Is Prepared As Tour Category “Other Place” & In Factual It Is Taking Place The Same Way As Is selected:
                            <select class="form-select content border-red is-invalid"
                                    aria-label="Default select example"
                                    id="Option1" onchange="Option1Changed()">
                                <option selected="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
@section headers
{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/ETSEdit/ETSEditCreateIndividualTourEdit.js"></script>
    <script>
        $(document).ready(function () {
            $(".mDivDisable").each(function () {
                $(this).find('.form-select').makeDisable();
                $(this).find('.form-control').makeDisable();
                $(this).find('.form-multi').multiselect("disable");
            });
        });
    </script>
}