@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.ETSEdit;
@model ETSEditCreateVM
@{

}
<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.NoteNumber)
        @Html.HiddenFor(m => m.IsExtensionAllowed)
        @Html.HiddenFor(m => m.ExtensionFromDate)
        @Html.HiddenFor(m => m.MaxSourceID)
        @Html.HiddenFor(m => m.backbtnactive)
        @Html.HiddenFor(m => m.IsCancelled)
        <div class="fixedElement">
            <div class="col-md-12">
                <div class="heading_text_btn mb-3 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="button"
                                class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button type="button" id="btnSubmit" disabled
                                onclick="btnSubmitClicked()"
                                class="btn btn-secondary me-2">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-white"
                                onclick="window.location.href='/Security/ETSEdit/ClearBtnClicked?PageID=1';">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>Employees Travelling  Schedule Details – EDIT  </h2>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="heading_text_btn2 d-block mt-4">
                <h2 class="text-left"> Tour EDIT Details:</h2>
            </div>
            <div class="heading_text_btn2 d-block mb-2">
                <h2 class="text-center">Travelling Person – Details (I) </h2>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="col-md-12 pt-3">
                <div class="card">
                    <div class="card-body sectionB">
                        <div class="table-responsive">
                            <table class="table table-bordered w-100 btnalign " id="tblTravelingPersons">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">SL  No.</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Person Type </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="12%"> Employee No. & Name </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="14%">Designation Code & Name </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="13%">Center Code & Name </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">Eligible  Vehicle Type</th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;">Ref. E.P Note No. & Date </th>
                                        <th scope="col" style="text-align: center; vertical-align: middle;" width="9%">T.A & D.A Denied</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.TravelingPersonDetails != null)
                                    {
                                        int sl = 1;
                                        foreach (var item in Model.TravelingPersonDetails)
                                        {
                                            <tr>
                                                <td>
                                                    @sl
                                                </td>
                                                <td class="text-center">
                                                    @item.PersonTypeText
                                                </td>
                                                <td class="text-center">
                                                    @item.EmployeeNonName
                                                </td>
                                                <td class="text-center">
                                                    @item.DesignationCodenName
                                                </td>
                                                <td class="text-center">
                                                    @item.CenterName
                                                </td>
                                                <td class="text-center">
                                                    @item.EligibleVehicleTypeName
                                                </td>
                                                <td class="text-center">
                                                    @(item.EPNoteDate.Year==1?"-":item.EPNoteNumber+" / "+ item.EPNoteDate.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture))
                                                </td>
                                                <td class="text-center">
                                                    @(item.TADADenied?"Yes":"No")
                                                </td>
                                            </tr>
                                            sl += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-3 mt-3 pb-3">
                    <div class="heading_text_btn2 d-block mb-2">
                        <h2 class="text-center">Date Wise Tour – Details (II) </h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 pt-3 pb-2 text-end">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                See Previous Details
                            </button>
                        </div>
                        <div id="mHdrDiv" class="row d-flex align-items-center">
                            <div class="col-form-label col-md-2">
                                <label>EDIT Required :</label>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.EditTag,
                                new SelectList(Model.EditTags, "ID", "DisplayText"),
                                htmlAttributes: new
                                {
                                    @class = "form-select pointer is-invalid",
                                    onchange = "EditTagChanged()"
                                })
                            </div>
                            <div class="col-form-label col-md-2">
                                <label>Reason For EDIT :</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextAreaFor(m => m.PurposeOfEdit,
                                   htmlAttributes: new
                                   {
                                       @class = "form-control is-invalid",
                                       onkeyup = "ValidatePurposeOfEdit()",
                                       title = "Maximum 20 Words Allowed"
                                   })
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal modal-previous-details fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel">Employees Travelling  Schedule Details – EDIT </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="">
                                                    <h6 class="pb-2 text-center">Tour Edit - Previous Details</h6>
                                                    <div class="table-responsive vertical-scroll-table">
                                                        @if (Model.EditSequence != null)
                                                        {
                                                            foreach (int s in Model.EditSequence)
                                                            {
                                                                <table class="table table-bordered w-100 btnalign" id="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col" style="text-align: left; vertical-align: middle;">SL. No.</th>
                                                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%"> Scheduled Tour From Date</th>
                                                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">Scheduled Tour To Date </th>
                                                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">EDITED Tour To Date</th>
                                                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="20%">Tour Category </th>
                                                                            <th scope="col" style="text-align: center; vertical-align: middle;">Center Code & Name</th>
                                                                            <th scope="col" style="text-align: center; vertical-align: middle;">Branch Code & Name </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (Model.DWTDetailsHistory.Where(o => o.EditSL == s) != null)
                                                                        {
                                                                            int sl = 1;
                                                                            foreach (var item in Model.DWTDetailsHistory.Where(o => o.EditSL == s))
                                                                            {
                                                                                <tr class="previous-details">
                                                                                    <td>
                                                                                        @sl
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @item.SchFromDateDisplay
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @item.SchToDateDisplay
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @item.EditedTourToDateDisplay
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @item.TourCategoryNames
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @item.TourCenterNames
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @item.BranchNames
                                                                                    </td>
                                                                                </tr>
                                                                                sl += 1;
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tour_cancel" class="inVisible">
                            <div class="table-responsive ">
                                <table class="table table-bordered w-100 btnalign" id="tblTourCancel">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: left; vertical-align: middle;">SL. No.</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%"> Scheduled Tour From Date</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">Scheduled Tour To Date </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">EDITED Tour To Date</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="20%">Tour Category </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">Center Code & Name</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">Branch Code & Name </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.DWTDetailsCurrent != null && Model.DWTDetailsCurrent.Count > 0)
                                        {
                                            int sl = 1;
                                            foreach (var item in Model.DWTDetailsCurrent)
                                            {
                                                <tr>
                                                    <td>
                                                        @sl
                                                        <div id="EditTagDiv_@sl" data-name="EditRowTag"
                                                             class="inVisible htmlVal mTCValidation"></div>
                                                        @*Injecting Extra data for Table records sync*@
                                                        <div data-name="SourceID"
                                                             class="inVisible htmlVal">@item.SourceID</div>
                                                            <div data-name="CentreCodesMulti"
                                                                 class="inVisible htmlVal"></div>
                                                            <div data-name="CentreNamesMulti"
                                                                 class="inVisible htmlVal"></div>
                                                            <div data-name="CentreCodesDD"
                                                                 class="inVisible htmlVal"></div>
                                                            <div data-name="CentreNamesDD"
                                                                 class="inVisible htmlVal"></div>
                                                            <div data-name="BranchCodesDD"
                                                                 class="inVisible htmlVal"></div>
                                                            <div data-name="BranchNamesDD"
                                                                 class="inVisible htmlVal"></div>
                                                            <div class="htmlVal inVisible" data-name="BranchCodes">@item.BranchCodes</div>
                                                            <div class="htmlVal inVisible" data-name="TourCategoryIDs">@item.TourCategoryIds</div>
                                                            <div class="htmlVal inVisible" data-name="CentreCodes">@item.TourCenterCodeIds</div>
                                                        </td>
                                                        <td class="text-center htmlVal" data-name="FromDate">
                                                            @item.SchFromDateDisplay
                                                        </td>
                                                        <td class="text-center htmlVal" data-name="ToDate">
                                                            @item.SchToDateDisplay
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="position-relative pointer" style="width:200px">
                                                                <input id="FromDate_@sl" type="date"
                                                                       data-name="EditToDate"
                                                                       onchange="ValidateEditDateCtrl()"
                                                                       max="@item.TourCancelMaxDateStr"
                                                                       min="@item.TourCancelMinDateStr"
                                                                       class="form-control pointer CustomDateFormatCloneRow valid CancelDate">
                                                                <label id="lblFromDate_@sl" style="width:100px"
                                                                       class="datelabel pointer">Select Date</label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center htmlVal" data-name="TourCategoryNames">
                                                            @item.TourCategoryNames.Trim()
                                                        </td>
                                                        <td class="text-center htmlVal" data-name="CentreNames">
                                                            @item.TourCenterNames.Trim()
                                                        </td>
                                                        <td class="text-center htmlVal" data-name="BranchNames">
                                                            @item.BranchNames.Trim()
                                                        </td>
                                                    </tr>
                                                    sl += 1;
                                                }
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tour_extension" class="inVisible">
                            <div class="table-responsive max-content">
                                <table class="table table-bordered w-100 btnalign" id="tblTourExtension">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: left; vertical-align: middle;">SL. No.</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%"> Scheduled Tour From Date</th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">Scheduled Tour To Date </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                                EDITED Tour To Date
                                            </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;" width="20%">Tour Category </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">
                                                Center Code & Name
                                            </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle;">Branch Code & Name </th>
                                            <th scope="col" style="text-align: center; vertical-align: middle; background: pink;
                                                color: rgb(0, 0, 0);">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody1">
                                        <tr id="0" class="add-row">
                                            <th>
                                                1
                                            </th>
                                            <td id="FromDateLbl" data-name="FromDate"
                                                class="text-center alterID htmlVal">
                                                @Model.ExtensionFromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                            </td>
                                            <td id="CRTodate" class="text-center alterID htmlVal">
                                                -
                                            </td>
                                            <td class="text-center">
                                                <div class="position-relative pointer" style="width:160px">
                                                    <input id="ToDate" type="date" data-name="EditToDate"
                                                           onchange="ToDateChanged()"
                                                           max="@Model.ExtensionFromDate.AddDays(10).ToString("yyyy-MM-dd")"
                                                           min="@Model.ExtensionFromDate.ToString("yyyy-MM-dd")"
                                                           class="form-control pointer is-invalid alterID CustomDateFormatCloneRow todt valid">
                                                    <label id="lblToDate" style="width:110px" data-name="ToDate"
                                                           class="datelabel pointer alterID htmlVal">Select Date</label>
                                                </div>
                                                <div id="CREditTagDiv" data-name="EditRowTag"
                                                     class="inVisible alterID htmlVal">1</div>
                                                <div id="SourceIDDiv" data-name="SourceID"
                                                     class="inVisible alterID htmlVal">@Model.MaxSourceID</div>
                                                </td>
                                                <td class="text-center">
                                                    <select id="CRTourCategory"
                                                            data-name="TourCategoryIDs" data-name-text="TourCategoryNames"
                                                            class="form-select is-invalid alterID clonemultiselect"
                                                            onchange="CRTourCategoryChanged()"
                                                            aria-label="Default select example">
                                                    </select>
                                                </td>
                                                <td class="text-center">
                                                    <div id="CRCenterCodeText" data-name="CentreNames"
                                                         class="alterID htmlVal">
                                                        -
                                                    </div>
                                                    <div id="CRCOMultiDiv" class="alterID inVisible">
                                                        <select id="CRCenterCodeMulti"
                                                                data-name="CentreCodesMulti" data-name-text="CentreNamesMulti"
                                                                class="form-select alterID is-invalid clonemultiselect"
                                                                onchange="CRCenterCodeMultiChanged()"
                                                                aria-label="Default select example">
                                                        </select>
                                                    </div>
                                                    <div id="CRCODDDiv" class="alterID inVisible">
                                                        <select id="CRCenterCodeDD"
                                                                data-name="CentreCodesDD" data-name-text="CentreNamesDD"
                                                                class="form-select alterID is-invalid"
                                                                onchange="CRCenterCodeDDChanged()"
                                                                aria-label="Default select example">
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div id="CRBranchCodeText" data-name="BranchNames"
                                                         class="alterID htmlVal">
                                                        -
                                                    </div>
                                                    <div id="CRBRMultiDiv" class="alterID inVisible">
                                                        <select id="CRBranchCodeMulti"
                                                                data-name="BranchCodesDD" data-name-text="BranchNamesDD"
                                                                class="form-select alterID clonemultiselect"
                                                                onchange="CRBranchCodeMultiChanged()"
                                                                aria-label="Default select example">
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span class="actionBtn d-block">
                                                        <button id="AddBtn" type="button" disabled
                                                                class="btn primaryLink alterID cloneBtn addBtn"
                                                                data-toggle="tooltip"
                                                                onclick="addCloneBtnClick()"
                                                                data-placement="top" title="Add">
                                                            <i data-feather="plus"></i>
                                                        </button>
                                                        <button id="DeleteBtn" type="button"
                                                                class="btn secondaryLink inVisible alterID cloneBtn removeBtn"
                                                                onclick="RemoveBtnClicked()"
                                                                data-toggle="tooltip"
                                                                data-placement="top" title="Delete">
                                                            <i data-feather="x"></i>
                                                        </button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody id="tbody2"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="other_edit" class="inVisible">
                                <div class="table-responsive">
                                    <table class="table table-bordered w-100 btnalign" id="tblOtherEdit">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="text-align: left; vertical-align: middle;">SL. No.</th>
                                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%"> Scheduled Tour From Date</th>
                                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">Scheduled Tour To Date </th>
                                                <th scope="col" style="text-align: center; vertical-align: middle;" width="10%">
                                                    EDITED Tour To Date
                                                </th>
                                                <th scope="col" style="text-align: center; vertical-align: middle;" width="20%">Tour Category </th>
                                                <th scope="col" style="text-align: center; vertical-align: middle;">
                                                    Center Code & Name
                                                </th>
                                                <th scope="col" style="text-align: center; vertical-align: middle;">Branch Code & Name </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DWTDetailsCurrent != null && Model.DWTDetailsCurrent.Count > 0)
                                            {
                                                int sl = 1;
                                                foreach (var item in Model.DWTDetailsCurrent)
                                                {
                                                    <tr class="@(item.IsEditable==0?"mDivDisable":"")">
                                                        <td>
                                                            @sl
                                                            <div id="EditTagDivOE_@sl" data-name="EditRowTag"
                                                                 class="inVisible htmlVal mEditStatTag"></div>
                                                            <div data-name="SourceID"
                                                                 class="inVisible htmlVal">@item.SourceID</div>
                                                            </td>
                                                            <td class="text-center htmlVal" data-name="FromDate">
                                                                @item.SchFromDateDisplay
                                                            </td>
                                                            <td class="text-center htmlVal" data-name="ToDate">
                                                                @item.SchToDateDisplay
                                                            </td>
                                                            <td class="text-center htmlVal" data-name="EditToDate">
                                                                -
                                                            </td>
                                                            <td class="text-center">
                                                                <select id="OETourCategory_@sl" multiple="multiple"
                                                                        class="form-select example-getting-started form-multi"
                                                                        onchange="OETourCategoryChanged()"
                                                                        data-name="TourCategoryIDs" data-name-text="TourCategoryNames"
                                                                        aria-label="Default select example">
                                                                    @if (item.TourCategories != null && item.TourCategories.Count > 0)
                                                                    {
                                                                        foreach (var moption in item.TourCategories)
                                                                        {
                                                                            <option value="@moption.ID"> @moption.DisplayText</option>
                                                                        }
                                                                    }
                                                                    @*<option value="1"> Center Visit </option>
                                                                        <option value="2"> Branch & Center Visit </option>
                                                                        <option value="4"> Branch  Visit  </option>
                                                                        <option value="5"> Un Known Destination  </option>
                                                                        <option value="3"> Other Place </option>
                                                                        <option value="6"> E.P. Tour </option>*@
                                                                </select>
                                                            </td>
                                                            <td class="text-center">
                                                                <div id="OECenterCodeText_@sl" data-name="CentreNames"
                                                                     class="htmlVal">
                                                                    -
                                                                </div>
                                                                <div id="OECOMultiDiv_@sl" class="alterID inVisible">
                                                                    <select id="OECenterCodeMulti_@sl"
                                                                            data-name="CentreCodesMulti" data-name-text="CentreNamesMulti"
                                                                            class="form-select clonemultiselect"
                                                                            onchange="OECenterCodeMultiChanged()"
                                                                            aria-label="Default select example">
                                                                    </select>
                                                                </div>
                                                                <div id="OECODDDiv_@sl" class="alterID inVisible">
                                                                    <select id="OECenterCodeDD_@sl"
                                                                            data-name="CentreCodesDD" data-name-text="CentreNamesDD"
                                                                            class="form-select"
                                                                            onchange="OECenterCodeDDChanged()"
                                                                            aria-label="Default select example">
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div id="OEBranchCodeText_@sl" data-name="BranchNames"
                                                                     class="htmlVal">
                                                                    -
                                                                </div>
                                                                <div id="OEBRMultiDiv_@sl" class="alterID inVisible">
                                                                    <select id="OEBranchCodeMulti_@sl"
                                                                            data-name="BranchCodesDD" data-name-text="BranchNamesDD"
                                                                            class="form-select clonemultiselect"
                                                                            onchange="OEBranchCodeMultiChanged()"
                                                                            aria-label="Default select example">
                                                                    </select>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        sl += 1;
                                                    }
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mOptionDiv" class="bgColor mt-4 bg-transparent content text-left border-red">
                        <ul style="list-style:none;">
                            <li style="font-size: 16px;">
                                It Is Ensured That This Tour Is Prepared As Tour Category “Other Place” & In Factual It Is Taking Place The Same Way As Is selected:
                                <select class="form-select content border-red is-invalid"
                                        aria-label="Default select example"
                                        id="Option1" onchange="Option1Changed()">
                                    <option selected="">-</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
</div>
@section headers
{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/ETSEdit/ETSEditCreateTourEdit.js"></script>
    <script>
        (async function () {
            const r1 = await getMultiselectData('CRTourCategory', '/ETSEdit/GetTourCategories');
        })();
    </script>
    <script>
        $(document).ready(function () {
            $(".mDivDisable").each(function () {
                $(this).find('.form-select').makeDisable();
                $(this).find('.form-control').makeDisable();
                $(this).find('.form-multi').multiselect("disable");
            });
        });
    </script>
}