@using System.Globalization;
@model CBBW.BOL.Tour.TourRuleDetails
@{
    ViewBag.Title = "CreateRule";
}
@section headers{
}
<div class="row newTable">
    @using (Html.BeginForm("CreateRule", "TourRule", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.isBtn)
        @Html.HiddenFor(m => m.EffectiveDate)
        @Html.HiddenFor(m => m.ServiceTypeCodes)
        @Html.HiddenFor(m => m.ServiceTypeTexts)
        @Html.HiddenFor(m=>m.EffectiveDateOfLastPartiallyFilledRule)
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="button" class="btn btn-primary me-2">
                            @*onclick="window.location.href='@Url.Action("Index", "TourRule", new { Area = "Security" })';">*@
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button type="submit" name="Submit" value="create" disabled 
                                class="btn btn-secondary me-2" id="btnSubmit">
                            <i data-feather="upload"></i>
                            Submit
                        </button>
                        <button type="button" id="btnClear" class="btn btn-white">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>Tour - RULES</h2>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="form-sample form-inline row ms-auto ">
                        <div class="row d-flex align-items-center mb-3">
                            <div class="col-form-label col-md-2">
                                <label>Effective From Date :</label>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative">
                                    <input id="mEffectiveDate" type="date"
                                           min="@DateTime.Today.ToString("yyyy-MM-dd")"
                                           max="@DateTime.Today.AddMonths(1).ToString("yyyy-MM-dd")"
                                           class="form-control pointer is-invalid valid"
                                           title="Accept Today Or Future One Month">
                                    <label id="lblmEffectiveDate" style="width:100px"
                                           class="datelabel">Select Date</label>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-3">
                            <div class="col-form-label col-md-2">
                                <label>Entry Date :</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" disabled class="form-control" value="@DateTime.Today.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)" />
                            </div>
                            <div class="col-form-label col-md-2">
                                <label>Time : </label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" disabled class="form-control" value="@DateTime.Now.ToString("hh:mm tt")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ServiceTypeDiv" class="card mb-4 sectionB">
                <div class="card-body">
                    <div class="form-sample form-inline row ms-auto ">
                        <div class="row d-flex align-items-center mb-3">
                            <div class="row d-flex align-items-center">
                                <div class="col-form-label col-md-2">
                                    <label>Service Type :</label>
                                </div>
                                <div class="col-md-6">
                                    <select id="ServiceTypeDD" disabled
                                            class="form-select is-invalid"
                                            aria-label="Default select example">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BodyDiv" class="col-12 sectionB">
            <div class="bgColor mb-4 wid-100">
                <ul>
                    <li>
                        1. An Employee Scheduled For Tour And He Attended Late Or Returned Late From Tour. The
                        Following Are The Rules.
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If Employee Was Late By Public Transport
                                For More Than
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PublicTranDelay_HalfDA,
                            htmlAttributes: new
                            {
                                @class = "form-control only-numeric myctrl",
                                @placeholder = "Minutes",
                                onkeyup = "validatecontrol()",
                                title = "value Must Be 1-999"
                            })
                                </div>Minutes
                                And By Vehicle Both (4 & 2 Wheeler)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.OtherTranDelay_HalfDA,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Minutes",
                               onkeyup = "validatecontrol()",
                               title = "value Must Be 1-99"
                           })
                                </div> Minutes
                            </li>

                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If Employee Was Late By Public Transport
                                For More Than <div class="form-group">
                                    @Html.TextBoxFor(m => m.PublicTranDelay_FullDA,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Minutes",
                               onkeyup = "validatecontrol()",
                               title = "value Must Be 1-999"
                           })
                                </div> Minutes
                                And By Vehicle Both (4 & 2 Wheeler)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.OtherTranDelay_FullDA,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Minutes",
                               onkeyup = "validatecontrol()",
                               title = "value Must Be 1-999"
                           })
                                </div> Minutes
                            </li>
                        </ol>
                    </li>
                    <li>
                        2. Night Stay Punches Required During Continues Tour At Same Location. This Condition Is Only
                        For “Driver” As Mentioned
                        In “ENTRY – I”. And The Following Are The Rules.
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If ‘Night Stay Late Night Punch’ Required
                                But Not Done Between The Time:
                                <div class="form-group">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.NightPunch_From,
                                       new
                                       {
                                           @type = "text",
                                           @value = "12:00 AM",
                                           @class = "form-control timePicker myctrl",
                                           required = "",
                                           @placeholder = "12:00 AM",
                                           onblur = "validatecontrol()",
                                           title = "Enter Time"
                                       })
                                        @*<span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>*@

                                    </div>
                                </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To: &nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.NightPunch_To, new
                                   {
                                       @type = "text",
                                       @class = "form-control timePicker myctrl",
                                       required = "",
                                       @placeholder = "12:00 AM",
                                       onblur = "validatecontrol()",
                                       title = "Enter Time"
                                   })
                                        @*<span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>*@
                                    </div>
                                </div>
                            </li>
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If ‘Night Stay Early Morning Punch’
                                Required But Not Done Between The Time:
                                <div class="form-group" id="timepic">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.EarlyMorningPunch_From,
                                       new
                                            {
                                                @type = "text",
                                           @class = "form-control timePicker myctrl",
                                           required = "",
                                           @placeholder = "12:00 AM",
                                           onblur = "validatecontrol()",
                                           title = "Enter Time"
                                       })
                                        @*<span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>*@
                                    </div>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To: &nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.EarlyMorningPunch_To,
                                       new
                                            {
                                                @type = "text",
                                           @class = "form-control timePicker myctrl",
                                           required = "",
                                           @placeholder = "12:00 AM",
                                           onblur = "validatecontrol()",
                                           title = "Enter Time"
                                       })
                                        @*<span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>*@
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li>
                        3. When An Employee Tour Scheduled For A Location & Continuing At The Same Location Then That
                        Day “Actual Tour IN Time”
                        Should Be As Follows:
                        @Html.DropDownListFor(m => m.ReadRule1,
                     new[] {
                         new SelectListItem { Text = "-", Value = "-1" },
                         new SelectListItem { Text = "Yes", Value = "1" },
                         new SelectListItem { Text = "No", Value = "0" } },
                     htmlAttributes: new
                     {
                         @class = "form-select myctrl",
                         @onchange = "validatecontrol()",
                         title = "Accept YES Only"
                     })
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 1<sup>st</sup> Session Time Of The Tour Location (For Center Visit, Branch & Center
                                Visit).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 2<sup>nd</sup> Session Time Of The Tour Location (For Center Visit, Branch & Center
                                Visit)
                            </li>
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 1<sup>st</sup> Session Time Of The “Main Location” (For Other Place).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 2<sup>nd</sup> Session Time Of The “Main Location” (For Other Place).
                            </li>
                        </ol>
                    </li>
                    <li>
                        4. When An Employee Tour Scheduled For A Location & Continuing At The Same Location Then That
                        Day “Actual Tour OUT Time”
                        Should Be As Follows:
                        @Html.DropDownListFor(m => m.ReadRule2,
                   new[] {
                       new SelectListItem { Text = "-", Value = "-1" },
                       new SelectListItem { Text = "Yes", Value = "1" },
                       new SelectListItem { Text = "No", Value = "0" } },
                   htmlAttributes: new
                   {
                       @class = "form-select myctrl",
                       @onchange = "validatecontrol()",
                       title = "Accept YES Only"
                   })
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour OUT Time” Is Within 2<sup>nd</sup>
                                Session Time Of The Tour Location (For
                                Center Visit, Branch & Center Visit).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour OUT Time” Is Within 1<sup>st</sup>
                                Session Time Of The Tour Location (For
                                Center Visit, Branch & Center Visit).
                            </li>
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour OUT Time” Is Within 2<sup>nd</sup>
                                Session Time Of The “Main Location”
                                (For Other Place).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour OUT Time” Is Within 1<sup>st</sup>
                                Session Time Of The “Main Location”
                                (For Other Place).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour OUT Time” Not Found.
                            </li>
                        </ol>
                    </li>
                    <li>
                        5. When “Main Location” Time IN Is With In Office Hours Then The Person Should Be Present Till
                        Completion Of Second
                        Session. Other Wise Rule Is As Follows:
                        @Html.DropDownListFor(m => m.ReadRule3,
                   new[] {
                       new SelectListItem { Text = "-", Value = "-1" },
                       new SelectListItem { Text = "Yes", Value = "1" },
                       new SelectListItem { Text = "No", Value = "0" }
                        },
                   htmlAttributes: new
                   {
                       @class = "form-select myctrl",
                       @onchange = "validatecontrol()",
                       title = "Accept YES Only"
                   })
                        <ol style="list-style-type: lower-latin;">
                            <li>Mark Half Day Absent If Last Punch Found Within 2<sup>nd</sup> Session Time.</li>
                            <li>Mark Full Day Absent If Last Punch Found Within 1<sup>st</sup> Session Time.</li>
                        </ol>
                    </li>
                    <li>
                        6. An Employee Is Allowed To Go On Tour, For A Maximum Number Of Days:
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MaxDayAllowed,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Days",
                               onkeyup = "validatecontrol()",
                               title = "Value Must Be 1-99"
                           })
                        </div>
                    </li>
                    <li>
                        7. Company Or Other Vehicles (4 & 2 Wheel), Maximum Travel Time Is
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MaxTraveltime_ComVeh_50km,
                          htmlAttributes: new
                               {
                                   @class = "form-control only-numeric myctrl",
                              @placeholder = "Minutes",
                              onkeyup = "validatecontrol()",
                              title = "Value Must Be 1-99"
                          })
                        </div> Minutes For Covering A
                        Distance Of 50 KM.
                    </li>
                    <li>
                        8. Public Transport, Maximum Travel Time Is
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MaxTraveltime_PubTran_50km,
                          htmlAttributes: new
                               {
                                   @class = "form-control only-numeric myctrl",
                                  @placeholder = "Minutes",
                                  onkeyup = "validatecontrol()",
                                  title = "Value Must Be 1-99"
                              })    
                        </div>Minutes For Covering A Distance Of 50 KM.
                    </li>
                    <li>
                        9. For Visiting Place More Than 200 km
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.GracePeriod_200km,
                         htmlAttributes: new
                              {
                                  @class = "form-control only-numeric myctrl",
                                 @placeholder = "Minutes",
                                 onkeyup = "validatecontrol()",
                                 title = "Value Must Be 1-99"
                             })
                        </div> Minutes Grace Period Allowed:
                        @Html.DropDownListFor(m => m.MinutesGracePeriodAllowed,
                    new[] {
                        new SelectListItem { Text = "-", Value = "-1" },
                        new SelectListItem { Text = "Yes", Value = "1" },
                          new SelectListItem { Text = "No", Value = "0" }
                           },
                    htmlAttributes: new
                    {
                        @class = "form-select myctrl",
                        @onchange = "validatecontrol()",
                        title = "Accept Yes Or No"
                    })
                    </li>
                    <li>
                        10. Leave In Charge Employee Not Allowed To Go On Tour:
                        @Html.DropDownListFor(m => m.LICAllowTour,
                      new[] {
                          new SelectListItem { Text = "-", Value = "-1" },
                          new SelectListItem { Text = "Yes", Value = "1" },
                          new SelectListItem { Text = "No", Value = "0" }                          
                           },
                      htmlAttributes: new
                      {
                          @class = "form-select myctrl",
                          @onchange = "validatecontrol()",
                          title = "Accept YES Only"
                      })
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="d-flex justify-content-center mt-3">
                <button id="btnSave" type="submit" name="Submit" value="save" 
                        disabled="disabled"
                        class="btn btn-green me-2">
                    <i data-feather="check-circle"></i>
                    Save
                </button>
            </div>
        </div>

    }

</div>
@*<script src="~/UIContent/JS/jquery-3.6.0.min.js"></script>*@
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/TourRule.js"></script>
    <script>
        
    </script>
    <script type="text/javascript">

    

    </script>
    <script>
        $(document).ready(function () {
            $('.datepicker5').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-m-yy',
                minDate: new Date(),
                maxDate: "+1m",
                autoclose: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var firstOpen = true;
            var time;

            $('.timePicker').datetimepicker({
                useCurrent: false,
                format: "hh:mm A"
            }).on('dp.show', function () {
                if (firstOpen) {
                    time = moment().startOf('day');
                    firstOpen = false;
                } else {
                    time = "01:00 PM"
                }

                $(this).data('DateTimePicker').date(time);
                validatecontrol();
            });

        });
    </script>
    <script>
        $(window).scroll(function (e) {
            var $el = $('.fixedElement');
            var isPositionFixed = ($el.css('position') == 'fixed');
            if ($(this).scrollTop() > 200 && !isPositionFixed) {
                $el.css({ 'position': 'sticky', 'top': '0px' });
            }
            if ($(this).scrollTop() < 200 && isPositionFixed) {
                $el.css({ 'position': 'static', 'top': '0px' });
            }
        });
    </script>
    
    <script>
        $(document).ready(function () {
            var mymsg = '@ViewBag.ErrorMsg';
            if (mymsg != '') {
                Swal.fire({
                    title: 'Failed To Save Rule',
                    text: "@ViewBag.ErrorMsg",
                    icon: 'Error',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                });
            };
            if ('@ViewBag.SaveMessage' != '') {
                Swal.fire({
                    title: 'Success',
                    text: "@ViewBag.SaveMessage",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var effDt = $('#EffectiveDate').val();
                        $('#mEffectiveDate').val(effDt).attr('disabled', 'disabled');
                        ChangeEffectiveDate();
                    }
                }
            };
            if ('@ViewBag.Message' != '') {
                Swal.fire({
                    title: 'Success',
                    text: "@ViewBag.Message",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                }).then(callback);
                function callback(result) {
                    if (result.value) {
                        var url = "/Security/TourRule/Index";
                        window.location.href = url;
                    }
                }
            };
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#btnBack').click(function () {
                var url = "/Security/TourRule/Index";
                if ($('.is-invalid').length > 0 || $('#isBtn').val() == 1) {
                    Swal.fire({
                        title: 'Confirmation Message',
                        text: "Are You Sure Want to Go Back?",
                        icon: 'warning',
                        customClass: 'swal-wide',
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        cancelButtonClass: 'btn-cancel',
                        confirmButtonColor: '#2527a2',
                        showCancelButton: true,
                    }).then(callback);
                    function callback(result) {
                        if (result.value) {
                            window.location.href = url;
                        } else {
                            // second variant
                        }
                    }
                } else {
                    window.location.href = url;
                };
            });
        });

    </script>

}


