@using System.Globalization;
@using CBBW.BOL.Tour;
@model TourRuleDetails
@{
    ViewBag.Title = "View Tour Rule";
}
<div class="row newTable">
    @using (Html.BeginForm("DeleteRule", "TourRule", new { Area = "Security", id = Model.ID }))
    {        
        @Html.HiddenFor(m => m.EffectiveDate)
        @Html.HiddenFor(m=>m.IsbtnDeleteActive)
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 mt-4">
                    <div class="leftButton">
                        <button id="btnBackOnView" type="button" class="btn btn-primary me-2">
                            @*onclick="window.location.href='@Url.Action("Index", "TourRule", new { Area = "Security" })';">*@
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button id="deleteBtn" type="button"
                                onclick="DeleteBtnClicked()"
                                class="btn btn-primary me-2 inVisible">
                            <i data-feather="trash-2"></i>
                            Delete
                        </button>
                        <button id="deleteAllBtn" type="button"
                                onclick="DeleteAllBtnClicked()"
                                class="btn btn-primary me-2 inVisible">
                            <i data-feather="trash-2"></i>
                            Delete All
                        </button>
                    </div>
                    <h2>Tour - RULES</h2>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="form-sample form-inline row ms-auto ">
                        <div class="row d-flex align-items-center mb-3">
                            <div class="col-form-label col-md-2">
                                <label>Effective From Date :</label>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative">
                                    @Html.TextBoxFor(m => m.EffectiveDateDisplay,
                               new
                                    {
                                   @class = "form-control",
                                   disabled="disabled"
                               })
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-3">
                            <div class="col-form-label col-md-2">
                                <label>Entry Date :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="mEntryDate" type="text" disabled class="form-control" 
                                       value="@DateTime.Today.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)" />
                            </div>
                            <div class="col-form-label col-md-2">
                                <label>Time : </label>
                            </div>
                            <div class="col-md-4">
                                <input id="mEntryTime" type="text" disabled class="form-control" 
                                       value="@DateTime.Now.ToString("hh:mm tt")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ServiceTypeDiv" class="card mb-4">
                <div class="card-body">
                    <div class="form-sample form-inline row ms-auto ">
                        <div class="row d-flex align-items-center mb-3">
                            <div class="row d-flex align-items-center">
                                <div class="col-form-label col-md-2">
                                    <label>Service Type :</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.ServiceTypeCodes,
                                       new SelectList(Model.RuleServiceTypeList, "ServiceTypeCodes", "ServiceTypeTexts"),
                                       "Select Service Type",
                                       htmlAttributes: new
                                       {
                                           @class = "form-select pointer",
                                           onchange="ServiceTypeChangedFromView()"
                                       })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BodyDiv" class="col-12">
            <div class="bgColor mb-4 wid-100">
                <ul>
                    <li>
                        1. An Employee Scheduled For Tour And He Attended Late Or Returned Late From Tour. The
                        Following Are The Rules.
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If Employee Was Late By Public Transport
                                For More Than
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PublicTranDelay_HalfDA,
                            htmlAttributes: new
                            {
                                @class = "form-control only-numeric myctrl",
                                @placeholder = "Minutes",
                                onkeyup = "validatecontrol()",
                                title = "value Must Be 1-999"
                            })
                                </div>Minutes
                                And By Vehicle Both (4 & 2 Wheeler)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.OtherTranDelay_HalfDA,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Minutes",
                               onkeyup = "validatecontrol()",
                               title = "value Must Be 1-999"
                           })
                                </div> Minutes
                            </li>

                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If Employee Was Late By Public Transport
                                For More Than <div class="form-group">
                                    @Html.TextBoxFor(m => m.PublicTranDelay_FullDA,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Minutes",
                               onkeyup = "validatecontrol()",
                               title = "value Must Be 1-999"
                           })
                                </div> Minutes
                                And By Vehicle Both (4 & 2 Wheeler)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.OtherTranDelay_FullDA,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Minutes",
                               onkeyup = "validatecontrol()",
                               title = "value Must Be 1-999"
                           })
                                </div> Minutes
                            </li>
                        </ol>
                    </li>
                    <li>
                        2. Night Stay Punches Required During Continues Tour At Same Location. This Condition Is Only
                        For “Driver” As Mentioned
                        In “ENTRY – I”. And The Following Are The Rules.
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If ‘Night Stay Late Night Punch’ Required
                                But Not Done Between The Time:
                                <div class="form-group">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.NightPunch_From,
                                       new
                                       {
                                           @type = "text",
                                           @value = "12:00 AM",
                                           @class = "form-control timePicker myctrl",
                                           required = "",
                                           @placeholder = "12:00 AM",
                                           onkeyup = "validatecontrol()",
                                           title = "Enter Time"
                                       })
                                        <span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>

                                    </div>
                                </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To: &nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.NightPunch_To, new
                                   {
                                       @type = "text",
                                       @class = "form-control timePicker myctrl",
                                       required = "",
                                       @placeholder = "12:00 AM",
                                       onkeyup = "validatecontrol()",
                                       title = "Enter Time"
                                   })
                                        <span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If ‘Night Stay Early Morning Punch’
                                Required But Not Done Between The Time:
                                <div class="form-group" id="timepic">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.EarlyMorningPunch_From,
                                       new
                                            {
                                                @type = "text",
                                           @class = "form-control timePicker myctrl",
                                           required = "",
                                           @placeholder = "12:00 AM",
                                           onkeyup = "validatecontrol()",
                                           title = "Enter Time"
                                       })
                                        <span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To: &nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="date position-relative">
                                        @Html.TextBoxFor(m => m.EarlyMorningPunch_To,
                                       new
                                            {
                                                @type = "text",
                                           @class = "form-control timePicker myctrl",
                                           required = "",
                                           @placeholder = "12:00 AM",
                                           onkeyup = "validatecontrol()",
                                           title = "Enter Time"
                                       })
                                        <span class=" date-ico "><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li>
                        3. When An Employee Tour Scheduled For A Location & Continuing At The Same Location Then That
                        Day “Actual Tour IN Time”
                        Should Be As Follows:
                        @Html.DropDownListFor(m => m.ReadRule1,
                     new[] {
                         new SelectListItem { Text = "Yes", Value = "1" },
                         new SelectListItem { Text = "No", Value = "0" },
                     new SelectListItem { Text = "-", Value = "-1" } },
                     htmlAttributes: new
                     {
                         @class = "form-select myctrl",
                         @onchange = "validatecontrol()",
                         title = "Accept Only Yes"
                     })
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 1<sup>st</sup> Session Time Of The Tour Location (For Center Visit, Branch & Center
                                Visit).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 2<sup>nd</sup> Session Time Of The Tour Location (For Center Visit, Branch & Center
                                Visit)
                            </li>
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 1<sup>st</sup> Session Time Of The “Main Location” (For Other Place).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour IN Time” Is Not Equal /
                                Earlier / Not Found To ‘Required Time
                                IN’
                                But Within 2<sup>nd</sup> Session Time Of The “Main Location” (For Other Place).
                            </li>
                        </ol>
                    </li>
                    <li>
                        4. When An Employee Tour Scheduled For A Location & Continuing At The Same Location Then That
                        Day “Actual Tour OUT Time”
                        Should Be As Follows:
                        @Html.DropDownListFor(m => m.ReadRule2,
                   new[] {
                       new SelectListItem { Text = "Yes", Value = "1" },
                       new SelectListItem { Text = "No", Value = "0" },
                   new SelectListItem { Text = "-", Value = "-1" }},
                   htmlAttributes: new
                   {
                       @class = "form-select myctrl",
                       @onchange = "validatecontrol()",
                       title = "Accept Only Yes"
                   })
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour OUT Time” Is Within 2<sup>nd</sup>
                                Session Time Of The Tour Location (For
                                Center Visit, Branch & Center Visit).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour OUT Time” Is Within 1<sup>st</sup>
                                Session Time Of The Tour Location (For
                                Center Visit, Branch & Center Visit).
                            </li>
                            <li>
                                Mark Half Day Absent & Deduct Half Day DA If “Actual Tour OUT Time” Is Within 2<sup>nd</sup>
                                Session Time Of The “Main Location”
                                (For Other Place).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour OUT Time” Is Within 1<sup>st</sup>
                                Session Time Of The “Main Location”
                                (For Other Place).
                            </li>
                            <li>
                                Mark Full Day Absent & Deduct Full Day DA If “Actual Tour OUT Time” Not Found.
                            </li>
                        </ol>
                    </li>
                    <li>
                        5. When “Main Location” Time IN Is With In Office Hours Then The Person Should Be Present Till
                        Completion Of Second
                        Session. Other Wise Rule Is As Follows:
                        @Html.DropDownListFor(m => m.ReadRule3,
                   new[] {
                       new SelectListItem { Text = "Yes", Value = "1" },
                       new SelectListItem { Text = "No", Value = "0" },
                       new SelectListItem { Text = "-", Value = "-1" }
                        },
                   htmlAttributes: new
                   {
                       @class = "form-select myctrl",
                       @onchange = "validatecontrol()",
                       title = "Accept Only Yes"
                   })
                        <ol style="list-style-type: lower-latin;">
                            <li>Mark Half Day Absent If Last Punch Found Within 2<sup>nd</sup> Session Time.</li>
                            <li>Mark Full Day Absent If Last Punch Found Within 1<sup>st</sup> Session Time.</li>
                        </ol>
                    </li>
                    <li>
                        6. An Employee Is Allowed To Go On Tour, For A Maximum Number Of Days:
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MaxDayAllowed,
                           htmlAttributes: new
                           {
                               @class = "form-control only-numeric myctrl",
                               @placeholder = "Days",
                               onkeyup = "validatecontrol()",
                               title = "Value Must Be 1-99"
                           })
                        </div>
                    </li>
                    <li>
                        7. Company Or Other Vehicles (4 & 2 Wheel), Maximum Travel Time Is
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MaxTraveltime_ComVeh_50km,
                          htmlAttributes: new
                               {
                                   @class = "form-control only-numeric myctrl",
                              @placeholder = "Minutes",
                              onkeyup = "validatecontrol()",
                              title = "Value Must Be 1-99"
                          })
                        </div> Minutes For Covering A
                        Distance Of 50 KM.
                    </li>
                    <li>
                        8. Public Transport, Maximum Travel Time Is
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MaxTraveltime_PubTran_50km,
                          htmlAttributes: new
                               {
                                   @class = "form-control only-numeric myctrl",
                                  @placeholder = "Minutes",
                                  onkeyup = "validatecontrol()",
                                  title = "Value Must Be 1-99"
                              })
                        </div>Minutes For Covering A Distance Of 50 KM.
                    </li>
                    <li>
                        9. For Visiting Place More Than 200 km
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.GracePeriod_200km,
                         htmlAttributes: new
                              {
                                  @class = "form-control only-numeric myctrl",
                                 @placeholder = "Minutes",
                                 onkeyup = "validatecontrol()",
                                 title = "Value Must Be 1-99"
                             })
                        </div> Minutes Grace Period Allowed:
                        @Html.DropDownListFor(m => m.MinutesGracePeriodAllowed,
                    new[] {new SelectListItem { Text = "Yes", Value = "1" },
                          new SelectListItem { Text = "No", Value = "0" },
                          new SelectListItem { Text = "-", Value = "-1" } },
                    htmlAttributes: new
                    {
                        @class = "form-select myctrl",
                        @onchange = "validatecontrol()",
                        title = "Accept Yes Or No"
                    })
                    </li>
                    <li>
                        10. Leave In Charge Employee Not Allowed To Go On Tour:
                        @Html.DropDownListFor(m => m.LICAllowTour,
                      new[] {
                          new SelectListItem { Text = "Yes", Value = "1" },
                          new SelectListItem { Text = "No", Value = "0" },
                          new SelectListItem { Text = "-", Value = "-1" }
                           },
                      htmlAttributes: new
                      {
                          @class = "form-select myctrl",
                          @onchange = "validatecontrol()",
                          title = "Accept Only Yes"
                      })
                    </li>
                </ul>
            </div>
        </div>
        
    }

</div>
@section scripts{
<script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
<script src="~/UIContent/JS/CustomePage/TourRule.js"></script>
    <script>
        $(document).ready(function () {
            var deletebtn = $('#deleteBtn');
            var deleteallbtn = $('#deleteAllBtn');
            if ($('#IsbtnDeleteActive').val() == 1) {
                deletebtn.removeClass('inVisible');
                deleteallbtn.removeClass('inVisible');
            } else {
                deletebtn.addClass('inVisible');
                deleteallbtn.addClass('inVisible');
            }
        });
    </script>
}