@using System.Linq;
@model CBBW.Areas.Security.ViewModel.LVTSFromMatVM
@{

}
<div class="row newTable">
    @using (Html.BeginForm())
    {
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 mt-4">
                    <div class="leftButton">
                        <button type="button" class="btn btn-primary me-2"
                                onclick="BackBtnClicked()">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                    </div>
                    <h2>Local Vehicle Schedule</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card mb-4">
                <div class="card-body">
                    @*<form class="form-sample form-inline row ms-auto">*@
                    <div class="row d-flex align-items-center">
                        <label class="col-form-label col-md-3">
                            From Date :
                        </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.FromDate, "{0:dd-MM-yyyy}",
                           htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <label class="col-form-label col-md-3">
                            To Date :
                        </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.ToDate, "{0:dd-MM-yyyy}",
                           htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" width="13%">Scheduled Date</th>
                                <th scope="col" class="text-center">Vehicle No.</th>
                                <th scope="col" class="text-center">To Location Type Code & Name</th>
                                <th scope="col" class="text-center">To Location Code & Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LVSDataList != null && Model.LVSDataList.Count > 0)
                            {
                                int x = 0;
                                foreach (var item in Model.LVSDataList)
                                {
                                    int rowspan = Model.LVSDataList.Where(o => o.FromDate == item.FromDate).ToList().Count;
                                    <tr>
                                        @if (x == 0)
                                        {
                                            <td rowspan="@rowspan" class="text-center">
                                                @item.FromDate.ToString("dd/MM/yyyy")
                                            </td>
                                            x = rowspan;
                                        }
                                        @if (x > 0) { x -= 1; }
                                        <td class="text-center"> @item.VehicleNumber</td>
                                        <td class="text-center">@item.ToCenterTypeName</td>
                                        <td class="text-center">@item.ToCenterName </td>
                                    </tr>

                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
}
