@using System.Globalization;
@using CBBW.Areas.Security.ViewModel.CTV;
@model AddOtherTripVM
@{
    ViewBag.Title = "CTV Entry";
}
@Html.HiddenFor(m => m.NoteNumber)
@Html.HiddenFor(m => m.IsBackDenied)
@Html.HiddenFor(m => m.Slots.OccupiedSlots)
@Html.HiddenFor(m => m.Slots.AvailableSlots)
<div id="HdrDiv">
    <div class="row newTable">
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 mt-4">
                    <div class="leftButton">
                        <button type="button" class="btn btn-primary me-2"
                                onclick="NormalBackBtnClicked('/Security/CTV2/CreateNote')">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button id="btnSubmit" type="button" disabled="disabled"
                                class="btn btn-secondary me-2" onclick="SaveData()">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-white"
                                onclick="ClearBtnClicked('/Security/CTV2/CreateOtherTrip')">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>"Company Transport” Vehicle Trip Schedule – ENTRY</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="heading_text_btn2 d-block mb-4">
                <h2 class="text-center">A. Other Trip Schedule - Date Wise Vehicle Trip Details Entry:</h2>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    @*<form class="form-sample form-inline ms-auto row">*@
                    <div class="row d-flex align-items-center">
                        <label class="col-form-label col-md-2">
                            Trip Purpose  :
                        </label>
                        <div class="col-md-10">
                            <textarea id="TripPurpose" rows="2" cols="50"
                                      class="form-control is-invalid"
                                      onkeyup="ValidateTripPurpose()"
                                      name="message"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tblOTVAdd" class="col-md-12">
            <div class="table-responsive max-content newTable mt-4">
                <table class="table table-bordered btnalign table-last-col" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                SL.No.
                            </th>

                            <th colspan="2" style="text-align: center; vertical-align: middle;" scope="col">
                                Scheduled Trip From
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">From Location Type Code & Name</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                From Location Code & Name
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">To Location Type Code & Name</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                To Location Code & Name
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                Scheduled Trip To Date
                            </th>
                            <th scope="col" class="action" style="text-align: center;background-color:pink;color:#000; vertical-align: middle;" rowspan="2">
                                Actions
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" width="12%">Time</th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        <tr id="0" class="add-row alterID">
                            <th scope="row">1</th>
                            <td>
                                <div class="form-group">
                                    <div class="position-relative">
                                        <input id="FromDate_0" type="date" data-name="FromDate"
                                               min="@(DateTime.Today.ToString("yyyy-MM-dd"))"
                                               onchange="FromDateChanged()"
                                               class="form-control is-invalid valid alterID rowlock disableDates inValidTag">
                                        <label id="lblFromDate_0" class="datelabel alterID" style="width:100px">Select A Date</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group ">
                                    <div class="input-group date pointer position-static">
                                        <input id="time-FromDate_0" 
                                               type="text" data-name="FromTime"
                                               onchange="FromTimeChanged()"
                                               class="form-control rowlock EntrynDisabledForEntry pointer timePickerPreDateCtrlV2 alterID"
                                               placeholder="1:00 PM">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="FromLocationType_0" 
                                            data-name="FromLocationTypeCode" data-name-text="FromLocationTypeText" 
                                            class="form-select rowlock alterID EntrynDisabledForEntry fromloctype"
                                            onchange="ChangeFromLocationType()">
                                        <option value="">Select Location Type</option>
                                        @if (Model.LocationTypes != null)
                                        {
                                            foreach (var item in Model.LocationTypes)
                                            {
                                                <option value="@item.ID">@item.DisplayText</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="FromLocation_0"
                                            data-name="FromLocationCode" data-name-text="FromLocationText" 
                                            class="form-select rowlock alterID EntrynDisabledForEntry fromloc"
                                            onchange="ChangeFromLocation()"
                                            aria-label="Default select example">
                                        <option value="-1">Select location</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div id="ConToLocationType_0" class="form-group alterID">
                                    <select id="ToLocationType_0"
                                            data-name="ToLocationTypeCodes" data-name-text="ToLocationTypeText" 
                                            class="form-select ApplyMultiSelect alterID inValidTag"
                                            onchange="ChangeToLocationType()">
                                        @if (Model.LocationTypes != null)
                                        {
                                            foreach (var item in Model.LocationTypes)
                                            {
                                                <option value="@item.ID">@item.DisplayText</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div id="ConToLocation_0" class="form-group alterID">
                                    <select id="ToLocation_0"
                                            data-name-text="ToLocationText"
                                            class="form-select alterID EntrynDisabledForEntry"
                                            onchange="ChangeToLocation()">
                                    </select>
                                    <label id="UCSToLocation_0"
                                           data-name="ToLocationCodes"
                                           class="alterID inVisible htmlVal toloc"
                                           style="width:100px">x</label>
                                    <label id="TUCSToLocation_0"
                                           class="alterID inVisible htmlVal toloc"
                                           style="width:100px">x</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="ToDate_0" type="text" data-name="ToDate" 
                                           class="form-control alterID EntrynDisabledForEntry is-invalid">
                                </div>
                            </td>
                            <td class="last-action">
                                <span class="actionBtn">
                                    <button id="AddBtn_0" type="button" disabled 
                                            class="btn primaryLink rowlock alterID addBtn cloneBtn"
                                            data-toggle="tooltip" onclick="AddBtnClicked('tbody1','tbody2',true,true,false,'btnSubmit','HdrDiv')"
                                            data-placement="top" title="Add">
                                        <i data-feather="plus"></i>
                                    </button>
                                    <button id="DeleteBtn_0" type="button" 
                                            class="btn secondaryLink alterID rowlock inVisible removeBtn cloneBtn"
                                            data-toggle="tooltip" onclick="RemoveBtnClicked('tbody2','btnSubmit','HdrDiv','myTable')"
                                            data-placement="top" title="Delete">
                                        <i data-feather="x"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody id="tbody2">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <div class="sectionB">
        <div class="col-md-12">
            <div class="heading_text_btn2 d-block mb-4">
                <h2 class="text-center">
                    B. Updated Other Trip Schedule - Date Wise Vehicle Trip Details Entry:

                </h2>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive newTable">
                <table class="table table-bordered btnalign">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                SL.No.
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2"> Driver No. & Name</th>
                            <th colspan="2" style="text-align: center; vertical-align: middle;" scope="col">
                                Scheduled Trip From
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">From Location Type Code & Name</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                From Location Code & Name
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">To Location Type Code & Name</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                To Location Code & Name
                            </th>
                            <th scope="col" style="text-align: center; vertical-align: middle;" rowspan="2">
                                Scheduled Trip To Date
                            </th>
                            <th scope="col" style="text-align: center; background-color: pink; color: #000; vertical-align: middle;" rowspan="2">
                                Actions
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Date</th>
                            <th scope="col" style="text-align: center; vertical-align: middle;">Time</th>
                        </tr>
                    </thead>
                    <tbody id="tbody3">
                        <tr id="0">
                            <th scope="row">1</th>
                            <td>
                                <div class="form-group">
                                    <input id="0_Driver2" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="0_FromDate2" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="0_FromTime2" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="0_FromLT2" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="0_FromL2" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="0_ToLT2" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="0_ToL2X" type="text" disabled="disabled"
                                           class="form-control ">
                                </div>
                            </td>
                            <td>
                                <input id="0_ToDate2" type="text" disabled="disabled"
                                       class="form-control ">
                            </td>
                            <td>
                                <span class="actionBtn">
                                    <button type="button" class="btn primaryLink" data-toggle="tooltip"
                                            data-placement="top" title="Add" disabled>
                                        <i data-feather="plus" onClick="plusAction()"></i>
                                    </button>

                                    <button type="button" class="btn secondaryLink" data-toggle="tooltip"
                                            data-placement="top" title="Delete" disabled>
                                        <i data-feather="x"></i>
                                    </button>
                                </span>
                            </td>

                        </tr>
                    </tbody>
                    <tbody id="tbody4"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="tblOTVStatement" class="bgColor mt-4 bg-transparent content border-red text-left">
            <ul style="list-style:none; margin: 0; padding: 0;">
                <li style="font-size: 16px;">
                    It Is Ensured That This Trip Is Prepared As Center Code/Name “Other Place” & In Factual It Is Taking Place The Same Way As It Is Selected:
                    <select id="StatementOthLoc" disabled 
                            class="form-select"
                            style="width:110px"
                            onchange="ValidateStatementOthLoc()"
                            aria-label="Default select example">
                        <option selected value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        @*<option selected value="0">No</option>*@
                    </select>
                </li>
                <li style="font-size: 16px;">
                    The Other Trip Schedule Is Taken Up With The Knowledge Of DIC P&A That Transpired Through Mail:
                    <select id="StatementDIC" class="form-select is-invalid"
                            style="width:110px"
                            onchange="ValidateStatementDIC()"
                            aria-label="Default select example">
                        <option selected value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        @*<option selected value="0">No</option>*@
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>
@section headers
{
    <style>
        input[type="date"]:disabled + label {
            background: #e9ecef;
        }

        .table-last-col thead th.action {
            position: sticky;
            top: 0;
            right: 0px;
        }

        .table-last-col tr .last-action {
            position: sticky;
            top: 0;
            right: 0px;
            background-color: #ffffff;
            z-index: 9999;
        }

    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
    <script src="~/UIContent/JS/CustomePage/CTV/CreateOtherTrip.js"></script>
    
}
