@using System.Globalization;
@using CBBW.BOL.CTV;
@model TripScheduleHdr
@{
    ViewBag.Title = "CTV Edit Note";
}
<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Vehicleno)
        @Html.HiddenFor(m => m.NoteNo)
        @Html.HiddenFor(m => m.CenterCode)
        @Html.HiddenFor(m => m.CenterName)
        @Html.HiddenFor(m => m.CentreCodenName)
        @Html.HiddenFor(m => m.FortheMonth)
        @Html.HiddenFor(m => m.FortheYear)
        @Html.HiddenFor(m => m.FortheMonthnYear)
        @Html.HiddenFor(m => m.FromDate)
        @Html.HiddenFor(m => m.ToDate)
        @Html.HiddenFor(m => m.VehicleType)
        @Html.HiddenFor(m => m.ModelName)
        @Html.HiddenFor(m => m.DriverNo)
        @Html.HiddenFor(m => m.DriverName)
        @Html.HiddenFor(m => m.DriverNonName)
        @Html.HiddenFor(m => m.TripPurpose)
        @Html.HiddenFor(m => m.IsOTSSaved)
        @Html.HiddenFor(m => m.IsLTSSaved)
        @Html.HiddenFor(m => m.EntryDate)
        @Html.HiddenFor(m => m.EntryTime)
        @Html.HiddenFor(m => m.IsBackDenied)
        <div class="col-md-12">
            <div class="heading_text_btn mb-3 mt-4">
                <div class="leftButton">
                    <button id="btnBack" type="button" class="btn btn-primary me-2"
                            onclick="NormalBackBtnClicked('/Security/CTV2/Index')">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="submit" name="Submit" value="Edit"
                            class="btn btn-secondary me-2" disabled="disabled"
                            @*onclick="window.location.href='vehicle_trip_schedule.html';"*@>
                        <i data-feather="upload"></i>
                        Submit
                    </button>
                    <button type="button" onclick="ClearBtnClicked('/Security/CTV2/EditNote?NoteNumber='+@Model.NoteNo+'&isClear=1')"
                            class="btn btn-white">
                        <i data-feather="x-circle"></i>
                        Clear
                    </button>
                </div>
                <h2 style="text-align: right;">“Company Transport” Vehicle Trip Schedule - EDIT</h2>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-2 upper-tab-buttons">
                    <button type="submit" name="Submit"
                            value="TourRule" class="btn btn-primary me-2">
                        Tour
                        Rules
                    </button>
                    <button type="submit" name="Submit"
                            value="TADARule" class="btn btn-primary me-2">
                        TA & DA
                        Rules
                    </button>
                    <button type="submit" name="Submit"
                            value="LocalVehicleSchedule" class="btn btn-primary">
                        Local Vehicle
                        Schedule
                    </button>
                </div>
            </div>
            <div class="card mb-4 mt-4">
                <div class="card-body formInputWidth">
                    @*<form class="form-sample form-inline row ms-auto">*@
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            Note No. :
                        </label>
                        <div class="col-md-2">
                            @*@Html.TextBoxFor(m => m.NoteNo, htmlAttributes: new { @class = "form-control", disabled = "disabled", id = "Noteno2" })*@
                            <input id="Noteno2" type="text" class="form-control" value="@Model.NoteNo" disabled>
                        </div>
                        <label class="col-form-label col-md-2">
                            Date :
                        </label>
                        <div class="col-md-2">
                            @*@Html.TextBox("EntryDate2", Model.EntryDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture),
                                htmlAttributes: new { @class = "form-control", disabled = "disabled" })*@
                            <input type="text" class="form-control" value="@(Model.EntryDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))" disabled>
                        </div>
                        <label class="col-form-label col-md-2">
                            Time :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@Model.EntryTime" disabled>
                            @*@Html.TextBox("EntryTime2", Model.EntryTime,
                                htmlAttributes: new { @class = "form-control", disabled = "disabled" })*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row g-3 align-items-center">
                                <label class="col-form-label col-md-2">Center Code & Name : </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.CentreCodenName, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            For The Month & Year :
                        </label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.FortheMonthnYear,
                           htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <label class="col-form-label col-md-2">
                            From Date :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@(Model.FromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))" disabled>
                            @*@Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}",
                                htmlAttributes: new { @class = "form-control", disabled = "disabled" })*@
                        </div>
                        <label class="col-form-label col-md-2">
                            To Date :
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="@(Model.ToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture))" disabled>
                            @*@Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}",
                                htmlAttributes: new { @class = "form-control", disabled = "disabled" })*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row g-3 align-items-center">
                                <label class="col-form-label col-md-2">Vehicle No. : </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Vehicleno,
                                    htmlAttributes: new
                                         {
                                             @class = "form-control",
                                        disabled = "disabled",
                                             id = "vno"
                                         })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-2">
                            Vehicle Type :
                        </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.VehicleType,
                           htmlAttributes: new { ID = "VehicleTypeDisplay", @class = "form-control canclear", disabled = "disabled" })
                        </div>
                        <label class="col-form-label col-md-2">
                            Model Name :
                        </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.ModelName,
                           htmlAttributes: new { ID = "ModelNameDisplay", @class = "form-control canclear", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row g-3 align-items-center">
                                <label class="col-form-label col-md-2">Driver No. & Name : </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.DriverNonName,
                                    htmlAttributes: new { ID = "DriverNonNameDisplay", @class = "form-control canclear", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <label class="col-form-label col-md-2">
                                Approved :
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.IsApproved,
                               htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })

                            </div>
                            <label class="col-form-label col-md-2">
                                Date & Time Approved :
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.ApprovedDateTime,
                               htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })

                            </div>
                            <label class="col-form-label col-md-2">
                                Reason If Not Approved :
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.ReasonForDisApproval,
                               htmlAttributes: new { @class = "form-control canclear", disabled = "disabled" })

                            </div>

                        </div>*@

                    @*</form>*@

                </div>
            </div>
            <div class="card mb-4 mt-4">
                <div class="card-body  alert text-dark approvalForm">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-form-label">
                            <label>Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control ApproveCtrl"
                                   value="@(Model.ApprovedDateTime.Year==1?"-":Model.IsApproved?"Yes":"No")"
                                   disabled>
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Date &amp; Time Of Approval :</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control"
                                   value="@(Model.ApprovedDateTime.Year==1?"-":Model.ApprovedDateTime.ToString("dd/MM/yyyy hh:mm:ss tt",CultureInfo.InvariantCulture))"
                                   disabled>
                        </div>
                        <div class="col-md-2 col-form-label">
                            <label>Reason If Not Approved :</label>
                        </div>
                        <div class="col-md-2">
                            <textarea name="" id="" cols="10" rows="2"
                                      class="form-control pointer-default" readonly>@(!Model.IsApproved?Model.ReasonForDisApproval: "")</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="btnSection" class="col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <button id="btnLVT" type="submit" name="Submit" value="LVT"
                            class="btn btn-primary me-2"
                            @*onclick="window.location.href='local_vehicle_schedule_details_entry.html';"*@>
                        Local
                        Vehicle Schedule - Date Wise
                        Vehicle Trip Details Entry
                    </button>
                    <button id="btnOVT" type="submit" name="Submit" value="OVT"
                            class="btn btn-primary"
                            @*onclick="window.location.href='other_trip_schedule_details_entry.html';"*@>
                        Other
                        Trip Schedule - Date Wise Vehicle
                        Trip Details Entry
                    </button>
                </div>

                <div class="row" style="padding:0px">
                    <div class="col-6">
                        <div id="divErrorLVS" class="alert alert-danger alert-dismissible fade show inVisible">
                            @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
                            <label id="lblErrorLVS"></label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="divErrorOTS" class="alert alert-danger alert-dismissible fade show inVisible">
                            @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
                            <label id="lblErrorOTS"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Section3" class="bgColor mt-4 bg-transparent border-red text-center">
                <ul style="list-style:none;">
                    <li style="font-size: 16px;">
                        The Entry Is Done As Per Policy &amp; As Required:
                        <select id="submitConfirmation" onchange="ValidateAcceptCmb()"
                                style="width:110px"
                                class="form-select canclear pointer is-invalid"
                                aria-label="Default select example" disabled>
                            <option selected value="">-</option>
                            <option value="1">Yes</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
@section headers
    {
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/mySLUCtrl.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
    <script src="~/UIContent/JS/CustomePage/CTV/EditNote.js"></script>
    <script>
        $(document).ready(function () {
            //var mymsg = '@ViewBag.ErrMsg';
            if ('@ViewBag.ErrMsg' != '') {
                var mymsg = '@ViewBag.ErrMsg';
                MyAlert(3, mymsg);
            };
            if ('@ViewBag.Msg' != '') {
                var mymsg = '@ViewBag.Msg';
                MyAlertWithRedirection(1, mymsg, '/Security/CTV2/Index');

            };
        });
    </script>
    
}
