@using System.Globalization;
@using CBBW.BOL.Task;
@model Header

<div class="container">
    @Html.HiddenFor(x => x.CanDelete)
    @Html.HiddenFor(x => x.NavigationId)
    <div class="row newTable">
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 ">
                    <div class="leftButton">
                        <button type="button" id="btnBack" class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>

                        @if (Model.CanDelete)
                        {

                            <button onclick="SaveData();" id="btnDelete" type="button" name="Delete" value="Delete"
                                    class="btn btn-primary me-2">
                                <i data-feather="trash-2"></i>
                                Delete
                            </button>
                        }
                        else
                        {
                            <button disabled type="button" id="SubmitBtn" name="Final" class="btn btn-secondary me-2" onclick="SaveData();">
                                <i data-feather="upload"></i>
                                Submit
                            </button>
                            
                            <button type="button" onclick="ClearBtnClicked('/RBAC/Task/Edit?ID=@Model.NavigationId&Module=@Model.ModuleName&SubModule=@Model.SubModuleName&NavModule=@Model.NavigationName&CanDelete=0&CBUID=0')" class="btn btn-white">
                                <i data-feather="x-circle"></i>
                                Clear
                            </button>
                        }
                        </div>
                    <h2>Task Master @Model.HeaderText </h2>
                </div>
            </div>
        </div>


        <div class="col-md-12 mb-5">
            <div class="card mt-4">
                <div class="card-body approvalForm">
                    <div class="form-sample form-inline row ms-auto" id="MainDiv">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2 col-form-label">
                                <label>Module Name :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="ModuleName" type="text" disabled class="form-control pointer" value="@Model.ModuleName">


                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2 col-form-label">
                                <label>Sub Module Name :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="SubModuleName" type="text" disabled data-name="SubModuleName" value="@Model.SubModuleName" class="form-control pointer">
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2 col-form-label">
                                <label>Navigation Name :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="NavigationName" type="text" disabled data-name="NavigationName" value="@Model.NavigationName" class="form-control pointer">
                            </div>
                        </div>

                        <div class="row d-flex align-items-center">
                            <div class="table-responsive" id="ModuleDive">
                                <table class="table table-bordered w-100" id="ModuleTable">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="vertical-align: middle; background-color: pink; color: #000;">Action </th>
                                            <th scope="col" style="vertical-align: middle;">Task Master  Name</th>
                                        </tr>
                                    </thead>


                                    <tbody id="tbody1">
                                        <tr id="0" class="add-row">
                                            <td class="text-center">
                                                <input class="form-check-input alterID float-none CustomDateFormatCloneRow" type="checkbox" id="IsActiveInt" name="IsActiveInt" data-name="IsActiveInt" value="0" onclick="IsActiveClick()">

                                            </td>
                                            <td class="text-left">
                                                <div id="TaskName" class="form-control pointer alterID CustomDateFormatCloneRow" data-name="TaskName">
                                                </div>
                                                <input id="TaskId" type="text" data-name="TaskId" class="form-control alterID CustomDateFormatCloneRow inVisible">
                                                <input id="ID" type="text" data-name="ID" class="form-control alterID CustomDateFormatCloneRow inVisible">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody id="tbody2"></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section headers
    {
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }

        input[type="date"]::before {
            right: 30px;
        }
    </style>

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/mySLUCtrl.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
    <script src="~/UIContent/JS/CustomePage/Task/EditTaskModule.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnBack').click(function () {
                var url = "/RBAC/Task/Index";
                if ($('#NavigationName').val() != "") {
                    MyAlertWithRedirection(2, "Are You Sure Want to Go Back?", url);
                } else {
                    window.location.href = url;
                }


            });
        });
    </script>
}